In [1013]:
import itertools

import numpy
import pandas as pd
import random
import sklearn
from sklearn.model_selection import train_test_split
import datetime
from sklearn import metrics
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sb

In [1014]:
"""
Our first goal is going to be data cleaning and munging. We want to take care of all null values
first.
"""

df_training = pd.read_csv('police_killings_train.csv')
df_test = pd.read_csv('police_killings_test.csv')
df_race_city = pd.read_csv('share_race_by_city.csv')
df_income = pd.read_csv('income.csv', encoding="ANSI")
df_poverty = pd.read_csv('poverty.csv', encoding="ANSI")
df_education = pd.read_csv('education.csv', encoding="ANSI")

df_test.info()
df_training

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 507 entries, 0 to 506
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       507 non-null    int64
 1   name                     507 non-null    object
 2   date                     507 non-null    object
 3   manner_of_death          507 non-null    object
 4   armed                    504 non-null    object
 5   age                      467 non-null    float64
 6   gender                   507 non-null    object
 7   race                     403 non-null    object
 8   city                     507 non-null    object
 9   state                    507 non-null    object
 10  signs_of_mental_illness  507 non-null    bool
 11  threat_level             507 non-null    object
 12  flee                     469 non-null    object
 13  body_camera              507 non-null    bool
dtypes: bool(2), float64(1), int64(1), object(10)
memory usage: 48.6+ KB

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
0,3,Tim Elliot,02/01/15,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False
1,4,Lewis Lee Lembke,02/01/15,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False
2,5,John Paul Quintero,03/01/15,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False
3,8,Matthew Hoffman,04/01/15,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False
4,9,Michael Rodriguez,04/01/15,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023,2256,Jeremy Lopez-Robledo,24/01/17,shot,knife,29.0,M,H,Las Cruces,NM,True,attack,Foot,True
2024,2257,Jonathan David Sper,24/01/17,shot,unarmed,30.0,M,W,Algoma Township,MI,True,attack,Not fleeing,False
2025,2258,Jose Efrain Rodriguez,24/01/17,shot and Tasered,gun,18.0,M,H,Lancaster City,PA,False,attack,Not fleeing,False
2026,2259,Ramon Milanez,24/01/17,shot,gun,32.0,M,H,Kuna,ID,False,attack,Car,False
2027,2260,Micah R. Lambert,25/01/17,shot,vehicle,37.0,M,W,Oxford,AL,True,attack,Car,False

In [1015]:
"""
We will combine the training and tesing dataset to make cleaning easier and more accurate
"""

df_total = df_training.append(df_test, ignore_index=True)
df_total

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
0,3,Tim Elliot,02/01/15,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False
1,4,Lewis Lee Lembke,02/01/15,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False
2,5,John Paul Quintero,03/01/15,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False
3,8,Matthew Hoffman,04/01/15,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False
4,9,Michael Rodriguez,04/01/15,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2530,2822,Rodney E. Jacobs,28/07/17,shot,gun,31.0,M,NaN,Kansas City,MO,False,attack,Not fleeing,False
2531,2813,TK TK,28/07/17,shot,vehicle,NaN,M,NaN,Albuquerque,NM,False,attack,Car,False
2532,2818,Dennis W. Robinson,29/07/17,shot,gun,48.0,M,NaN,Melba,ID,False,attack,Car,False
2533,2817,Isaiah Tucker,31/07/17,shot,vehicle,28.0,M,B,Oshkosh,WI,False,attack,Car,True
2534,2815,Dwayne Jeune,31/07/17,shot,knife,32.0,M,B,Brooklyn,NY,True,attack,Not fleeing,False

In [1016]:
print(df_income.info())
df_race_city.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29322 entries, 0 to 29321
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Geographic Area  29322 non-null  object
 1   City             29322 non-null  object
 2   Median Income    29271 non-null  object
dtypes: object(3)
memory usage: 687.4+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29268 entries, 0 to 29267
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Geographic area        29268 non-null  object
 1   City                   29268 non-null  object
 2   share_white            29268 non-null  object
 3   share_black            29268 non-null  object
 4   share_native_american  29268 non-null  object
 5   share_asian            29268 non-null  object
 6   share_hispanic         29268 non-null  object
dtypes: object(7)
memory usage: 1.6+ MB

In [1017]:
"""
There are many missing fields across all the supporting/optional datasets, in order to resolve this we need
to merge these datasets and then make the necessary imputation.
1. All data sets have a state and city type columns, merge those columns such that they can all have a column
to for indexing.
2. Get the list of cities within the mandatory dataset, we need to confirm that the supporting dataset
has these cities and if not then we need to impute.
"""
#make a list of unique cities, and include the state so we don't deal with same city names of different states
df_total['city'] = df_total[['state', 'city']].apply("-".join,axis=1)
df_race_city['city'] = df_race_city[['Geographic area', 'City']].apply("-".join,axis=1)
df_income['city'] = df_income[['Geographic Area', 'City']].apply("-".join,axis=1)
df_poverty['city'] = df_poverty[['Geographic Area', 'City']].apply("-".join,axis=1)
df_education['city'] = df_education[['Geographic Area', 'City']].apply("-".join,axis=1)
df_income = df_income.drop(['Geographic Area', 'City'], axis=1)
df_poverty = df_poverty.drop(columns=['Geographic Area', 'City'])
df_education = df_education.drop(columns=['Geographic Area', 'City'])
cities = df_total['city'].tolist()
cities =list(set(cities))
print(len(cities))
cities

1534

['TN-Columbia',
 'GA-Sylvester',
 'IL-Metropolis',
 'AL-Selma',
 'SC-Johnsonville',
 'AL-Lawrence County',
 'TN-Gibson County',
 'NC-Wilkesboro',
 'VA-Stafford',
 'CA-Riverside',
 'PA-Lewistown',
 'FL-Homestead',
 'TN-Bristol',
 'AZ-Surprise',
 'HI-Keaau',
 'AZ-Red Valley',
 'IL-Springfield',
 'OH-Cincinnati',
 'MO-Poplar Bluff',
 'CA-Shafter',
 'PA-Bloomsburg',
 'DE-Middletown',
 'SC-Lexington',
 'TX-Sunset',
 'MN-Columbia Heights',
 'TN-Raleigh',
 'TX-Mesquite',
 'MI-Berrien County',
 'IN-Indianapolis',
 'AL-Brooksville',
 'AL-Muscle Shoals',
 'WI-Monroe',
 'KY-Booneville',
 'NE-Sidney',
 'OH-Kent',
 'CO-Aurora',
 'WI-Millston',
 'UT-Provo',
 'GA-East Point',
 'TX-Rosenberg',
 'MI-Manistee',
 'NM-Alamogordo',
 'AL-Eufaula',
 'CA-Turlock',
 'SD-Rapid City',
 'CA-Desert Edge',
 'IA-Urbandale',
 'MA-Roslindale',
 'NY-Schenectady',
 'MO-Buffalo',
 'CA-Bell',
 'CA-Delhi',
 'KY-Daviess County',
 'CA-Burbank',
 'AR-Bull Shoals',
 'CA-Oxnard',
 'RI-Pawtucket',
 'AL-Phenix City',
 'GA-Commerce',
 'CA-Yuba City',
 'TX-Kerrville',
 'VA-Harrisonburg',
 'WA-Cle Elum',
 'TN-Johnson City',
 'AK-Fairbanks',
 'OH-Hudson',
 'TX-San Angelo',
 'CA-Lodi',
 'MS-St. Martin',
 'SC-Chesterfield County',
 'GA-Rockville',
 'PA-Penn Township',
 'MI-Lansing',
 'ND-Mandan',
 'OR-Eugene',
 'KS-Lehigh',
 'WV-Elkins',
 'UT-Ogden',
 'AR-Sims',
 'CA-Bellflower',
 'OH-Howland Township',
 'TX-El Paso',
 'WV-Montcalm',
 'MA-Beverly',
 'IL-Hurst',
 'TN-Counce',
 'OR-Medford',
 'FL-Cantonment',
 'CO-Fountain',
 'CA-Hawaiian Gardens',
 'NC-Statesville',
 'MN-Alexandria',
 'KY-Lancaster',
 'AL-Washington County',
 'AL-Saraland',
 'OK-Healdton',
 'WA-Wapato',
 'UT-Logan Canyon',
 'LA-Mamou',
 'CA-Cottonwood',
 'KS-Hutchinson',
 'WI-Fond du Lac',
 'NM-Pueblo of Laguna',
 'GA-Douglas',
 'IL-Chicago',
 'WY-Laramie',
 'TN-Clarksville',
 'NE-Omaha',
 'FL-Opa-Locka',
 'TX-Gladewater',
 'NC-Lawndale',
 'OH-Uniontown',
 'OK-Colbert',
 'OR-Tualatin',
 'TN-McLemoresville',
 'PA-Pittsburgh',
 'WV-Hometown',
 'KY-London',
 'CA-El Monte',
 'LA-Bossier City',
 'MN-Vadnais Heights',
 'GA-Savannah',
 'CA-Vista',
 'MO-Odessa',
 'GA-Ludowici',
 'CA-Wilmington',
 'OR-Gresham',
 'MN-Morris',
 'GA-Brooklet',
 'OK-Schulter',
 'CA-Redlands',
 'AZ-Parker',
 'SC-Pelzer',
 'TX-Hutchins',
 'FL-Niceville',
 'MN-Hutchinson',
 'CA-Clearlake Park',
 'CA-El Cajon',
 'WI-Green Bay',
 'FL-Sneads',
 'CA-Palm Springs',
 'CO-Commerce City',
 'CA-Elk Grove',
 'GA-Smyrna',
 'TX-Panhandle',
 'FL-Oakland Park',
 'WI-Beaver Dam',
 'TX-Fritch',
 'VA-Emporia',
 'MI-Romulus',
 'WA-Vancouver',
 'MO-Columbia',
 'ME-Waldoboro',
 'PA-Avella',
 'OH-Akron',
 'WV-Weirton',
 'IN-Kokomo',
 'VA-Hopewell',
 'AR-Farmington',
 'AR-Marion',
 'SC-Lake View',
 'MO-Affton',
 'NJ-Hackensack',
 'CA-Coalinga',
 'FL-Delray Beach',
 'OK-Broken Bow',
 'CA-South Gate',
 'WI-Greenfield',
 'MI-Marion',
 'NM-Taos',
 'NC-Efland',
 'AL-Sylacauga',
 'MD-North East',
 'CO-Parker',
 'WA-Bellingham',
 'LA-New Iberia',
 'CA-Fullerton',
 'HI-Kahuku',
 'NH-Claremont',
 'NC-Spring Lake',
 'SC-Goose Creek',
 'WV-Morgantown',
 'OK-McAlester',
 'CA-Brawley',
 'CA-San Ysidro',
 'WY-Casper',
 'FL-Orange County',
 'NC-Hudson',
 'VA-Alexandria',
 'TX-Tahoka',
 'CA-Hawthorne',
 'CA-La Quinta',
 'WA-Wenatchee',
 'FL-Hog Valley',
 'SC-Little Mountain',
 'FL-Navarre',
 'LA-Franklin',
 'NM-Rowe',
 'CA-Kings County',
 'CO-Montrose County',
 'KY-Lawrenceburg',
 'KY-Pine Top',
 'MD-Randallstown',
 'OK-Rush Springs',
 'FL-Jacksonville',
 'WA-Muckleshoot Indian Reservation',
 'PA-Union Township',
 'MI-Columbia Township',
 'MT-Huntley',
 'WA-Kirkland',
 'NV-Boulder City',
 'FL-Englewood',
 'NY-New Paltz',
 'MN-Vineland',
 'NC-Stoneville',
 'CA-Hayward',
 'CA-Anaheim',
 'FL-Fort Lauderdale',
 'CA-Whittier',
 'OK-Bethany',
 'OK-Burns Flat',
 'OK-Cushing',
 'TN-Morristown',
 'MS-Ruth',
 'OH-Dayton',
 'CA-Hollywood',
 'CA-Antelope',
 'MO-McDowell',
 'MN-Fridley',
 'FL-Tampa',
 'CA-Escondido',
 'OK-Kellyville',
 'TN-Elizabethton',
 'NC-Rutherfordton',
 'AK-Wasilla',
 'NY-Troy',
 'SC-Myrtle Beach',
 'MI-Hessel',
 'OH-Cleveland',
 'FL-Orlando',
 'CA-Santa Maria',
 'CA-Merced',
 'OK-Sand Springs',
 'MD-Fort Meade',
 'CT-Oakdale',
 'CA-Hemet',
 'PA-Chester',
 'WV-Bluefield',
 'AL-Arab',
 'VA-Grayson County',
 'CA-Madera',
 'WI-Geneva',
 'TN-West Knox',
 'ME-Madison',
 'TX-Reno',
 'MD-Mt Airy',
 'NC-Clinton',
 'NC-Durham',
 'PA-Somerset',
 'TX-Corpus Christi',
 'CA-Downey',
 'IA-Burlington',
 'CA-Barona Indian Reservation',
 'CA-Camarillo',
 'WA-Lynnwood',
 'TX-Fort Stockton',
 'MN-Mankato',
 'UT-Aragonite',
 'MO-North St. Louis',
 'CA-Twentynine Palms',
 'VA-Chesapeake',
 'CA-Studio City',
 'KY-Phelps',
 'CA-Seaside',
 'OK-Wewoka',
 'NC-Franklin',
 'CT-Fairfield',
 'AZ-Golden Valley',
 'MO-Blue Springs',
 'CA-Palo Alto',
 'CA-Clovis',
 'IA-Boone',
 'CA-Norwalk',
 'FL-DeLand',
 'CA-Valinda',
 'KS-Topeka',
 'CA-Moreno Valley',
 'PA-Canaan Township',
 'PA-East Stroudsburg',
 'IN-French Lick',
 'FL-Pompano Beach',
 'LA-New Orleans',
 'LA-Mandeville',
 'KS-McPherson',
 'MO-Sullivan',
 'KY-Fisty',
 'VA-Woodford',
 'CA-City Terrace',
 'ID-Melba',
 'OH-Colebrook Township',
 'TX-Lockhart',
 'ID-Idaho Falls',
 'VA-Pulaski',
 'IL-Round Lake',
 'OK-Lawton',
 'FL-Naples',
 'AZ-Maricopa',
 'GA-Mableton',
 'IN-English',
 'MI-Grand Rapids',
 'TX-Oak Cliff',
 'CO-Fort Collins',
 'AL-Deer Park',
 'OK-Millerton',
 'CA-Happy Valley',
 'AZ-Buckeye',
 'MS-Water Valley',
 'KS-Colby',
 'AL-Eastaboga',
 'MS-Tupelo',
 'TX-Terrell',
 'WV-Mount Hope',
 'MO-Big Bear',
 'CT-Mashantucket',
 'CA-Calexico',
 'AZ-Marana',
 'GA-Stone Mountain',
 'NY-New City',
 'IN-Hanover',
 'CA-Ripon',
 'CT-Bolton',
 'OH-Fairborn',
 'WA-Ridgefield',
 'WV-Princeton',
 'MO-Sedalia',
 'WA-Graham',
 'NC-Dublin',
 'FL-Pinellas Park',
 'CA-La Mirada',
 'DE-Claymont',
 'AZ-Morenci',
 'NE-Louisville',
 'WI-Wausau',
 'AZ-Pima',
 'AZ-Winslow',
 'CA-Poway',
 'IL-Lawndale',
 'OH-Rome',
 'AR-Little Rock',
 'FL-Cape Canaveral',
 'NY-Cheektowaga',
 'WY-Cheyenne',
 'WI-Weston',
 'MO-Cape Girardeau',
 'CA-Yorba Linda',
 'IL-Shawnee National Forest',
 'CA-Concord',
 'AR-Mountain Pine',
 'CA-Sunnyvale',
 'WA-Bainbridge Island',
 'TN-Chattanooga',
 'ID-Kuna',
 'AK-Big Lake',
 'SD-Kyle',
 'MD-Elkton',
 'SC-Boiling Springs',
 'NY-Beacon',
 'MN-Falcon Heights',
 'CA-Van Nuys',
 'FL-Thonotosassa',
 'FL-Fort Pierce',
 'NY-Staten Island',
 'PA-Philadelphia',
 'IN-Beech Grove',
 'DE-Frederica',
 'CT-Thomaston',
 'NC-Ronda',
 'TX-McKinney',
 'WV-Augusta',
 'VA-Pearisburg',
 'PA-Straban Township',
 'MI-Belleville',
 'FL-Crystal Springs',
 'DE-Smyrna',
 'NC-Iredell County',
 'UT-Syracuse',
 'CA-Needles',
 'CO-New Castle',
 'TX-Austin',
 'TN-Shelbyville',
 'VA-Fredericksburg',
 'NJ-Toms River',
 'AL-Homewood',
 'KY-Elizabethtown',
 'SC-Irmo',
 'AL-Rainbow City',
 'GA-Port Wentworth',
 'FL-Plantation',
 'AZ-Chandler',
 'GA-Rossville',
 'CA-Douglas City',
 'AZ-Florence',
 'GA-Jesup',
 'CO-Grand Junction',
 'GA-Fort Valley',
 'FL-Milton',
 'OH-Mansfield',
 'CA-Dunsmuir',
 'FL-Deltona',
 'MO-Ozark',
 'WA-Yakima',
 'CA-Rancho Santa Margarita',
 'AL-Gadsden',
 'CA-San Francisco',
 'CA-Jurupa Valley',
 'KS-Wichita',
 'TX-Abilene',
 'CA-Atascadero',
 'OK-Hominy',
 'FL-Jupiter',
 'VA-Aldie',
 'TN-Nashville',
 'MD-Middle River',
 'CO-Pueblo',
 'SC-Piedmont',
 'MI-Dearborn',
 'OK-Wetumka',
 'GA-Bonaire',
 'AL-Killeen',
 'OK-Anadarko',
 'ID-Hammett',
 'FL-Yulee',
 'MS-Hattiesburg',
 'ME-Arundel',
 'FL-Orange City',
 'IA-Cedar Rapids',
 'CA-Boulder Creek',
 'LA-Evangeline Parish',
 'ID-Sandpoint',
 'TX-Del Rio',
 'WA-Federal Way',
 'TX-Beaumont',
 'CA-Olympic Valley',
 'OK-Rufe',
 'TN-Humboldt',
 'AZ-Bisbee',
 'IN-Knox',
 'MI-Wyoming',
 'FL-Gainesville',
 'OH-Zanesville',
 'NM-Hobbs',
 'WI-Rib Mountain',
 'CA-Tehachapi',
 'KY-Bowling Green',
 'FL-Miami',
 'TN-Soddy-Daisy',
 'TX-Fort Worth',
 'CA-Maywood',
 'LA-Livingston Parish',
 'TX-Groveton',
 'IA-Wellman',
 'TX-Bellville',
 'WA-Spanaway',
 'WI-Appleton',
 'PA-Chambersburg',
 'KY-Owensboro',
 'LA-Crowley',
 'FL-Lakeland',
 'FL-Loxahatchee',
 'TX-Dallas',
 'TX-Amarillo',
 'MI-Bay City',
 'MT-Superior',
 'CT-Suffield',
 'KY-Fulton',
 'IL-Dolton',
 'PA-Sharon',
 'NJ-Ideal Beach',
 'CA-Orange',
 'TX-Irving',
 'MT-Livingston',
 'CA-Point Loma',
 'UT-West Jordan',
 'NC-Rowland',
 'GA-Eden',
 'OK-Guthrie',
 'CO-Brighton',
 'CA-Montclair',
 'KS-Rosalia',
 'MT-Malta',
 'GA-Barrow County',
 'AR-Dover',
 'GA-Cochran',
 'FL-Bradenton',
 'NM-Roswell',
 'CO-Federal Heights',
 'IN-Goshen',
 'DC-Washington',
 'OK-Midwest City',
 'MN-Eagan',
 'NJ-Maurice River',
 'PA-Pittston',
 'NC-Greenville',
 'KY-Russellville',
 'CA-Delano',
 'WI-Lake Hallie',
 'CA-Santa Monica',
 'TX-Houston',
 'CA-Eureka',
 'VA-Roanoke',
 'AL-Jackson County',
 'TX-Arlington',
 'MO-Springfield',
 'OH-Southington',
 'AL-Monroeville',
 'CA-Winchester',
 'CO-Park County',
 'NY-Islip',
 'IL-East St. Louis',
 'NM-Jal',
 'CA-Lake Elsinore',
 'IL-Marion',
 'AZ-San Manuel',
 'MI-Southfield',
 'SC-Aiken',
 'TN-Lewisburg',
 'CA-San Bernardino',
 'CA-Montebello',
 'SC-Campobello',
 'CA-San Mateo',
 'AL-Meridianville',
 'WY-Douglas',
 'NC-East Flat Rock',
 'CA-Sylmar',
 'ID-Council',
 'OK-Pryor',
 'AR-England',
 'MN-Minneapolis',
 'LA-Raceland',
 'TX-Port Arthur',
 'OH-Northwood',
 'IL-Rantoul',
 'MO-Jackson',
 'MA-Everett',
 'SD-Rosebud',
 'MI-Bloomfield Township',
 'OR-Bend',
 'TX-Midland',
 'AZ-Flagstaff',
 'WA-East Wenatchee',
 'MN-Peterson',
 'CA-Fairfield',
 'CA-San Diego County',
 'CA-Byron',
 'LA-Cade',
 'NV-Pahrump',
 'OR-Josephine County',
 'OR-King City',
 'CA-Lancaster',
 'OR-Salem',
 'UT-Roy',
 'CA-Sacramento',
 'PA-Wilkinsburg',
 'CA-Carson',
 'WI-Corning',
 'AZ-La Paz County',
 'IL-Forest Park',
 'CA-Watsonville',
 'OR-Colton',
 'TX-Victoria',
 'LA-Pride',
 'AZ-Phoenix',
 'OR-Oregon City',
 'SD-Rapid Valley',
 'MI-St. Joseph',
 'CA-Cabazon',
 'KS-Hays',
 'SC-Lake City',
 'MS-Southaven',
 'AR-West Memphis',
 'PA-West Chester',
 'NY-Clarendon',
 'OR-McMinnville',
 'NY-Coney Island',
 'CA-Marina',
 'CA-Fair Oaks',
 'MA-Lynn',
 'MD-Columbia',
 'IL-Jerseyville',
 'CA-Venice',
 'TX-Fulshear',
 'NY-Greece',
 'IN-Muncie',
 'MN-Burnsville',
 'MO-Nevada',
 'SC-Taylors',
 'KY-Morehead',
 'MN-Bloomington',
 'ME-Belgrade',
 'CA-Long Beach',
 'FL-Deland',
 'OK-Ardmore',
 'OH-North Royalton',
 'TX-Harker Heights',
 'TN-Hohenwald',
 'CA-North Hills',
 'TX-Waco',
 'AL-Bay Minette',
 'WV-Meadow Bridge',
 'OK-Muskogee',
 'CA-Castaic',
 'OK-Fairfax',
 'IN-Harmony',
 'FL-Jacksonsville',
 'NM-Eldorado',
 'NJ-Paterson',
 'FL-Wellington',
 'UT-Draper',
 'CA-Azusa',
 'CA-Highgrove',
 'ME-Presque Isle',
 'VA-Winchester',
 'OH-Twinsburg',
 'MI-Brighton Township',
 'NC-Gastonia',
 'CA-Cerritos',
 'FL-Pensacola',
 'ID-Middleton',
 'NJ-Lyndhurst',
 'KY-Richmond',
 'MD-Montgomery Village',
 'MS-Barton',
 'NC-Asheville',
 'MS-Columbus',
 'WA-Everett',
 'WV-Clendenin',
 'IL-Rock Island',
 'TX-Splendora',
 'OH-Geneva Township',
 'CA-Visalia',
 'WA-Fife',
 'WV-Nitro',
 'ID-Jefferson County',
 'OR-Wilderville',
 'WI-Sheboygan',
 'KY-Louisville',
 'NJ-Newark',
 'NC-Fayetteville',
 'CA-Glendale',
 'TX-Katy',
 'TX-Euless',
 'NV-Gardnerville Ranchos',
 'WA-Pasco',
 'CA-Aguanga',
 'IL-Stockton',
 'MI-Warren',
 'CO-Northglenn',
 'TX-Azle',
 'NJ-Vineland',
 'NY-Buffalo',
 'NC-Archdale',
 'FL-Palm Harbor',
 'AL-Tuscumbia',
 'WA-Hunters',
 'NC-Granite Falls',
 'NM-Ruidoso',
 'FL-Manatee',
 'NC-Canton',
 'LA-Converse',
 'GA-Marietta',
 'FL-Largo',
 'OK-Byng',
 'CA-Redding',
 'TX-Edinburg',
 'TN-Alamo',
 'IL-Arcola',
 'TX-Palestine',
 'TN-Reagan',
 'NM-Socorro',
 'FL-Miami Beach',
 'CA-Chula Vista',
 'IN-Terre Haute',
 'MS-Gulfport',
 'IA-Des Moines',
 'CA-Irvine',
 'GA-Elberton',
 'NV-North Las Vegas',
 'WI-Antigo',
 'CA-Santa Ana',
 'OH-Findlay',
 'AR-Perryville',
 'PA-Harrisburg',
 'GA-Moultrie',
 'NM-Los Lunas',
 'SC-Hardeeville',
 'PA-Johnstown',
 'FL-Middleburg',
 'OR-Wolf Creek',
 'TX-Jourdanton',
 'FL-North Port',
 'MN-Cohasset',
 'NJ-Woodbridge',
 'CA-Boyle Heights',
 'KY-Simpsonsville',
 'SC-Summerville',
 'AL-Birmingham',
 'AL-Clanton',
 'MO-Harrisonville',
 'CA-Hesperia',
 'MA-West Springfield',
 'TX-Winnie',
 'VA-Arlington',
 'CA-Inyokern',
 'WV-Petroleum',
 'TX-Lake Jackson',
 'NC-Ashe County',
 'KS-Kansas City',
 'NC-Greensboro',
 'CA-Wasco',
 'WI-Oshkosh',
 'CA-West Covina',
 'TX-Onalaska',
 'LA-Alexandria',
 'TX-Plano',
 'NC-Wake Forest',
 'WI-Neenah',
 'FL-Weeki Wachi',
 'TX-San Antonio',
 'CO-Bailey',
 'WI-Pembine',
 'AZ-Cottonwood',
 'GA-Valdosta',
 'IL-Rockford',
 'TX-Ellis County',
 'IL-River Forest',
 'TX-Carrollton',
 'AL-Opp',
 'OK-Logan County',
 'FL-Belle Glade',
 'KY-Chavies',
 'IN-Elkhart',
 'WA-Thurston County',
 'TX-Rosser',
 'SC-North Charleston',
 'CA-Olivehurst',
 'GA-Peachtree City',
 'SC-Pendleton',
 'CA-Lakewood',
 'CA-San Fernando',
 'WV-Beckley',
 'TX-Pearland',
 'CA-Barstow',
 'NJ-Bridgeton',
 'MN-Plymouth',
 'KY-White Plains',
 'NV-Sparks',
 'NY-Glenville',
 'NH-Peterborough',
 'TX-Nocona',
 'NJ-Little Egg Harbor',
 'CA-South Los Angeles',
 'NC-Maiden',
 'WI-Ashwaubenon',
 'NY-Mount Vernon',
 'TX-Seagoville',
 'SC-Seneca',
 'NJ-Trenton',
 'CA-Grover Beach',
 'TN-Gray',
 'MS-Petal',
 'OK-Cache',
 'AZ-Bullhead City',
 'CT-Bridgeport',
 'AL-Tuscaloosa',
 'VA-Scott County',
 'PA-Hummelstown',
 'MT-Three Forks',
 'FL-Orange Park',
 'SC-Iva',
 'CA-Gardena',
 'OH-Westlake',
 'WA-Beaver',
 'WA-Tukwila',
 'CA-Rosemead',
 'OR-Clackamas County',
 'CA-Chino',
 'AZ-Kearny',
 'HI-Honolulu',
 'MA-Taunton',
 'CA-Oakland',
 'KY-Trosper',
 'OH-Sylvania Township',
 'MD-Landover',
 'PA-Upper Darby',
 'GA-White',
 'ID-Garden City',
 'KS-Olathe',
 'FL-Panama City Beach',
 'GA-Augusta',
 'CA-Windsor',
 'CA-Yreka',
 'TN-Lakeland',
 'TX-Killeen',
 'CA-Cathedral City',
 'OH-Columbus',
 'CA-Monterey',
 'MI-Kentwood',
 'CA-Compton',
 'TX-Spring',
 'CA-Fremont',
 'HI-Hilo',
 'GA-Loganville',
 'TX-Allen',
 'OH-Mt. Auburn',
 'CA-Siskiyou County',
 'UT-Centerville',
 'OH-Vandalia',
 'MN-Austin',
 'CA-Campo',
 'MD-District Heights',
 'TX-Clute',
 'AK-Kenai Peninsula',
 'CA-Del Mar',
 'TX-Bexar County',
 'RI-Tiverton',
 'CA-Lompoc',
 'MN-New Hope',
 'FL-Palm Beach Gardens',
 'AR-Cabot',
 'OR-Beaverton',
 'VA-Norman',
 'TX-Ponder',
 'CA-Temecula',
 'VA-York County',
 'TN-Oneida',
 'CA-Colton',
 'TX-Temple',
 'MI-Benton Harbor',
 'FL-Palm Bay',
 'CA-Vallejo',
 'OH-Circleville',
 'MD-Owings Mills',
 'TX-Baytown',
 'MN-St. Cloud',
 'CA-Selma',
 'TX-Llano',
 'OR-Portland',
 'LA-Ouachita Parish',
 'MI-Beaverton',
 'FL-Lealman',
 'GA-Tyrone',
 'CO-Englewood',
 'TX-Mission',
 'IL-Markham',
 'IL-Benton',
 'UT-Clearfield',
 'NJ-Manchester',
 'MA-Boston',
 'FL-St. Petersburg',
 'PA-Lancaster City',
 'GA-Covington',
 'WI-Kenosha',
 'WA-Richland',
 'AL-Macon County',
 'CA-Rancho Cordova',
 'ME-Vassalboro',
 'GA-Stockbridge',
 'NM-Artesia',
 'PA-Mount Washington',
 'KY-Brodhead',
 'HI-Papaaloa',
 'IL-Zion',
 'CA-Santa Cruz',
 'LA-Houma',
 'PA-York',
 'IL-Joilet',
 'AZ-Tempe',
 'OK-Oklahoma City',
 'AR-Jonesboro',
 'NC-Pinnacle',
 'FL-Plant City',
 'IL-Clinton',
 'OK-Leedey',
 'NY-Bronx',
 'MD-Dundalk',
 'WA-Kelso',
 'NC-Lumberton',
 'ID-Mountain Home',
 'NC-Gaston County',
 'PA-Lancaster',
 'CA-East Hollywood',
 'KS-Udall',
 'TN-East Ridge',
 'LA-Slidell',
 'WA-Spokane',
 'TX-Wink',
 'TX-Weatherford',
 'AK-Barrow',
 'NY-Berne',
 'HI-Aiea',
 'FL-West Palm Beach',
 'MD-Rising Sun',
 'LA-Lakes Charles',
 'FL-Miami Gardens',
 'CA-Pico Rivera',
 'KY-Ludlow',
 'MT-Billings',
 'OK-Wagoner',
 'GA-Woodstock',
 'AR-Sheridan',
 'CA-Hollywood Hills',
 'TN-Decatur County',
 'NE-Lincoln',
 'OR-Burns',
 'FL-Port St. Lucie',
 'NJ-Atlantic City',
 'FL-Hallandale Beach',
 'CA-Hacienda Heights',
 'WI-Eau Claire',
 'WA-Sumas',
 'MD-Salisbury',
 'AZ-Sun City',
 'OH-Richmond Heights',
 'NC-Brevard',
 'GA-Acworth',
 'TN-Estill Springs',
 'TX-Campbellton',
 'TX-North Laredo',
 'CO-Strasburg',
 'CO-Eldorado Springs',
 'WV-Hensley',
 'GA-Cedartown',
 'OH-Celina',
 'NH-Merrimack',
 'MN-Aitkin',
 'NM-San Rafael',
 'LA-Winnsboro',
 'OR-West Linn',
 'KS-Newton',
 'IL-Alton',
 'WV-Brandywine',
 'TX-Longview',
 'CA-Union City',
 'CA-Chowchilla',
 'IN-Fishers',
 'TX-Beckville',
 'AZ-Somerton',
 'FL-Lake Asbury',
 'NM-Crownpoint',
 'VA-Falls Church',
 'MD-Greenbelt',
 'MO-Sugar Creek',
 'IL-Deerfield',
 'GA-Douglasville',
 'NC-Dallas',
 'GA-Newnan',
 'UT-Salt Lake City',
 'CA-Ontario',
 'CO-Greeley',
 'NJ-Byram',
 'DE-New Castle',
 'TX-Levelland',
 'MI-Ishpeming Township',
 'PA-Allentown',
 'GA-Riverdale',
 'TN-Lenoir City',
 'MO-Maysville',
 'LA-Homer',
 'AL-Mobile',
 'KY-Princeton',
 'MA-Webster',
 'ND-Grand Forks',
 'WI-New London',
 'WV-Braxton County',
 'IL-Lyons',
 'AZ-Golden Shores',
 'TX-Odessa',
 'LA-Kenner',
 'GA-Lawrenceville',
 'OH-Springfield',
 'WA-Grapeview',
 'CA-Smartsville',
 'SD-Sioux Falls',
 'GA-Austell',
 'LA-Gretna',
 'NY-Brooklyn',
 'WI-Madison',
 'OH-Englewood',
 'OH-Perry Township',
 'VA-Richmond',
 'NM-Santa Fe',
 'IL-Villa Park',
 'CA-San Marcos',
 'NM-Laguna Pueblo',
 'CA-Pinion Hills',
 'AL-Montgomery',
 'TX-Kingsbury',
 'SC-Edmund',
 'WA-Auburn',
 'AR-Manila',
 ...]

In [1018]:
"""
First lets merge each of the supporting datasets into df_temp.
We noticed that the missing values aren't consistent in the supporting datasets. So we need to change all types of
missing values to NAN such that we can impute using fillna().
"""
print(df_race_city.info())
df_temp = pd.merge(df_race_city, df_income, on='city', how='outer', sort=True)
df_temp = pd.merge(df_temp, df_poverty, on='city', how='outer', sort=True)
df_temp = pd.merge(df_temp, df_education, on='city', how='outer', sort=True)
columns_supp = df_temp.columns.values.tolist()
for i in columns_supp:
    df_temp[i] = df_temp[i].replace('-', '(X)')
    df_temp[i] = df_temp[i].replace('(X)', numpy.NAN)
print(df_temp.info())
df_temp

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29268 entries, 0 to 29267
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Geographic area        29268 non-null  object
 1   City                   29268 non-null  object
 2   share_white            29268 non-null  object
 3   share_black            29268 non-null  object
 4   share_native_american  29268 non-null  object
 5   share_asian            29268 non-null  object
 6   share_hispanic         29268 non-null  object
 7   city                   29268 non-null  object
dtypes: object(8)
memory usage: 1.8+ MB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 29477 entries, 0 to 29476
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Geographic area        29268 non-null  object
 1   City                   29268 non-null  object
 2   share_white            29248 non-null  object
 3   share_black            29248 non-null  object
 4   share_native_american  29248 non-null  object
 5   share_asian            29248 non-null  object
 6   share_hispanic         29248 non-null  object
 7   city                   29477 non-null  object
 8   Median Income          27418 non-null  object
 9   poverty_rate           29128 non-null  object
 10  percent_completed_hs   29132 non-null  object
dtypes: object(11)
memory usage: 2.7+ MB
None

,Geographic area,City,share_white,share_black,share_native_american,share_asian,share_hispanic,city,Median Income,poverty_rate,percent_completed_hs
0,AK,Adak city,19.6,4,5.5,52.5,8.9,AK-Adak city,78500,39.3,93.4
1,AK,Akhiok city,8.5,1.4,50.7,1.4,11.3,AK-Akhiok city,26250,40.5,62.5
2,AK,Akiachak CDP,3.5,0.2,95.1,0.2,0.2,AK-Akiachak CDP,38750,26.1,76.7
3,AK,Akiak city,5.2,0,92.8,0,0.3,AK-Akiak city,42000,31.3,81.3
4,AK,Akutan city,23.3,17.9,5.5,43.3,20.8,AK-Akutan city,24750,16.1,73
...,...,...,...,...,...,...,...,...,...,...,...
29472,WY,Woods Landing-Jelm CDP,95.9,0,0,2.1,0,WY-Woods Landing-Jelm CDP,NaN,18.6,100
29473,WY,Worland city,89.9,0.3,1.3,0.6,16.6,WY-Worland city,41523,15.3,85.6
29474,WY,Wright town,94.5,0.1,1.4,0.2,6.2,WY-Wright town,77114,5.9,89.2
29475,WY,Y-O Ranch CDP,92.8,1.5,2.6,0,11.8,WY-Y-O Ranch CDP,NaN,0,100
29476,WY,Yoder town,97.4,0,0,0,4,WY-Yoder town,37500,5.4,79.4

In [1019]:
"""
Let's try cleaning the the race of city dataset now viewing the missing datapoints which are denoted at (X).
"""
# df_temp['city'] = df_temp[['Geographic area', 'City']].apply("-".join,axis=1)
# list_race_df = df_temp.values.tolist()
# j = 0
# list_bad_cities = []
# for i in list_race_df:
#     #we can see it is only null when all races are missing
#     if(i.count('(X)') > 0):
#         j+=1
#         list_bad_cities.append(i[1])
#         print(i.count('(X)') )
# print("total cities with bad points = ", j)

"\nLet's try cleaning the the race of city dataset now viewing the missing datapoints which are denoted at (X).\n"

In [1020]:
"""With only 20/29260 holding a row of null values, we shall drop these cities"""
# tempDf_race = df_temp[df_race_city.share_white != '(X)'].copy()
# print(tempDf_race.info())
# df_race_city.info()

'With only 20/29260 holding a row of null values, we shall drop these cities'

In [1021]:
"""
We want to make sure all the cities that are in our mandatory dataset is accounted for in the supporting.
We shall add those cities if they aren't and impute them as nulls
"""
#we can check that all the cities in the total data set is still in the race_city dataset
cities2 = df_temp['city'].tolist()
cities2 =list(set(cities2))
j = 0
missing = 0
for i in cities:
    # print(i in cities2)
    # print(i)
    # print(cities2.index(i[0::1]))
    if(any(i in string for string in cities2)):
        j+=1
    else:
        newDF = {}
        print(i)
        newDF['Geographic area'] = i[0:2]
        newDF['City'] = i[3:]
        newDF['city'] = i
        ind = 0
        df_temp = df_temp.append(newDF, ignore_index=True)
        missing+=1


print(j)
print(" Was Missing ", missing)

df_temp

AL-Lawrence County
TN-Gibson County
AZ-Red Valley
TN-Raleigh
MI-Berrien County
AL-Brooksville
MA-Roslindale
KY-Daviess County
SC-Chesterfield County
GA-Rockville
PA-Penn Township
AR-Sims
OH-Howland Township
TN-Counce
FL-Cantonment
AL-Washington County
UT-Logan Canyon
NM-Pueblo of Laguna
FL-Opa-Locka
CA-Wilmington
CA-Clearlake Park
CA-San Ysidro
FL-Orange County
FL-Hog Valley
CA-Kings County
CO-Montrose County
KY-Pine Top
WA-Muckleshoot Indian Reservation
PA-Union Township
MI-Columbia Township
MS-Ruth
CA-Hollywood
MO-McDowell
MI-Hessel
CT-Oakdale
VA-Grayson County
WI-Geneva
TN-West Knox
MD-Mt Airy
CA-Barona Indian Reservation
UT-Aragonite
MO-North St. Louis
CA-Studio City
CT-Fairfield
PA-Canaan Township
KY-Fisty
VA-Woodford
CA-City Terrace
OH-Colebrook Township
TX-Oak Cliff
CA-Happy Valley
AL-Eastaboga
MO-Big Bear
CT-Bolton
IL-Lawndale
IL-Shawnee National Forest
CA-Van Nuys
NY-Staten Island
WV-Augusta
PA-Straban Township
NC-Iredell County
VA-Aldie
GA-Bonaire
AL-Killeen
ID-Hammett
ME-Arundel
LA-Evangeline Parish
CA-Olympic Valley
OK-Rufe
LA-Livingston Parish
NJ-Ideal Beach
CA-Point Loma
GA-Eden
GA-Barrow County
NJ-Maurice River
AL-Jackson County
OH-Southington
CO-Park County
CA-Sylmar
MI-Bloomfield Township
CA-San Diego County
OR-Josephine County
WI-Corning
AZ-La Paz County
OR-Colton
LA-Pride
NY-Clarendon
NY-Coney Island
CA-Venice
ME-Belgrade
FL-Deland
CA-North Hills
FL-Jacksonsville
MI-Brighton Township
NJ-Lyndhurst
MS-Barton
OH-Geneva Township
ID-Jefferson County
OR-Wilderville
WA-Hunters
TN-Reagan
OR-Wolf Creek
CA-Boyle Heights
KY-Simpsonsville
WV-Petroleum
NC-Ashe County
FL-Weeki Wachi
CO-Bailey
TX-Ellis County
OK-Logan County
KY-Chavies
WA-Thurston County
NY-Glenville
NJ-Little Egg Harbor
CA-South Los Angeles
VA-Scott County
WA-Beaver
OR-Clackamas County
HI-Honolulu
KY-Trosper
OH-Sylvania Township
PA-Upper Darby
OH-Mt. Auburn
CA-Siskiyou County
AK-Kenai Peninsula
TX-Bexar County
VA-Norman
VA-York County
LA-Ouachita Parish
NJ-Manchester
PA-Lancaster City
AL-Macon County
ME-Vassalboro
PA-Mount Washington
HI-Papaaloa
IL-Joilet
NC-Gaston County
CA-East Hollywood
NY-Berne
LA-Lakes Charles
CA-Hollywood Hills
TN-Decatur County
TX-Campbellton
TX-North Laredo
WV-Hensley
NH-Merrimack
FL-Lake Asbury
MI-Ishpeming Township
WV-Braxton County
NY-Brooklyn
OH-Perry Township
NM-Laguna Pueblo
CA-Pinion Hills
SC-Edmund
HI-Maui
NY-Edinburg
OH-Madison Township
TX-Henderson County
PA-Fort Littleton
OK-Coal County
CA-Chatsworth
PA-York County
CA-Pacific Beach
MO-St Louis
OK-Okmulgee County
VA-Powhatan County
ME-Orrington
KY-East Berstadt
NH-Bath
CA-Panorama City
GA-Cobb County
NC-Anson County
MI-Cato Township
MA-Tewksbury
UT-Milcreek
FL-Putnam Hall
OK-Tom
OK-Bunch
NJ-Brick Township
OH-Jasper
NC-Union Grove
TX-Grand Prarie
PA-Germantown
MI-Algoma Township
NJ-Winslow
GA-Lizella
FL-Barberville
PA-Huntingdon County
TN-Mt. Pleasant
CA-Watsonsville
TX-Wood County
AK-Spenard
GA-Paulding County
CA-McKinneyville
CO-Caon City
TX-Myra
LA-East Baton Rouge
FL-Little Havana
FL-Lakes Wales
NY-Queens
NJ-Cranbury Township
CA-University City
NH-Newton
PA-Forks Township
NV-Jean
WV-Gerrardstown
ND-Wood Lake
TN-Whitehaven
OH-St. Clair Township
NJ-Little Egg Harbor Township
GA-Whitfield County
VA-Arvonia
PA-Lower Mount Bethel
OK-Norwood
TX-Maryneal
FL-Osteen
MO-Franklin County
FL-Ft. Lauderdale
FL-Carollwood
AR-Desha
CA-Weitchpec
LA-Ragley
MD-Abingdon
AL-Baldwin County
KY-Gunlock
TX-Fuqua
TN-Antioch
MI-Holland Township
MO-Lampe
TX-Leon County
ME-Smyrna
MI-Eaton Rapids Township
MI-Roxand Township
OK-Pottawatomie County
1300
 Was Missing  234

,Geographic area,City,share_white,share_black,share_native_american,share_asian,share_hispanic,city,Median Income,poverty_rate,percent_completed_hs
0,AK,Adak city,19.6,4,5.5,52.5,8.9,AK-Adak city,78500,39.3,93.4
1,AK,Akhiok city,8.5,1.4,50.7,1.4,11.3,AK-Akhiok city,26250,40.5,62.5
2,AK,Akiachak CDP,3.5,0.2,95.1,0.2,0.2,AK-Akiachak CDP,38750,26.1,76.7
3,AK,Akiak city,5.2,0,92.8,0,0.3,AK-Akiak city,42000,31.3,81.3
4,AK,Akutan city,23.3,17.9,5.5,43.3,20.8,AK-Akutan city,24750,16.1,73
...,...,...,...,...,...,...,...,...,...,...,...
29706,TX,Leon County,NaN,NaN,NaN,NaN,NaN,TX-Leon County,NaN,NaN,NaN
29707,ME,Smyrna,NaN,NaN,NaN,NaN,NaN,ME-Smyrna,NaN,NaN,NaN
29708,MI,Eaton Rapids Township,NaN,NaN,NaN,NaN,NaN,MI-Eaton Rapids Township,NaN,NaN,NaN
29709,MI,Roxand Township,NaN,NaN,NaN,NaN,NaN,MI-Roxand Township,NaN,NaN,NaN
29710,OK,Pottawatomie County,NaN,NaN,NaN,NaN,NaN,OK-Pottawatomie County,NaN,NaN,NaN

In [1022]:
df_temp.sort_values(by=['city'], inplace=True)
df_temp

,Geographic area,City,share_white,share_black,share_native_american,share_asian,share_hispanic,city,Median Income,poverty_rate,percent_completed_hs
0,AK,Adak city,19.6,4,5.5,52.5,8.9,AK-Adak city,78500,39.3,93.4
1,AK,Akhiok city,8.5,1.4,50.7,1.4,11.3,AK-Akhiok city,26250,40.5,62.5
2,AK,Akiachak CDP,3.5,0.2,95.1,0.2,0.2,AK-Akiachak CDP,38750,26.1,76.7
3,AK,Akiak city,5.2,0,92.8,0,0.3,AK-Akiak city,42000,31.3,81.3
4,AK,Akutan city,23.3,17.9,5.5,43.3,20.8,AK-Akutan city,24750,16.1,73
...,...,...,...,...,...,...,...,...,...,...,...
29472,WY,Woods Landing-Jelm CDP,95.9,0,0,2.1,0,WY-Woods Landing-Jelm CDP,NaN,18.6,100
29473,WY,Worland city,89.9,0.3,1.3,0.6,16.6,WY-Worland city,41523,15.3,85.6
29474,WY,Wright town,94.5,0.1,1.4,0.2,6.2,WY-Wright town,77114,5.9,89.2
29475,WY,Y-O Ranch CDP,92.8,1.5,2.6,0,11.8,WY-Y-O Ranch CDP,NaN,0,100
29476,WY,Yoder town,97.4,0,0,0,4,WY-Yoder town,37500,5.4,79.4

In [1023]:
"""
We want to impute the city and our state/Geographic area such that we have a full comprehensive list of both
separately after the merge.
Then we want to get a list of race names within the df_race_city.
"""

df_temp['Geographic area'] = [i[0:2] for i in df_temp['city']]
df_temp['City'] = [i[3:] for i in df_temp['city']]
print(df_temp)
list_states = df_temp['Geographic area'].values.tolist()
list_states = list(set(list_states))
#we expect to see 51 including DC as a state
print(len(list_states))
columns_race = df_temp.columns.values.tolist()
s = 'share'
columns_race = [string for string in columns_race if(s in string)]
columns_race

      Geographic area                    City share_white share_black  \
0                  AK               Adak city        19.6           4
1                  AK             Akhiok city         8.5         1.4
2                  AK            Akiachak CDP         3.5         0.2
3                  AK              Akiak city         5.2           0
4                  AK             Akutan city        23.3        17.9
...               ...                     ...         ...         ...
29472              WY  Woods Landing-Jelm CDP        95.9           0
29473              WY            Worland city        89.9         0.3
29474              WY             Wright town        94.5         0.1
29475              WY           Y-O Ranch CDP        92.8         1.5
29476              WY              Yoder town        97.4           0

      share_native_american share_asian share_hispanic  \
0                       5.5        52.5            8.9
1                      50.7         1.4           11.3
2                      95.1         0.2            0.2
3                      92.8           0            0.3
4                       5.5        43.3           20.8
...                     ...         ...            ...
29472                     0         2.1              0
29473                   1.3         0.6           16.6
29474                   1.4         0.2            6.2
29475                   2.6           0           11.8
29476                     0           0              4

                            city Median Income poverty_rate  \
0                   AK-Adak city         78500         39.3
1                 AK-Akhiok city         26250         40.5
2                AK-Akiachak CDP         38750         26.1
3                  AK-Akiak city         42000         31.3
4                 AK-Akutan city         24750         16.1
...                          ...           ...          ...
29472  WY-Woods Landing-Jelm CDP           NaN         18.6
29473            WY-Worland city         41523         15.3
29474             WY-Wright town         77114          5.9
29475           WY-Y-O Ranch CDP           NaN            0
29476              WY-Yoder town         37500          5.4

      percent_completed_hs
0                     93.4
1                     62.5
2                     76.7
3                     81.3
4                       73
...                    ...
29472                  100
29473                 85.6
29474                 89.2
29475                  100
29476                 79.4

[29711 rows x 11 columns]
51

['share_white',
 'share_black',
 'share_native_american',
 'share_asian',
 'share_hispanic']

In [1024]:
"""
Now we can impute the porportion of missing cities based on the state's porportions
"""
for state in list_states:
    j=0
    list_total_races = []
    state_df = df_temp.loc[df_temp['Geographic area'] == state]
    for i in columns_race:
        state_df[i] = state_df[i].astype(float)
        list_total_races.append(state_df[i].sum())
        print(list_total_races[j])
        j+=1
    sum_all_races = sum(list_total_races)
    porportional_share = [i/sum_all_races for i in list_total_races]
    #print(porportional_share, " sum= ", sum(porportional_share))
    j=0
    for i in columns_race:
        state_df[i] = state_df[i].fillna(porportional_share[j])
        j+=1
    df_temp.loc[df_temp['Geographic area'] == state] = state_df
print(df_temp.info())
df_temp

97576.2
568.5999999999999
273.8
404.40000000000003
2844.4
123518.1
6430.8
357.9
1828.2999999999997
7068.1
53454.6
2474.8
10542.1
312.6
4175.5
30833.699999999997
82.7
4332.9
116.4
800.1
52850.7
15077.3
1321.4
684.5
4739.099999999999
10620.1
202.2
719.4000000000001
258.9
1699.3999999999999
48419.1
2321.1000000000004
110.30000000000001
373.3
1168.4
42441.200000000004
8816.6
411.1
258.1
2311.7
38158.3
3132.8999999999996
135.8
273.4
1225.3000000000002
21790.3
680.9000000000001
64.7
693.4000000000001
1201.9
29158.5
125.5
1261.7
251.3
2498.2
41909.2
13480.3
381.09999999999997
277.3
1722.5
38.5
50.7
0.3
3.5
9.1
5794.700000000001
1169.8999999999999
39.800000000000004
152.0
563.7000000000002
62377.9
644.5
1256.9
286.1
3403.1
62744.7
2854.0
745.3
660.3
2446.5
164498.7
5768.7
285.0
1744.6
4820.2
71858.5
724.5
2025.5
611.3
2568.8999999999996
32947.2
199.10000000000002
973.3000000000001
519.8
3676.0999999999995
33078.9
113.1
4690.400000000001
124.0
794.4000000000001
30657.299999999996
14556.8
452.8
372.0
1407.8999999999999
40197.899999999994
420.3
744.2
528.9000000000001
8197.6
37356.3
10082.3

C:\Users\saads\CSE 351\CSE 351 Proj\venv\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == "__main__":
C:\Users\saads\CSE 351\CSE 351 Proj\venv\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

176.60000000000002
1543.7
3072.5
83171.0
906.7
3047.0000000000005
929.3
2857.4000000000005
44084.799999999996
3801.4
140.10000000000002
3239.9
6062.0
38109.200000000004
1169.0
80.30000000000001
136.8
362.59999999999997
144370.7
10277.8
1151.6999999999998
1773.8000000000002
68809.79999999999
108949.3
4081.1
2612.2
8441.4
44949.2
39182.3
19176.6
188.0
933.7
4015.8999999999996
20161.6
67.0
573.1
110.7
2427.8
64669.90000000001
1151.4
188.1
400.20000000000005
2263.0
24480.399999999998
12969.599999999999
182.8
292.3
1767.8
44086.9
9757.9
202.3
2168.3999999999996
3636.4
111736.1
4767.799999999999
258.90000000000003
904.8
2565.0
93066.8
6049.9
560.1
565.8
2433.4
12313.100000000002
713.8999999999999
93.9
427.5
1140.5
5038.799999999999
161.7
58.60000000000001
3873.9
1564.1
9185.4
68.7
27.6
128.89999999999998
167.5
18659.5
80.69999999999999
625.2
78.7
1215.6
16068.800000000001
199.70000000000002
16144.4
488.7
756.5
19475.6
15143.899999999998
584.4999999999999
197.7
840.5
51732.09999999999
895.9000000000001
2355.2
1930.8000000000002
6662.1
105676.29999999999
4765.2
429.59999999999997
3233.3
7882.1
54936.2
243.89999999999998
904.7
169.3
2360.7
28980.4
295.5
6795.8
218.8
20127.5
11408.099999999999
91.70000000000002
44.0
108.30000000000003
164.20000000000002
37009.8
143.29999999999998
2137.3
117.7
731.0
72378.7
12301.2
419.0
1487.4
15206.8
27028.0
430.5
12894.0
327.70000000000005
9085.2
3033.6999999999994
101.60000000000002
22.8
57.4
226.69999999999996
12534.900000000001
107.39999999999999
71.4
135.2
172.0
<class 'pandas.core.frame.DataFrame'>
Int64Index: 29711 entries, 0 to 29476
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Geographic area        29711 non-null  object
 1   City                   29711 non-null  object
 2   share_white            29711 non-null  object
 3   share_black            29711 non-null  object
 4   share_native_american  29711 non-null  object
 5   share_asian            29711 non-null  object
 6   share_hispanic         29711 non-null  object
 7   city                   29711 non-null  object
 8   Median Income          27418 non-null  object
 9   poverty_rate           29128 non-null  object
 10  percent_completed_hs   29132 non-null  object
dtypes: object(11)
memory usage: 2.7+ MB
None

,Geographic area,City,share_white,share_black,share_native_american,share_asian,share_hispanic,city,Median Income,poverty_rate,percent_completed_hs
0,AK,Adak city,19.6,4.0,5.5,52.5,8.9,AK-Adak city,78500,39.3,93.4
1,AK,Akhiok city,8.5,1.4,50.7,1.4,11.3,AK-Akhiok city,26250,40.5,62.5
2,AK,Akiachak CDP,3.5,0.2,95.1,0.2,0.2,AK-Akiachak CDP,38750,26.1,76.7
3,AK,Akiak city,5.2,0.0,92.8,0.0,0.3,AK-Akiak city,42000,31.3,81.3
4,AK,Akutan city,23.3,17.9,5.5,43.3,20.8,AK-Akutan city,24750,16.1,73
...,...,...,...,...,...,...,...,...,...,...,...
29472,WY,Woods Landing-Jelm CDP,95.9,0.0,0.0,2.1,0.0,WY-Woods Landing-Jelm CDP,NaN,18.6,100
29473,WY,Worland city,89.9,0.3,1.3,0.6,16.6,WY-Worland city,41523,15.3,85.6
29474,WY,Wright town,94.5,0.1,1.4,0.2,6.2,WY-Wright town,77114,5.9,89.2
29475,WY,Y-O Ranch CDP,92.8,1.5,2.6,0.0,11.8,WY-Y-O Ranch CDP,NaN,0,100
29476,WY,Yoder town,97.4,0.0,0.0,0.0,4.0,WY-Yoder town,37500,5.4,79.4

In [1025]:
df_temp['Median Income'] = pd.to_numeric(df_temp['Median Income'], errors='coerce')
df_temp['poverty_rate'] = pd.to_numeric(df_temp['poverty_rate'], errors='coerce')
df_temp['percent_completed_hs'] = pd.to_numeric(df_temp['percent_completed_hs'], errors='coerce')
for state in list_states:
    state_df = df_temp.loc[df_temp['Geographic area'] == state]
    state_df['Median Income'] = state_df['Median Income'].fillna(state_df['Median Income'].mean())
    state_df['poverty_rate'] = state_df['poverty_rate'].fillna(state_df['poverty_rate'].mean())
    state_df['percent_completed_hs'] =state_df['percent_completed_hs'].fillna(state_df['percent_completed_hs'].mean())
    df_temp.loc[df_temp['Geographic area'] == state] = state_df
print(df_temp.info())

df_temp

C:\Users\saads\CSE 351\CSE 351 Proj\venv\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\saads\CSE 351\CSE 351 Proj\venv\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\saads\CSE 351\CSE 351 Proj\venv\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29711 entries, 0 to 29476
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Geographic area        29711 non-null  object
 1   City                   29711 non-null  object
 2   share_white            29711 non-null  object
 3   share_black            29711 non-null  object
 4   share_native_american  29711 non-null  object
 5   share_asian            29711 non-null  object
 6   share_hispanic         29711 non-null  object
 7   city                   29711 non-null  object
 8   Median Income          29711 non-null  float64
 9   poverty_rate           29711 non-null  float64
 10  percent_completed_hs   29711 non-null  float64
dtypes: float64(3), object(8)
memory usage: 2.7+ MB
None

,Geographic area,City,share_white,share_black,share_native_american,share_asian,share_hispanic,city,Median Income,poverty_rate,percent_completed_hs
0,AK,Adak city,19.6,4.0,5.5,52.5,8.9,AK-Adak city,78500.000000,39.3,93.4
1,AK,Akhiok city,8.5,1.4,50.7,1.4,11.3,AK-Akhiok city,26250.000000,40.5,62.5
2,AK,Akiachak CDP,3.5,0.2,95.1,0.2,0.2,AK-Akiachak CDP,38750.000000,26.1,76.7
3,AK,Akiak city,5.2,0.0,92.8,0.0,0.3,AK-Akiak city,42000.000000,31.3,81.3
4,AK,Akutan city,23.3,17.9,5.5,43.3,20.8,AK-Akutan city,24750.000000,16.1,73.0
...,...,...,...,...,...,...,...,...,...,...,...
29472,WY,Woods Landing-Jelm CDP,95.9,0.0,0.0,2.1,0.0,WY-Woods Landing-Jelm CDP,60874.993464,18.6,100.0
29473,WY,Worland city,89.9,0.3,1.3,0.6,16.6,WY-Worland city,41523.000000,15.3,85.6
29474,WY,Wright town,94.5,0.1,1.4,0.2,6.2,WY-Wright town,77114.000000,5.9,89.2
29475,WY,Y-O Ranch CDP,92.8,1.5,2.6,0.0,11.8,WY-Y-O Ranch CDP,60874.993464,0.0,100.0
29476,WY,Yoder town,97.4,0.0,0.0,0.0,4.0,WY-Yoder town,37500.000000,5.4,79.4

In [1026]:
#make a list of df fT-oubaor each city
list_df_cities = []
for i in cities:
    list_df_cities.append(df_total.loc[df_total['city'] == i])

In [1027]:
#make a list of race
races = df_total['race'].tolist()
races =list(set(races))
races = races[1::]
races

['W', 'N', 'B', 'A', 'H', 'O']

In [1028]:
mode_total = df_total['race'].mode(dropna=True).tolist()
print(mode_total)
for i in list_df_cities:
    mode = i['race'].mode(dropna=True)
    if(len(mode) == 0):
        i[['race']] = i[['race']].fillna(mode_total[0])
        if(i['race'].isnull().sum() != 0):
            print("null val")
    elif(isinstance(mode, type(i['race']))):
        mode.dropna()
        mode = mode.tolist()
        #if the mode has more than one value then take a random choice between the values
        i[['race']] = i[['race']].fillna(random.choice(tuple(mode)))



    df_total.loc[df_total['city'] ==  i.at[i.first_valid_index(),'city']] = i
df_total.info()

['W']

C:\Users\saads\CSE 351\CSE 351 Proj\venv\lib\site-packages\pandas\core\frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2535 entries, 0 to 2534
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       2535 non-null   int64
 1   name                     2535 non-null   object
 2   date                     2535 non-null   object
 3   manner_of_death          2535 non-null   object
 4   armed                    2526 non-null   object
 5   age                      2458 non-null   float64
 6   gender                   2535 non-null   object
 7   race                     2535 non-null   object
 8   city                     2535 non-null   object
 9   state                    2535 non-null   object
 10  signs_of_mental_illness  2535 non-null   bool
 11  threat_level             2535 non-null   object
 12  flee                     2470 non-null   object
 13  body_camera              2535 non-null   bool
dtypes: bool(2), float64(1), int64(1), object(10)
memory usage: 242.7+ KB

In [1029]:
 # removed all data wiht NaN in race Column...df_training[df_training['race'].isnull()]
df_total

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
0,3,Tim Elliot,02/01/15,shot,gun,53.0,M,A,WA-Shelton,WA,True,attack,Not fleeing,False
1,4,Lewis Lee Lembke,02/01/15,shot,gun,47.0,M,W,OR-Aloha,OR,False,attack,Not fleeing,False
2,5,John Paul Quintero,03/01/15,shot and Tasered,unarmed,23.0,M,H,KS-Wichita,KS,False,other,Not fleeing,False
3,8,Matthew Hoffman,04/01/15,shot,toy weapon,32.0,M,W,CA-San Francisco,CA,True,attack,Not fleeing,False
4,9,Michael Rodriguez,04/01/15,shot,nail gun,39.0,M,H,CO-Evans,CO,False,attack,Not fleeing,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2530,2822,Rodney E. Jacobs,28/07/17,shot,gun,31.0,M,B,MO-Kansas City,MO,False,attack,Not fleeing,False
2531,2813,TK TK,28/07/17,shot,vehicle,NaN,M,H,NM-Albuquerque,NM,False,attack,Car,False
2532,2818,Dennis W. Robinson,29/07/17,shot,gun,48.0,M,W,ID-Melba,ID,False,attack,Car,False
2533,2817,Isaiah Tucker,31/07/17,shot,vehicle,28.0,M,B,WI-Oshkosh,WI,False,attack,Car,True
2534,2815,Dwayne Jeune,31/07/17,shot,knife,32.0,M,B,NY-Brooklyn,NY,True,attack,Not fleeing,False

In [1030]:
"""
We noticed that some of the 'age' data is missing.
So we imputed the average age of the people in each city and imputed the average age for the missing ages based on their city.
1. We calculate the total mean age of our total data sample.
2. We group by city, then calculate the mean Age at each city.
3. For each NaN age, we impute the mean age of that city. If that city was not calcuated (meaning this data is the only one from that city), we will use the total mean age.
"""
age_fix = df_total[['id','age','city']].copy()
age_fix = age_fix[age_fix['age'].isnull()].copy()
# 1. Calculate Total Mean Age
total_mean_age = df_total['age'].mean()

# 2. Calculate Mean of Each City
city_mean_ages = df_total.groupby('city')['age'].mean()

#3. Impute Age by the city. If City data does not exist, use Total Mean Age.
for i in age_fix.index:
    city = age_fix['city'][i]
    if city in city_mean_ages and not np.isnan(city_mean_ages[city]):
        age_fix['age'][i] = city_mean_ages[city]
    else:
        age_fix['age'][i] = total_mean_age


# update total list
df_total.update(age_fix)

df_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2535 entries, 0 to 2534
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       2535 non-null   float64
 1   name                     2535 non-null   object
 2   date                     2535 non-null   object
 3   manner_of_death          2535 non-null   object
 4   armed                    2526 non-null   object
 5   age                      2535 non-null   float64
 6   gender                   2535 non-null   object
 7   race                     2535 non-null   object
 8   city                     2535 non-null   object
 9   state                    2535 non-null   object
 10  signs_of_mental_illness  2535 non-null   bool
 11  threat_level             2535 non-null   object
 12  flee                     2470 non-null   object
 13  body_camera              2535 non-null   bool
dtypes: bool(2), float64(2), object(10)
memory usage: 242.7+ KB

C:\Users\saads\CSE 351\CSE 351 Proj\venv\lib\site-packages\ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\saads\CSE 351\CSE 351 Proj\venv\lib\site-packages\ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [1031]:
"""
We noticed there were missing values for 'armed' and 'flee'. For these, we imputed the most frequent data that appeared.
These are listed in the variables flee_mode and armed_mode
"""
flee_mode = df_total['flee'].agg(pd.Series.mode).values.tolist()[0]
armed_mode = df_total['armed'].agg(pd.Series.mode).values.tolist()[0]
df_total['flee'].fillna(flee_mode, inplace=True)
df_total['armed'].fillna(armed_mode, inplace=True)
df_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2535 entries, 0 to 2534
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       2535 non-null   float64
 1   name                     2535 non-null   object
 2   date                     2535 non-null   object
 3   manner_of_death          2535 non-null   object
 4   armed                    2535 non-null   object
 5   age                      2535 non-null   float64
 6   gender                   2535 non-null   object
 7   race                     2535 non-null   object
 8   city                     2535 non-null   object
 9   state                    2535 non-null   object
 10  signs_of_mental_illness  2535 non-null   bool
 11  threat_level             2535 non-null   object
 12  flee                     2535 non-null   object
 13  body_camera              2535 non-null   bool
dtypes: bool(2), float64(2), object(10)
memory usage: 242.7+ KB

In [ ]:
"""
****GIVE EXPLANATION OF OUR ENTIRE PROCESS
########################### END OF DATA MUNGING##########################
"""

In [ ]:
"""
Data Analysis
"""