In [224]:
import itertools
import pandas as pd
import random
import sklearn
from sklearn.model_selection import train_test_split
import datetime
from sklearn import metrics
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sb

In [225]:
"""
Our first goal is going to be data cleaning and munging. We want to take care of all null values
first.
"""

df_training = pd.read_csv('police_killings_train.csv')
df_test = pd.read_csv('police_killings_test.csv')
df_race_city = pd.read_csv('share_race_by_city.csv')
df_income = pd.read_csv('income.csv', encoding="ANSI")
df_poverty = pd.read_csv('poverty.csv', encoding="ANSI")
df_education = pd.read_csv('education.csv', encoding="ANSI")

df_test.info()
df_training

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 507 entries, 0 to 506
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       507 non-null    int64
 1   name                     507 non-null    object
 2   date                     507 non-null    object
 3   manner_of_death          507 non-null    object
 4   armed                    504 non-null    object
 5   age                      467 non-null    float64
 6   gender                   507 non-null    object
 7   race                     403 non-null    object
 8   city                     507 non-null    object
 9   state                    507 non-null    object
 10  signs_of_mental_illness  507 non-null    bool
 11  threat_level             507 non-null    object
 12  flee                     469 non-null    object
 13  body_camera              507 non-null    bool
dtypes: bool(2), float64(1), int64(1), object(10)
memory usage: 48.6+ KB

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
0,3,Tim Elliot,02/01/15,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False
1,4,Lewis Lee Lembke,02/01/15,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False
2,5,John Paul Quintero,03/01/15,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False
3,8,Matthew Hoffman,04/01/15,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False
4,9,Michael Rodriguez,04/01/15,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023,2256,Jeremy Lopez-Robledo,24/01/17,shot,knife,29.0,M,H,Las Cruces,NM,True,attack,Foot,True
2024,2257,Jonathan David Sper,24/01/17,shot,unarmed,30.0,M,W,Algoma Township,MI,True,attack,Not fleeing,False
2025,2258,Jose Efrain Rodriguez,24/01/17,shot and Tasered,gun,18.0,M,H,Lancaster City,PA,False,attack,Not fleeing,False
2026,2259,Ramon Milanez,24/01/17,shot,gun,32.0,M,H,Kuna,ID,False,attack,Car,False
2027,2260,Micah R. Lambert,25/01/17,shot,vehicle,37.0,M,W,Oxford,AL,True,attack,Car,False

In [226]:
"""
We will combine the training and tesing dataset to make cleaning easier and more accurate
"""

df_total = df_training.append(df_test, ignore_index=True)
df_total

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
0,3,Tim Elliot,02/01/15,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False
1,4,Lewis Lee Lembke,02/01/15,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False
2,5,John Paul Quintero,03/01/15,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False
3,8,Matthew Hoffman,04/01/15,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False
4,9,Michael Rodriguez,04/01/15,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2530,2822,Rodney E. Jacobs,28/07/17,shot,gun,31.0,M,NaN,Kansas City,MO,False,attack,Not fleeing,False
2531,2813,TK TK,28/07/17,shot,vehicle,NaN,M,NaN,Albuquerque,NM,False,attack,Car,False
2532,2818,Dennis W. Robinson,29/07/17,shot,gun,48.0,M,NaN,Melba,ID,False,attack,Car,False
2533,2817,Isaiah Tucker,31/07/17,shot,vehicle,28.0,M,B,Oshkosh,WI,False,attack,Car,True
2534,2815,Dwayne Jeune,31/07/17,shot,knife,32.0,M,B,Brooklyn,NY,True,attack,Not fleeing,False

In [227]:
print(df_income.info())
df_race_city.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29322 entries, 0 to 29321
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Geographic Area  29322 non-null  object
 1   City             29322 non-null  object
 2   Median Income    29271 non-null  object
dtypes: object(3)
memory usage: 687.4+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29268 entries, 0 to 29267
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Geographic area        29268 non-null  object
 1   City                   29268 non-null  object
 2   share_white            29268 non-null  object
 3   share_black            29268 non-null  object
 4   share_native_american  29268 non-null  object
 5   share_asian            29268 non-null  object
 6   share_hispanic         29268 non-null  object
dtypes: object(7)
memory usage: 1.6+ MB

In [228]:
"""
Race is one of the fields that have missing fields, we will use the race_city dataset to help
get an insight into which race to pick. First we ant to get the mode of the race's by city and impute
it directly in. Then we want to get the mode of the race and place it in, if there is more than one
mode then use race_city and take the race of highest population
"""
#make a list of unique cities, and include the state so we don't deal with same city names of different states
df_total['city'] = df_total[['state', 'city']].apply("-".join,axis=1)
cities = df_total['city'].tolist()
cities =list(set(cities))
print(len(cities))
cities

1534

['TN-Columbia',
 'GA-Sylvester',
 'IL-Metropolis',
 'AL-Selma',
 'SC-Johnsonville',
 'AL-Lawrence County',
 'TN-Gibson County',
 'NC-Wilkesboro',
 'VA-Stafford',
 'CA-Riverside',
 'PA-Lewistown',
 'FL-Homestead',
 'TN-Bristol',
 'AZ-Surprise',
 'HI-Keaau',
 'AZ-Red Valley',
 'IL-Springfield',
 'OH-Cincinnati',
 'MO-Poplar Bluff',
 'CA-Shafter',
 'PA-Bloomsburg',
 'DE-Middletown',
 'SC-Lexington',
 'TX-Sunset',
 'MN-Columbia Heights',
 'TN-Raleigh',
 'TX-Mesquite',
 'MI-Berrien County',
 'IN-Indianapolis',
 'AL-Brooksville',
 'AL-Muscle Shoals',
 'WI-Monroe',
 'KY-Booneville',
 'NE-Sidney',
 'OH-Kent',
 'CO-Aurora',
 'WI-Millston',
 'UT-Provo',
 'GA-East Point',
 'TX-Rosenberg',
 'MI-Manistee',
 'NM-Alamogordo',
 'AL-Eufaula',
 'CA-Turlock',
 'SD-Rapid City',
 'CA-Desert Edge',
 'IA-Urbandale',
 'MA-Roslindale',
 'NY-Schenectady',
 'MO-Buffalo',
 'CA-Bell',
 'CA-Delhi',
 'KY-Daviess County',
 'CA-Burbank',
 'AR-Bull Shoals',
 'CA-Oxnard',
 'RI-Pawtucket',
 'AL-Phenix City',
 'GA-Commerce',
 'CA-Yuba City',
 'TX-Kerrville',
 'VA-Harrisonburg',
 'WA-Cle Elum',
 'TN-Johnson City',
 'AK-Fairbanks',
 'OH-Hudson',
 'TX-San Angelo',
 'CA-Lodi',
 'MS-St. Martin',
 'SC-Chesterfield County',
 'GA-Rockville',
 'PA-Penn Township',
 'MI-Lansing',
 'ND-Mandan',
 'OR-Eugene',
 'KS-Lehigh',
 'WV-Elkins',
 'UT-Ogden',
 'AR-Sims',
 'CA-Bellflower',
 'OH-Howland Township',
 'TX-El Paso',
 'WV-Montcalm',
 'MA-Beverly',
 'IL-Hurst',
 'TN-Counce',
 'OR-Medford',
 'FL-Cantonment',
 'CO-Fountain',
 'CA-Hawaiian Gardens',
 'NC-Statesville',
 'MN-Alexandria',
 'KY-Lancaster',
 'AL-Washington County',
 'AL-Saraland',
 'OK-Healdton',
 'WA-Wapato',
 'UT-Logan Canyon',
 'LA-Mamou',
 'CA-Cottonwood',
 'KS-Hutchinson',
 'WI-Fond du Lac',
 'NM-Pueblo of Laguna',
 'GA-Douglas',
 'IL-Chicago',
 'WY-Laramie',
 'TN-Clarksville',
 'NE-Omaha',
 'FL-Opa-Locka',
 'TX-Gladewater',
 'NC-Lawndale',
 'OH-Uniontown',
 'OK-Colbert',
 'OR-Tualatin',
 'TN-McLemoresville',
 'PA-Pittsburgh',
 'WV-Hometown',
 'KY-London',
 'CA-El Monte',
 'LA-Bossier City',
 'MN-Vadnais Heights',
 'GA-Savannah',
 'CA-Vista',
 'MO-Odessa',
 'GA-Ludowici',
 'CA-Wilmington',
 'OR-Gresham',
 'MN-Morris',
 'GA-Brooklet',
 'OK-Schulter',
 'CA-Redlands',
 'AZ-Parker',
 'SC-Pelzer',
 'TX-Hutchins',
 'FL-Niceville',
 'MN-Hutchinson',
 'CA-Clearlake Park',
 'CA-El Cajon',
 'WI-Green Bay',
 'FL-Sneads',
 'CA-Palm Springs',
 'CO-Commerce City',
 'CA-Elk Grove',
 'GA-Smyrna',
 'TX-Panhandle',
 'FL-Oakland Park',
 'WI-Beaver Dam',
 'TX-Fritch',
 'VA-Emporia',
 'MI-Romulus',
 'WA-Vancouver',
 'MO-Columbia',
 'ME-Waldoboro',
 'PA-Avella',
 'OH-Akron',
 'WV-Weirton',
 'IN-Kokomo',
 'VA-Hopewell',
 'AR-Farmington',
 'AR-Marion',
 'SC-Lake View',
 'MO-Affton',
 'NJ-Hackensack',
 'CA-Coalinga',
 'FL-Delray Beach',
 'OK-Broken Bow',
 'CA-South Gate',
 'WI-Greenfield',
 'MI-Marion',
 'NM-Taos',
 'NC-Efland',
 'AL-Sylacauga',
 'MD-North East',
 'CO-Parker',
 'WA-Bellingham',
 'LA-New Iberia',
 'CA-Fullerton',
 'HI-Kahuku',
 'NH-Claremont',
 'NC-Spring Lake',
 'SC-Goose Creek',
 'WV-Morgantown',
 'OK-McAlester',
 'CA-Brawley',
 'CA-San Ysidro',
 'WY-Casper',
 'FL-Orange County',
 'NC-Hudson',
 'VA-Alexandria',
 'TX-Tahoka',
 'CA-Hawthorne',
 'CA-La Quinta',
 'WA-Wenatchee',
 'FL-Hog Valley',
 'SC-Little Mountain',
 'FL-Navarre',
 'LA-Franklin',
 'NM-Rowe',
 'CA-Kings County',
 'CO-Montrose County',
 'KY-Lawrenceburg',
 'KY-Pine Top',
 'MD-Randallstown',
 'OK-Rush Springs',
 'FL-Jacksonville',
 'WA-Muckleshoot Indian Reservation',
 'PA-Union Township',
 'MI-Columbia Township',
 'MT-Huntley',
 'WA-Kirkland',
 'NV-Boulder City',
 'FL-Englewood',
 'NY-New Paltz',
 'MN-Vineland',
 'NC-Stoneville',
 'CA-Hayward',
 'CA-Anaheim',
 'FL-Fort Lauderdale',
 'CA-Whittier',
 'OK-Bethany',
 'OK-Burns Flat',
 'OK-Cushing',
 'TN-Morristown',
 'MS-Ruth',
 'OH-Dayton',
 'CA-Hollywood',
 'CA-Antelope',
 'MO-McDowell',
 'MN-Fridley',
 'FL-Tampa',
 'CA-Escondido',
 'OK-Kellyville',
 'TN-Elizabethton',
 'NC-Rutherfordton',
 'AK-Wasilla',
 'NY-Troy',
 'SC-Myrtle Beach',
 'MI-Hessel',
 'OH-Cleveland',
 'FL-Orlando',
 'CA-Santa Maria',
 'CA-Merced',
 'OK-Sand Springs',
 'MD-Fort Meade',
 'CT-Oakdale',
 'CA-Hemet',
 'PA-Chester',
 'WV-Bluefield',
 'AL-Arab',
 'VA-Grayson County',
 'CA-Madera',
 'WI-Geneva',
 'TN-West Knox',
 'ME-Madison',
 'TX-Reno',
 'MD-Mt Airy',
 'NC-Clinton',
 'NC-Durham',
 'PA-Somerset',
 'TX-Corpus Christi',
 'CA-Downey',
 'IA-Burlington',
 'CA-Barona Indian Reservation',
 'CA-Camarillo',
 'WA-Lynnwood',
 'TX-Fort Stockton',
 'MN-Mankato',
 'UT-Aragonite',
 'MO-North St. Louis',
 'CA-Twentynine Palms',
 'VA-Chesapeake',
 'CA-Studio City',
 'KY-Phelps',
 'CA-Seaside',
 'OK-Wewoka',
 'NC-Franklin',
 'CT-Fairfield',
 'AZ-Golden Valley',
 'MO-Blue Springs',
 'CA-Palo Alto',
 'CA-Clovis',
 'IA-Boone',
 'CA-Norwalk',
 'FL-DeLand',
 'CA-Valinda',
 'KS-Topeka',
 'CA-Moreno Valley',
 'PA-Canaan Township',
 'PA-East Stroudsburg',
 'IN-French Lick',
 'FL-Pompano Beach',
 'LA-New Orleans',
 'LA-Mandeville',
 'KS-McPherson',
 'MO-Sullivan',
 'KY-Fisty',
 'VA-Woodford',
 'CA-City Terrace',
 'ID-Melba',
 'OH-Colebrook Township',
 'TX-Lockhart',
 'ID-Idaho Falls',
 'VA-Pulaski',
 'IL-Round Lake',
 'OK-Lawton',
 'FL-Naples',
 'AZ-Maricopa',
 'GA-Mableton',
 'IN-English',
 'MI-Grand Rapids',
 'TX-Oak Cliff',
 'CO-Fort Collins',
 'AL-Deer Park',
 'OK-Millerton',
 'CA-Happy Valley',
 'AZ-Buckeye',
 'MS-Water Valley',
 'KS-Colby',
 'AL-Eastaboga',
 'MS-Tupelo',
 'TX-Terrell',
 'WV-Mount Hope',
 'MO-Big Bear',
 'CT-Mashantucket',
 'CA-Calexico',
 'AZ-Marana',
 'GA-Stone Mountain',
 'NY-New City',
 'IN-Hanover',
 'CA-Ripon',
 'CT-Bolton',
 'OH-Fairborn',
 'WA-Ridgefield',
 'WV-Princeton',
 'MO-Sedalia',
 'WA-Graham',
 'NC-Dublin',
 'FL-Pinellas Park',
 'CA-La Mirada',
 'DE-Claymont',
 'AZ-Morenci',
 'NE-Louisville',
 'WI-Wausau',
 'AZ-Pima',
 'AZ-Winslow',
 'CA-Poway',
 'IL-Lawndale',
 'OH-Rome',
 'AR-Little Rock',
 'FL-Cape Canaveral',
 'NY-Cheektowaga',
 'WY-Cheyenne',
 'WI-Weston',
 'MO-Cape Girardeau',
 'CA-Yorba Linda',
 'IL-Shawnee National Forest',
 'CA-Concord',
 'AR-Mountain Pine',
 'CA-Sunnyvale',
 'WA-Bainbridge Island',
 'TN-Chattanooga',
 'ID-Kuna',
 'AK-Big Lake',
 'SD-Kyle',
 'MD-Elkton',
 'SC-Boiling Springs',
 'NY-Beacon',
 'MN-Falcon Heights',
 'CA-Van Nuys',
 'FL-Thonotosassa',
 'FL-Fort Pierce',
 'NY-Staten Island',
 'PA-Philadelphia',
 'IN-Beech Grove',
 'DE-Frederica',
 'CT-Thomaston',
 'NC-Ronda',
 'TX-McKinney',
 'WV-Augusta',
 'VA-Pearisburg',
 'PA-Straban Township',
 'MI-Belleville',
 'FL-Crystal Springs',
 'DE-Smyrna',
 'NC-Iredell County',
 'UT-Syracuse',
 'CA-Needles',
 'CO-New Castle',
 'TX-Austin',
 'TN-Shelbyville',
 'VA-Fredericksburg',
 'NJ-Toms River',
 'AL-Homewood',
 'KY-Elizabethtown',
 'SC-Irmo',
 'AL-Rainbow City',
 'GA-Port Wentworth',
 'FL-Plantation',
 'AZ-Chandler',
 'GA-Rossville',
 'CA-Douglas City',
 'AZ-Florence',
 'GA-Jesup',
 'CO-Grand Junction',
 'GA-Fort Valley',
 'FL-Milton',
 'OH-Mansfield',
 'CA-Dunsmuir',
 'FL-Deltona',
 'MO-Ozark',
 'WA-Yakima',
 'CA-Rancho Santa Margarita',
 'AL-Gadsden',
 'CA-San Francisco',
 'CA-Jurupa Valley',
 'KS-Wichita',
 'TX-Abilene',
 'CA-Atascadero',
 'OK-Hominy',
 'FL-Jupiter',
 'VA-Aldie',
 'TN-Nashville',
 'MD-Middle River',
 'CO-Pueblo',
 'SC-Piedmont',
 'MI-Dearborn',
 'OK-Wetumka',
 'GA-Bonaire',
 'AL-Killeen',
 'OK-Anadarko',
 'ID-Hammett',
 'FL-Yulee',
 'MS-Hattiesburg',
 'ME-Arundel',
 'FL-Orange City',
 'IA-Cedar Rapids',
 'CA-Boulder Creek',
 'LA-Evangeline Parish',
 'ID-Sandpoint',
 'TX-Del Rio',
 'WA-Federal Way',
 'TX-Beaumont',
 'CA-Olympic Valley',
 'OK-Rufe',
 'TN-Humboldt',
 'AZ-Bisbee',
 'IN-Knox',
 'MI-Wyoming',
 'FL-Gainesville',
 'OH-Zanesville',
 'NM-Hobbs',
 'WI-Rib Mountain',
 'CA-Tehachapi',
 'KY-Bowling Green',
 'FL-Miami',
 'TN-Soddy-Daisy',
 'TX-Fort Worth',
 'CA-Maywood',
 'LA-Livingston Parish',
 'TX-Groveton',
 'IA-Wellman',
 'TX-Bellville',
 'WA-Spanaway',
 'WI-Appleton',
 'PA-Chambersburg',
 'KY-Owensboro',
 'LA-Crowley',
 'FL-Lakeland',
 'FL-Loxahatchee',
 'TX-Dallas',
 'TX-Amarillo',
 'MI-Bay City',
 'MT-Superior',
 'CT-Suffield',
 'KY-Fulton',
 'IL-Dolton',
 'PA-Sharon',
 'NJ-Ideal Beach',
 'CA-Orange',
 'TX-Irving',
 'MT-Livingston',
 'CA-Point Loma',
 'UT-West Jordan',
 'NC-Rowland',
 'GA-Eden',
 'OK-Guthrie',
 'CO-Brighton',
 'CA-Montclair',
 'KS-Rosalia',
 'MT-Malta',
 'GA-Barrow County',
 'AR-Dover',
 'GA-Cochran',
 'FL-Bradenton',
 'NM-Roswell',
 'CO-Federal Heights',
 'IN-Goshen',
 'DC-Washington',
 'OK-Midwest City',
 'MN-Eagan',
 'NJ-Maurice River',
 'PA-Pittston',
 'NC-Greenville',
 'KY-Russellville',
 'CA-Delano',
 'WI-Lake Hallie',
 'CA-Santa Monica',
 'TX-Houston',
 'CA-Eureka',
 'VA-Roanoke',
 'AL-Jackson County',
 'TX-Arlington',
 'MO-Springfield',
 'OH-Southington',
 'AL-Monroeville',
 'CA-Winchester',
 'CO-Park County',
 'NY-Islip',
 'IL-East St. Louis',
 'NM-Jal',
 'CA-Lake Elsinore',
 'IL-Marion',
 'AZ-San Manuel',
 'MI-Southfield',
 'SC-Aiken',
 'TN-Lewisburg',
 'CA-San Bernardino',
 'CA-Montebello',
 'SC-Campobello',
 'CA-San Mateo',
 'AL-Meridianville',
 'WY-Douglas',
 'NC-East Flat Rock',
 'CA-Sylmar',
 'ID-Council',
 'OK-Pryor',
 'AR-England',
 'MN-Minneapolis',
 'LA-Raceland',
 'TX-Port Arthur',
 'OH-Northwood',
 'IL-Rantoul',
 'MO-Jackson',
 'MA-Everett',
 'SD-Rosebud',
 'MI-Bloomfield Township',
 'OR-Bend',
 'TX-Midland',
 'AZ-Flagstaff',
 'WA-East Wenatchee',
 'MN-Peterson',
 'CA-Fairfield',
 'CA-San Diego County',
 'CA-Byron',
 'LA-Cade',
 'NV-Pahrump',
 'OR-Josephine County',
 'OR-King City',
 'CA-Lancaster',
 'OR-Salem',
 'UT-Roy',
 'CA-Sacramento',
 'PA-Wilkinsburg',
 'CA-Carson',
 'WI-Corning',
 'AZ-La Paz County',
 'IL-Forest Park',
 'CA-Watsonville',
 'OR-Colton',
 'TX-Victoria',
 'LA-Pride',
 'AZ-Phoenix',
 'OR-Oregon City',
 'SD-Rapid Valley',
 'MI-St. Joseph',
 'CA-Cabazon',
 'KS-Hays',
 'SC-Lake City',
 'MS-Southaven',
 'AR-West Memphis',
 'PA-West Chester',
 'NY-Clarendon',
 'OR-McMinnville',
 'NY-Coney Island',
 'CA-Marina',
 'CA-Fair Oaks',
 'MA-Lynn',
 'MD-Columbia',
 'IL-Jerseyville',
 'CA-Venice',
 'TX-Fulshear',
 'NY-Greece',
 'IN-Muncie',
 'MN-Burnsville',
 'MO-Nevada',
 'SC-Taylors',
 'KY-Morehead',
 'MN-Bloomington',
 'ME-Belgrade',
 'CA-Long Beach',
 'FL-Deland',
 'OK-Ardmore',
 'OH-North Royalton',
 'TX-Harker Heights',
 'TN-Hohenwald',
 'CA-North Hills',
 'TX-Waco',
 'AL-Bay Minette',
 'WV-Meadow Bridge',
 'OK-Muskogee',
 'CA-Castaic',
 'OK-Fairfax',
 'IN-Harmony',
 'FL-Jacksonsville',
 'NM-Eldorado',
 'NJ-Paterson',
 'FL-Wellington',
 'UT-Draper',
 'CA-Azusa',
 'CA-Highgrove',
 'ME-Presque Isle',
 'VA-Winchester',
 'OH-Twinsburg',
 'MI-Brighton Township',
 'NC-Gastonia',
 'CA-Cerritos',
 'FL-Pensacola',
 'ID-Middleton',
 'NJ-Lyndhurst',
 'KY-Richmond',
 'MD-Montgomery Village',
 'MS-Barton',
 'NC-Asheville',
 'MS-Columbus',
 'WA-Everett',
 'WV-Clendenin',
 'IL-Rock Island',
 'TX-Splendora',
 'OH-Geneva Township',
 'CA-Visalia',
 'WA-Fife',
 'WV-Nitro',
 'ID-Jefferson County',
 'OR-Wilderville',
 'WI-Sheboygan',
 'KY-Louisville',
 'NJ-Newark',
 'NC-Fayetteville',
 'CA-Glendale',
 'TX-Katy',
 'TX-Euless',
 'NV-Gardnerville Ranchos',
 'WA-Pasco',
 'CA-Aguanga',
 'IL-Stockton',
 'MI-Warren',
 'CO-Northglenn',
 'TX-Azle',
 'NJ-Vineland',
 'NY-Buffalo',
 'NC-Archdale',
 'FL-Palm Harbor',
 'AL-Tuscumbia',
 'WA-Hunters',
 'NC-Granite Falls',
 'NM-Ruidoso',
 'FL-Manatee',
 'NC-Canton',
 'LA-Converse',
 'GA-Marietta',
 'FL-Largo',
 'OK-Byng',
 'CA-Redding',
 'TX-Edinburg',
 'TN-Alamo',
 'IL-Arcola',
 'TX-Palestine',
 'TN-Reagan',
 'NM-Socorro',
 'FL-Miami Beach',
 'CA-Chula Vista',
 'IN-Terre Haute',
 'MS-Gulfport',
 'IA-Des Moines',
 'CA-Irvine',
 'GA-Elberton',
 'NV-North Las Vegas',
 'WI-Antigo',
 'CA-Santa Ana',
 'OH-Findlay',
 'AR-Perryville',
 'PA-Harrisburg',
 'GA-Moultrie',
 'NM-Los Lunas',
 'SC-Hardeeville',
 'PA-Johnstown',
 'FL-Middleburg',
 'OR-Wolf Creek',
 'TX-Jourdanton',
 'FL-North Port',
 'MN-Cohasset',
 'NJ-Woodbridge',
 'CA-Boyle Heights',
 'KY-Simpsonsville',
 'SC-Summerville',
 'AL-Birmingham',
 'AL-Clanton',
 'MO-Harrisonville',
 'CA-Hesperia',
 'MA-West Springfield',
 'TX-Winnie',
 'VA-Arlington',
 'CA-Inyokern',
 'WV-Petroleum',
 'TX-Lake Jackson',
 'NC-Ashe County',
 'KS-Kansas City',
 'NC-Greensboro',
 'CA-Wasco',
 'WI-Oshkosh',
 'CA-West Covina',
 'TX-Onalaska',
 'LA-Alexandria',
 'TX-Plano',
 'NC-Wake Forest',
 'WI-Neenah',
 'FL-Weeki Wachi',
 'TX-San Antonio',
 'CO-Bailey',
 'WI-Pembine',
 'AZ-Cottonwood',
 'GA-Valdosta',
 'IL-Rockford',
 'TX-Ellis County',
 'IL-River Forest',
 'TX-Carrollton',
 'AL-Opp',
 'OK-Logan County',
 'FL-Belle Glade',
 'KY-Chavies',
 'IN-Elkhart',
 'WA-Thurston County',
 'TX-Rosser',
 'SC-North Charleston',
 'CA-Olivehurst',
 'GA-Peachtree City',
 'SC-Pendleton',
 'CA-Lakewood',
 'CA-San Fernando',
 'WV-Beckley',
 'TX-Pearland',
 'CA-Barstow',
 'NJ-Bridgeton',
 'MN-Plymouth',
 'KY-White Plains',
 'NV-Sparks',
 'NY-Glenville',
 'NH-Peterborough',
 'TX-Nocona',
 'NJ-Little Egg Harbor',
 'CA-South Los Angeles',
 'NC-Maiden',
 'WI-Ashwaubenon',
 'NY-Mount Vernon',
 'TX-Seagoville',
 'SC-Seneca',
 'NJ-Trenton',
 'CA-Grover Beach',
 'TN-Gray',
 'MS-Petal',
 'OK-Cache',
 'AZ-Bullhead City',
 'CT-Bridgeport',
 'AL-Tuscaloosa',
 'VA-Scott County',
 'PA-Hummelstown',
 'MT-Three Forks',
 'FL-Orange Park',
 'SC-Iva',
 'CA-Gardena',
 'OH-Westlake',
 'WA-Beaver',
 'WA-Tukwila',
 'CA-Rosemead',
 'OR-Clackamas County',
 'CA-Chino',
 'AZ-Kearny',
 'HI-Honolulu',
 'MA-Taunton',
 'CA-Oakland',
 'KY-Trosper',
 'OH-Sylvania Township',
 'MD-Landover',
 'PA-Upper Darby',
 'GA-White',
 'ID-Garden City',
 'KS-Olathe',
 'FL-Panama City Beach',
 'GA-Augusta',
 'CA-Windsor',
 'CA-Yreka',
 'TN-Lakeland',
 'TX-Killeen',
 'CA-Cathedral City',
 'OH-Columbus',
 'CA-Monterey',
 'MI-Kentwood',
 'CA-Compton',
 'TX-Spring',
 'CA-Fremont',
 'HI-Hilo',
 'GA-Loganville',
 'TX-Allen',
 'OH-Mt. Auburn',
 'CA-Siskiyou County',
 'UT-Centerville',
 'OH-Vandalia',
 'MN-Austin',
 'CA-Campo',
 'MD-District Heights',
 'TX-Clute',
 'AK-Kenai Peninsula',
 'CA-Del Mar',
 'TX-Bexar County',
 'RI-Tiverton',
 'CA-Lompoc',
 'MN-New Hope',
 'FL-Palm Beach Gardens',
 'AR-Cabot',
 'OR-Beaverton',
 'VA-Norman',
 'TX-Ponder',
 'CA-Temecula',
 'VA-York County',
 'TN-Oneida',
 'CA-Colton',
 'TX-Temple',
 'MI-Benton Harbor',
 'FL-Palm Bay',
 'CA-Vallejo',
 'OH-Circleville',
 'MD-Owings Mills',
 'TX-Baytown',
 'MN-St. Cloud',
 'CA-Selma',
 'TX-Llano',
 'OR-Portland',
 'LA-Ouachita Parish',
 'MI-Beaverton',
 'FL-Lealman',
 'GA-Tyrone',
 'CO-Englewood',
 'TX-Mission',
 'IL-Markham',
 'IL-Benton',
 'UT-Clearfield',
 'NJ-Manchester',
 'MA-Boston',
 'FL-St. Petersburg',
 'PA-Lancaster City',
 'GA-Covington',
 'WI-Kenosha',
 'WA-Richland',
 'AL-Macon County',
 'CA-Rancho Cordova',
 'ME-Vassalboro',
 'GA-Stockbridge',
 'NM-Artesia',
 'PA-Mount Washington',
 'KY-Brodhead',
 'HI-Papaaloa',
 'IL-Zion',
 'CA-Santa Cruz',
 'LA-Houma',
 'PA-York',
 'IL-Joilet',
 'AZ-Tempe',
 'OK-Oklahoma City',
 'AR-Jonesboro',
 'NC-Pinnacle',
 'FL-Plant City',
 'IL-Clinton',
 'OK-Leedey',
 'NY-Bronx',
 'MD-Dundalk',
 'WA-Kelso',
 'NC-Lumberton',
 'ID-Mountain Home',
 'NC-Gaston County',
 'PA-Lancaster',
 'CA-East Hollywood',
 'KS-Udall',
 'TN-East Ridge',
 'LA-Slidell',
 'WA-Spokane',
 'TX-Wink',
 'TX-Weatherford',
 'AK-Barrow',
 'NY-Berne',
 'HI-Aiea',
 'FL-West Palm Beach',
 'MD-Rising Sun',
 'LA-Lakes Charles',
 'FL-Miami Gardens',
 'CA-Pico Rivera',
 'KY-Ludlow',
 'MT-Billings',
 'OK-Wagoner',
 'GA-Woodstock',
 'AR-Sheridan',
 'CA-Hollywood Hills',
 'TN-Decatur County',
 'NE-Lincoln',
 'OR-Burns',
 'FL-Port St. Lucie',
 'NJ-Atlantic City',
 'FL-Hallandale Beach',
 'CA-Hacienda Heights',
 'WI-Eau Claire',
 'WA-Sumas',
 'MD-Salisbury',
 'AZ-Sun City',
 'OH-Richmond Heights',
 'NC-Brevard',
 'GA-Acworth',
 'TN-Estill Springs',
 'TX-Campbellton',
 'TX-North Laredo',
 'CO-Strasburg',
 'CO-Eldorado Springs',
 'WV-Hensley',
 'GA-Cedartown',
 'OH-Celina',
 'NH-Merrimack',
 'MN-Aitkin',
 'NM-San Rafael',
 'LA-Winnsboro',
 'OR-West Linn',
 'KS-Newton',
 'IL-Alton',
 'WV-Brandywine',
 'TX-Longview',
 'CA-Union City',
 'CA-Chowchilla',
 'IN-Fishers',
 'TX-Beckville',
 'AZ-Somerton',
 'FL-Lake Asbury',
 'NM-Crownpoint',
 'VA-Falls Church',
 'MD-Greenbelt',
 'MO-Sugar Creek',
 'IL-Deerfield',
 'GA-Douglasville',
 'NC-Dallas',
 'GA-Newnan',
 'UT-Salt Lake City',
 'CA-Ontario',
 'CO-Greeley',
 'NJ-Byram',
 'DE-New Castle',
 'TX-Levelland',
 'MI-Ishpeming Township',
 'PA-Allentown',
 'GA-Riverdale',
 'TN-Lenoir City',
 'MO-Maysville',
 'LA-Homer',
 'AL-Mobile',
 'KY-Princeton',
 'MA-Webster',
 'ND-Grand Forks',
 'WI-New London',
 'WV-Braxton County',
 'IL-Lyons',
 'AZ-Golden Shores',
 'TX-Odessa',
 'LA-Kenner',
 'GA-Lawrenceville',
 'OH-Springfield',
 'WA-Grapeview',
 'CA-Smartsville',
 'SD-Sioux Falls',
 'GA-Austell',
 'LA-Gretna',
 'NY-Brooklyn',
 'WI-Madison',
 'OH-Englewood',
 'OH-Perry Township',
 'VA-Richmond',
 'NM-Santa Fe',
 'IL-Villa Park',
 'CA-San Marcos',
 'NM-Laguna Pueblo',
 'CA-Pinion Hills',
 'AL-Montgomery',
 'TX-Kingsbury',
 'SC-Edmund',
 'WA-Auburn',
 'AR-Manila',
 ...]

In [229]:
"""
Let's try cleaning the the race of city dataset now viewing the missing datapoints which are denoted at (X).
"""
df_race_city['city'] = df_race_city[['Geographic area', 'City']].apply("-".join,axis=1)
list_race_df = df_race_city.values.tolist()
j = 0
list_bad_cities = []
for i in list_race_df:
    #we can see it is only null when all races are missing
    if(i.count('(X)') > 0):
        j+=1
        list_bad_cities.append(i[1])
        print(i.count('(X)'))
print("total cities with bad points = ", j)

5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
total cities with bad points =  20

In [230]:
"""With only 20/29260 holding a row of null values, we shall drop these cities"""
tempDf_race = df_race_city[df_race_city.share_white != '(X)'].copy()
print(tempDf_race.info())
df_race_city.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29248 entries, 0 to 29267
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Geographic area        29248 non-null  object
 1   City                   29248 non-null  object
 2   share_white            29248 non-null  object
 3   share_black            29248 non-null  object
 4   share_native_american  29248 non-null  object
 5   share_asian            29248 non-null  object
 6   share_hispanic         29248 non-null  object
 7   city                   29248 non-null  object
dtypes: object(8)
memory usage: 2.0+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29268 entries, 0 to 29267
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Geographic area        29268 non-null  object
 1   City                   29268 non-null  object
 2   share_white            29268 non-null  object
 3   share_black            29268 non-null  object
 4   share_native_american  29268 non-null  object
 5   share_asian            29268 non-null  object
 6   share_hispanic         29268 non-null  object
 7   city                   29268 non-null  object
dtypes: object(8)
memory usage: 1.8+ MB

In [231]:
list_total_races = []
columns_race = tempDf_race.columns.values.tolist()
s = 'share'
columns_race = [string for string in columns_race if(s in string)]
columns_race

['share_white',
 'share_black',
 'share_native_american',
 'share_asian',
 'share_hispanic']

In [236]:
temp = ["ok", "o", "ok", " sdos", 2, 3, 4, 5, 6, 6]
j = 0
for i in temp:
    if(isinstance(i,str)):
        j+=1
print( j )
for i in columns_race:
    j = 0
    for k in tempDf_race[i].values.tolist():
        if(isinstance(k,str)):
            j+=1
    print(j)
    tempDf_race[i] = tempDf_race[i].astype(float)

    list_total_races.append(tempDf_race[i].sum().astype(float))
list_total_races[0]

4
0
0
0
0
0

2433809.0

In [145]:
#we can check that all the cities in the total data set is still in the race_city dataset
cities2 = tempDf_race['city'].tolist()
cities2 =list(set(cities2))
j = 0
for i in cities:
    # print(i in cities2)
    # print(i)
    # print(cities2.index(i[0::1]))
    if(any(i in string for string in cities2)):
        #print(i)
        j+=1
    else:
        print(i)
        print(cities2.index(i[0::1]))

print(j)
print(list_bad_cities)

AL-Lawrence County

ValueError: 'AL-Lawrence County' is not in list

In [ ]:
#make a list of df fT-oubaor each city
list_df_cities = []
for i in cities:
    list_df_cities.append(df_total.loc[df_total['city'] == i])

In [ ]:
#make a list of race
races = df_total['race'].tolist()
races =list(set(races))
races = races[1::]
races

In [ ]:
mode_total = df_total['race'].mode(dropna=True).tolist()
print(mode_total)
for i in list_df_cities:
    mode = i['race'].mode(dropna=True)
    if(len(mode) == 0):
        i[['race']] = i[['race']].fillna(mode_total[0])
        if(i['race'].isnull().sum() != 0):
            print("null val")
    elif(isinstance(mode, type(i['race']))):
        mode.dropna()
        mode = mode.tolist()
        #if the mode has more than one value then take a random choice between the values
        i[['race']] = i[['race']].fillna(random.choice(tuple(mode)))



    df_total.loc[df_total['city'] ==  i.at[i.first_valid_index(),'city']] = i
df_total.info()

In [ ]:
 # removed all data wiht NaN in race Column...df_training[df_training['race'].isnull()]
df_total

In [ ]:
"""
We noticed that some of the 'age' data is missing.
So we imputed the average age of the people in each city and imputed the average age for the missing ages based on their city.
1. We calculate the total mean age of our total data sample.
2. We group by city, then calculate the mean Age at each city.
3. For each NaN age, we impute the mean age of that city. If that city was not calcuated (meaning this data is the only one from that city), we will use the total mean age.
"""
age_fix = df_total[['id','age','city']].copy()
age_fix = age_fix[age_fix['age'].isnull()].copy()
# 1. Calculate Total Mean Age
total_mean_age = df_total['age'].mean()

# 2. Calculate Mean of Each City
city_mean_ages = df_total.groupby('city')['age'].mean()

#3. Impute Age by the city. If City data does not exist, use Total Mean Age.
for i in age_fix.index:
    city = age_fix['city'][i]
    if city in city_mean_ages and not np.isnan(city_mean_ages[city]):
        age_fix['age'][i] = city_mean_ages[city]
    else:
        age_fix['age'][i] = total_mean_age


# update total list
df_total.update(age_fix)

df_total.info()

In [ ]:
"""
Fix the 'race' column
We want to impute the NaN in the 'race' column with the most frequent race that is reported in the same city.
First get a list of cities,
second, get the mode for each city.
"""
training_race_noNaN = df_training[df_training['race'].notnull()].copy()

training_cities = training_race_noNaN['city'].unique()

training_race_noNaN

In [ ]:
training_race_noNaN.groupby('city')['race'].agg(pd.Series.mode).to_frame()

In [ ]:
training_race_noNaN.groupby('city')['race'].agg(pd.Series.mode).to_frame()