In [262]:
import itertools
import pandas as pd
import random
import sklearn
from sklearn.model_selection import train_test_split
import datetime
from sklearn import metrics
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sb

In [263]:
"""
Our first goal is going to be data cleaning and munging. We want to take care of all null values
first.
"""

df_training = pd.read_csv('police_killings_train.csv')
df_test = pd.read_csv('police_killings_test.csv')
df_race_city = pd.read_csv('share_race_by_city.csv')
df_income = pd.read_csv('income.csv', encoding="ANSI")
df_poverty = pd.read_csv('poverty.csv', encoding="ANSI")
df_education = pd.read_csv('education.csv', encoding="ANSI")

df_test.info()
df_training

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 507 entries, 0 to 506
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       507 non-null    int64
 1   name                     507 non-null    object
 2   date                     507 non-null    object
 3   manner_of_death          507 non-null    object
 4   armed                    504 non-null    object
 5   age                      467 non-null    float64
 6   gender                   507 non-null    object
 7   race                     403 non-null    object
 8   city                     507 non-null    object
 9   state                    507 non-null    object
 10  signs_of_mental_illness  507 non-null    bool
 11  threat_level             507 non-null    object
 12  flee                     469 non-null    object
 13  body_camera              507 non-null    bool
dtypes: bool(2), float64(1), int64(1), object(10)
memory usage: 48.6+ KB

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
0,3,Tim Elliot,02/01/15,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False
1,4,Lewis Lee Lembke,02/01/15,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False
2,5,John Paul Quintero,03/01/15,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False
3,8,Matthew Hoffman,04/01/15,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False
4,9,Michael Rodriguez,04/01/15,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023,2256,Jeremy Lopez-Robledo,24/01/17,shot,knife,29.0,M,H,Las Cruces,NM,True,attack,Foot,True
2024,2257,Jonathan David Sper,24/01/17,shot,unarmed,30.0,M,W,Algoma Township,MI,True,attack,Not fleeing,False
2025,2258,Jose Efrain Rodriguez,24/01/17,shot and Tasered,gun,18.0,M,H,Lancaster City,PA,False,attack,Not fleeing,False
2026,2259,Ramon Milanez,24/01/17,shot,gun,32.0,M,H,Kuna,ID,False,attack,Car,False
2027,2260,Micah R. Lambert,25/01/17,shot,vehicle,37.0,M,W,Oxford,AL,True,attack,Car,False

In [264]:
"""
We will combine the training and tesing dataset to make cleaning easier and more accurate
"""

df_total = df_training.append(df_test, ignore_index=True)
df_total

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
0,3,Tim Elliot,02/01/15,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False
1,4,Lewis Lee Lembke,02/01/15,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False
2,5,John Paul Quintero,03/01/15,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False
3,8,Matthew Hoffman,04/01/15,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False
4,9,Michael Rodriguez,04/01/15,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2530,2822,Rodney E. Jacobs,28/07/17,shot,gun,31.0,M,NaN,Kansas City,MO,False,attack,Not fleeing,False
2531,2813,TK TK,28/07/17,shot,vehicle,NaN,M,NaN,Albuquerque,NM,False,attack,Car,False
2532,2818,Dennis W. Robinson,29/07/17,shot,gun,48.0,M,NaN,Melba,ID,False,attack,Car,False
2533,2817,Isaiah Tucker,31/07/17,shot,vehicle,28.0,M,B,Oshkosh,WI,False,attack,Car,True
2534,2815,Dwayne Jeune,31/07/17,shot,knife,32.0,M,B,Brooklyn,NY,True,attack,Not fleeing,False

In [265]:
"""
Race is one of the fields that have missing fields, we will use the race_city dataset to help
get an insight into which race to pick. First we ant to get the mode of the race's by city and impute
it directly in. Then we want to get the mode of the race and place it in, if there is more than one
mode then use race_city and take the race of highest population
"""
#make a list of unique cities
cities = df_total['city'].tolist()
cities =list(set(cities))
cities

['Lewisburg',
 'Clarksville',
 'Lisle',
 'Plantation',
 'Los Angeles',
 'Oxford',
 'Richland',
 'Mascotte',
 'Ladera Heights',
 'Las Vegas',
 'North Las Vegas',
 'Friendswood',
 'Moultrie',
 'Fairfield',
 'Montgomery',
 'Draper',
 'Tarboro',
 'Pacific Beach',
 'Eau Claire',
 'Douglas City',
 'Concord',
 'Milcreek',
 'Norwalk',
 'Germantown',
 'Elkins',
 'Visalia',
 'St. Paul',
 'Meadow Bridge',
 'Lafayette',
 'Crescent City',
 'Somerton',
 'Brick Township',
 'Jonesboro',
 'Belle Glade',
 'Ideal Beach',
 'Mankato',
 'Wilderville',
 'Deerfield',
 'Sumas',
 'Marana',
 'Neenah',
 'Sidney',
 'Huntley',
 'Nacogdoches',
 'Cedartown',
 'Mashantucket',
 'Boulder City',
 'Denham Springs',
 'Lovington',
 'Kokomo',
 'Bellville',
 'Brookhaven',
 'Sumter',
 'Ventnor',
 'New York',
 'Lompoc',
 'Cape Canaveral',
 'Wilkesboro',
 'San Ysidro',
 'Naples',
 'Osteen',
 'Wood County',
 'Memphis',
 'Freeport',
 'Old Saybrook',
 'Rotterdam',
 'Englewood',
 'Orrington',
 'Edgewood',
 'Tyrone',
 'Midland',
 'Sand Springs',
 'Irving',
 'Longview',
 'Laredo',
 'Philadelphia',
 'Cobb County',
 'Southington',
 'Montpelier',
 'Bend',
 'Chester',
 'Redlands',
 'Salt Lake City',
 'Henderson',
 'Evansville',
 'Laguna Pueblo',
 'Panhandle',
 'Beckville',
 'Rome',
 'Siskiyou County',
 'Vassalboro',
 'Savannah',
 'Herndon',
 'New Castle',
 'Lake Jackson',
 'Pima',
 'Garland',
 'Hampton',
 'Wauwatosa',
 'Forks Township',
 'Raleigh',
 'Kingsbury',
 'Show Low',
 'Iredell County',
 'Circleville',
 'Fontana',
 'La Quinta',
 'Pinnacle',
 'Shreveport',
 'Sylvania Township',
 'Stillwater',
 'Palo Alto',
 'Antigo',
 'Port Barre',
 'Watts',
 'Sandpoint',
 'Paddock Lake',
 'Auburn',
 'Olympia',
 'Asheville',
 'Montrose County',
 'Fort Walton Beach',
 'Crowley',
 'Gunlock',
 'Chicago',
 'Hutchins',
 'Santa Monica',
 'Hemet',
 'Lacey',
 'Prescott',
 'Douglasville',
 'Cache',
 'Santee',
 'Newton Grove',
 'Grand Prarie',
 'Aiea',
 'Brandywine',
 'Converse',
 'Slidell',
 'Maurice River',
 'Moreno Valley',
 'Lehigh',
 'Ragley',
 'Aitkin',
 'Bellflower',
 'New Brunswick',
 'Byars',
 'Apple Valley',
 'Tustin',
 'Grover Beach',
 'Pearland',
 'Des Moines',
 'Kuna',
 'Waldoboro',
 'Pittsburgh',
 'East Troy',
 'Weirton',
 'Cisco',
 'Callahan',
 'Rancho Cordova',
 'Lewistown',
 'Rocklin',
 'Bisbee',
 'Durham',
 'Muskogee',
 'Harmony',
 'McKinneyville',
 'Lemoore',
 'Somerset',
 'Ponca City',
 'Chino',
 'Toms River',
 'Loveland',
 'Lake Asbury',
 'Kingman',
 'Spanish Fork',
 'Edmund',
 'Pharr',
 'Boston',
 'Bossier City',
 'Bailey',
 'Cincinnati',
 'Jurupa Valley',
 'Wetumka',
 'Bloomfield Township',
 'Morris',
 'Whitfield County',
 'Lynwood',
 'Montebello',
 'Wasco',
 'Taylors',
 'Alton',
 'Roland',
 'Farmington',
 'Clendenin',
 'Sneads',
 'Ceres',
 'Pinion Hills',
 'Emeryville',
 'Maeystown',
 'Euclid',
 'Colorado Springs',
 'Hayward',
 'Milton',
 'Plant City',
 'Olivehurst',
 'Birmingham',
 'Mt. Pleasant',
 'Sioux Falls',
 'Lancaster',
 'Hohenwald',
 'Atlantic City',
 'Woodlawn',
 'Mountain Home',
 'Lorena',
 'Middletown',
 'Bardstown',
 'Kenner',
 'Ashtabula',
 'Elkhart',
 'Eagar',
 'South Lake Tahoe',
 'Pine Top',
 'Appleton',
 'Salemburg',
 'Eldorado Springs',
 'Oakland Park',
 'London',
 'Valinda',
 'Carson',
 'Mount Vernon',
 'Gray',
 'Jal',
 'Colorado City',
 'Jesup',
 'New London',
 'Morristown',
 'Aloha',
 'Mesa',
 'Olympic Valley',
 'Burkesville',
 'Eagle Mountain',
 'Alhambra',
 'Udall',
 'Ca\x96on City',
 'Florence',
 'Yuma',
 'Eureka',
 'Aldie',
 'Wapato',
 'Madera',
 'Elkton',
 'Avon',
 'Hobbs',
 'Riverdale',
 'Gillette',
 'Carson City',
 'Douglas',
 'Bradenton',
 'Middle River',
 'Summerville',
 'Coalinga',
 'Greenwood',
 'Mandan',
 'Marion',
 'Barrow County',
 'Fremont',
 'Panama City Beach',
 'Tiffin',
 'Pico Rivera',
 'Georgetown',
 'Albuquerque',
 'San Fernando',
 'Bay Minette',
 'Rexburg',
 'McAlester',
 'Ashville',
 'Muncie',
 'Pendleton',
 'La Mirada',
 'Brooklyn',
 'Geneva Township',
 'Hamilton',
 'Boulder Creek',
 'Islip',
 'Avenal',
 'Azle',
 'Taos',
 'Van Nuys',
 'Homer',
 'Antioch',
 'Malone',
 'Richmond',
 'Ozark',
 'Bismarck',
 'Villa Park',
 'San Rafael',
 'St. Joseph',
 'Lumberton',
 'Broomfield',
 'Greece',
 'Antelope',
 'White Plains',
 'Gainesville',
 'Laramie',
 'Fort Littleton',
 'Fort Meade',
 'Eastaboga',
 'Waukesha',
 'Acworth',
 'Plaquemine',
 'Archdale',
 'Rawlins',
 'Forest Park',
 'Metropolis',
 'Kearny',
 'Chesterfield County',
 'Vandalia',
 'Urbandale',
 'Piedmont',
 'Boerne',
 'Palm Harbor',
 'Noma',
 'Fountain Inn',
 'Roosevelt',
 'Frederica',
 'Mitchell',
 'El Cajon',
 'Millbrook',
 'Cumming',
 'Titusville',
 'Sierra Vista',
 'North Hills',
 'Dearborn',
 'Rosalia',
 'Woodstock',
 'Leitchfield',
 'Amarillo',
 'South Gate',
 'Riverside',
 'Sheboygan',
 'North Royalton',
 'Grass Valley',
 'Maricopa',
 'Trenton',
 'Edinburg',
 'Park County',
 'Solvang',
 'Cle Elum',
 'Seattle',
 'Seagoville',
 'Fond du Lac',
 'East Ridge',
 'Harrisonville',
 'Highgrove',
 'Tuscumbia',
 'Mobile',
 'Spanaway',
 'Petal',
 'Clarendon',
 'Cape Girardeau',
 'Avella',
 'Scott County',
 'Barona Indian Reservation',
 'Guthrie',
 'West Springfield',
 'Akron',
 'Lockhart',
 'Micanopy',
 'Hardeeville',
 'English',
 'Ishpeming Township',
 'Brookshire',
 'Blue Springs',
 'West Linn',
 'DeLand',
 'Brodhead',
 'Medina',
 'East St. Louis',
 'Palmdale',
 'Onalaska',
 'Harrisonburg',
 'Gallup',
 'Lawndale',
 'Efland',
 'Austell',
 'Kansas City',
 'Benton',
 'Cantonment',
 'Orange',
 'Calexico',
 'Humboldt',
 'Ontario',
 'White',
 'San Jose',
 'Tupelo',
 'Huntington Beach',
 'Lakeland',
 'West Covina',
 'Orange County',
 'Keaau',
 'Kirkland',
 'Downey',
 "Lee's Summit",
 'Dayton',
 'Fridley',
 'Hacienda Heights',
 'Pomona',
 'Pueblo',
 'Lawrence County',
 'Splendora',
 'Hudson',
 'Beaver',
 'Clarkesville',
 'Columbia Heights',
 'Schenectady',
 'Winchester',
 'Green',
 'Arcola',
 'Iuka',
 'East Baton Rouge',
 'Wilhoit',
 'Soddy-Daisy',
 'Chickasha',
 'Mt Airy',
 'Columbus',
 'Louisville',
 'Rosser',
 'Yreka',
 'Wilmore',
 'King George',
 'Buckhannon',
 'Brighton',
 'Long Beach',
 'Sierra Blanca',
 'Josephine County',
 'Springdale',
 'Byram',
 'Benton Harbor',
 'Logan Canyon',
 'Katy',
 'Federal Heights',
 'Stamford',
 'Ogden',
 'Roseville',
 'Gresham',
 'Kyle',
 'Romulus',
 'Grundy',
 'Rochester',
 'Fort Worth',
 'Three Forks',
 'Corning',
 'Tualatin',
 'Strong',
 'Melba',
 'Northglenn',
 'Bristol',
 'Weymouth',
 'Bonaire',
 'Hominy',
 'Gilmer',
 'Carmichael',
 'Stockbridge',
 'Wilmington',
 'Lake View',
 'Somerville',
 'Grand Rapids',
 'Booneville',
 'Canton',
 'Allentown',
 'Leland',
 'Twentynine Palms',
 'North Port',
 'Derry',
 'Grapeview',
 'Morgantown',
 'Bolton',
 'Lakes Charles',
 'Potsdam',
 'Mamou',
 'Casa Grande',
 'Coney Island',
 'Baytown',
 'Santa Ana',
 'Marksville',
 'Dolton',
 'Peachtree City',
 'Niceville',
 'Lynnwood',
 'Queens',
 'Temple',
 'McLemoresville',
 'New Orleans',
 'Stafford',
 'Spokane',
 'Monterey',
 'Westminster',
 'Montcalm',
 'Manila',
 'Gardner',
 'Covington',
 'Tomball',
 'Hammett',
 'Morenci',
 'Red Valley',
 'Aiken',
 'St. Clair Township',
 'Madison',
 'Twinsburg',
 'Wellington',
 'Madison Township',
 'Salinas',
 'Santa Barbara',
 'Bartlesville',
 'Wolf Creek',
 'Hog Valley',
 'Woodland',
 'Saratoga',
 'North Riverside',
 'Gladewater',
 'Goose Creek',
 'Bloomington',
 'Homewood',
 'Dinosaur',
 'Hopewell',
 'Ardmore',
 'Beacon',
 'Houma',
 'Orange City',
 'Upper Darby',
 'Killeen',
 'Rosemead',
 'Mountain Pine',
 'Smartsville',
 'Bakersfield',
 'Fuqua',
 'Graham',
 'Kennewick',
 'Landover',
 'Winslow',
 'Aguanga',
 'Knox',
 'Lealman',
 'Hutchinson',
 'Westlake',
 'Gallatin',
 'Kentwood',
 'Newport Beach',
 'Gibson County',
 'Truth or Consequences',
 'Phoenix',
 'Happy Valley',
 'Crystal Springs',
 'Estill Springs',
 'Wyoming',
 'Pikesville',
 'West Memphis',
 'Burnsville',
 'Palestine',
 'Mansfield',
 'Vadnais Heights',
 'Yulee',
 'Zion',
 'Tampa',
 'Fulshear',
 'Sun City',
 'San Angelo',
 'Independence',
 'Shelby',
 'Vancouver',
 'Indio',
 'Peterson',
 'Leedey',
 'Montclair',
 'Alamogordo',
 'Mountain View',
 'Elberton',
 'Norfolk',
 'Clackamas County',
 'Springtown',
 'Miami Gardens',
 'Falcon Heights',
 'Chavies',
 'Grand Junction',
 'Irmo',
 'Culpeper',
 'Barbourville',
 'Lodi',
 'Burns',
 'Union Grove',
 'Glendale',
 'Jacksonville',
 'Rib Mountain',
 'Largo',
 'Bell',
 'Greensboro',
 'Suffolk',
 'Rialto',
 'Monroe',
 'Yuba City',
 'Port Wentworth',
 'Medicine Lodge',
 'Owings Mills',
 'Holiday',
 'Escondido',
 'Opelika',
 'Joilet',
 'Kiowa',
 'Middleburg',
 'Rockford',
 'Fairfax',
 'Balch Springs',
 'University City',
 'Honolulu',
 'New Iberia',
 'Woodford',
 'Edmonton',
 'Snohomish',
 'Sims',
 'Assaria',
 'Kerrville',
 'Bloomsburg',
 'Vero Beach',
 'East Wenatchee',
 'Southfield',
 'Carlsbad',
 'Zanesville',
 'Johnsonville',
 'Hilo',
 'Grafton',
 'Everett',
 'Winooski',
 'Scottsdale',
 'St Louis',
 'Iva',
 'Thonotosassa',
 'Lumpkin',
 'Rapid Valley',
 'Delhi',
 'McPherson',
 'Wichita Falls',
 'Walnut Creek',
 'St. Cloud',
 'Fresno',
 'Gilroy',
 'Parowan',
 'Weeki Wachi',
 'West Chester',
 'Lead',
 'Maryneal',
 'Howland Township',
 'Centerville',
 'Colby',
 'Ashe County',
 'Encinitas',
 'Reading',
 'Saraland',
 'Floral City',
 'Fountain',
 'Camarillo',
 'Bridgeport',
 'Desert Edge',
 'Thornton',
 'Milwaukee',
 'Lenoir',
 'Beaverton',
 'Spring Lake',
 'Counce',
 'Levelland',
 'Midlothian',
 'Kenai Peninsula',
 'Buckeye',
 'Lancaster City',
 'Cape Coral',
 'Schulter',
 'Big Lake',
 'Southaven',
 'Lawton',
 'Tallahassee',
 'Lake Wales',
 'Lyndhurst',
 'Riverview',
 'Charleston',
 'Perry Township',
 'Bunch',
 'Oxnard',
 'Manatee',
 'Homestead',
 'Cartersville',
 'South Greensburg',
 'Carollwood',
 'Johnson City',
 'Montgomery Village',
 'Hays',
 'Fort Ashby',
 'McKinney',
 'Parma',
 'Millston',
 'Campobello',
 'Ouachita Parish',
 'Pulaski',
 'Okemah',
 'Sunset',
 'Knoxville',
 'Syracuse',
 'Coal County',
 'Lawrenceville',
 'North East',
 'Constantia',
 'Tulsa',
 'Florissant',
 'Jupiter',
 'Wilkinsburg',
 'Socorro',
 'Roxand Township',
 'Studio City',
 'Centennial',
 'Stone Mountain',
 'Kent',
 'Santa Nella',
 'Nashville',
 'East Stroudsburg',
 'Hollywood Hills',
 'Hawaiian Gardens',
 'Fort Valley',
 'Fort Stockton',
 'Jefferson County',
 'Thurston County',
 'Pine River',
 'North Branch',
 'Abingdon',
 'Burns Flat',
 'River Forest',
 'Burbank',
 'Mount Washington',
 'Eaton Rapids Township',
 'Chattanooga',
 'Ludowici',
 'Ripon',
 'Washington',
 'Princeton',
 'Golden Valley',
 'Algoma Township',
 'Jackson',
 'Medford',
 'Round Lake',
 'Clearlake Park',
 'Lake Havasu City',
 'Campo',
 'Panorama City',
 'Springfield',
 'Fair Oaks',
 'Arvonia',
 'Ludlow',
 'Atascadero',
 'Gerrardstown',
 'Highland',
 'Anaheim',
 'Powhatan County',
 'Fruitland Park',
 'Pearisburg',
 'Loganville',
 'Hometown',
 'Allen',
 'Winnie',
 'Delray Beach',
 'Nocona',
 'Camden',
 'Needles',
 'Arlington',
 'Sparks',
 'Deltona',
 'Nitro',
 'Chula Vista',
 'Vista',
 'Lake Stevens',
 'Capitol Heights',
 'Sugar Creek',
 'Tehachapi',
 'Berne',
 'Fountain Valley',
 'Pottawatomie County',
 'Carrollton',
 'El Monte',
 'Braintree',
 'Cohasset',
 'Northwood',
 'Hickory',
 'Clovis',
 'Union Township',
 'Cottonwood',
 'Bellingham',
 'Smithville',
 'Brownsville',
 'Landrum',
 'Little Egg Harbor',
 'Gary',
 'Breaux Bridge',
 'Terrell',
 'Sylmar',
 'Calimesa',
 'Uniontown',
 'La Paz County',
 'Sallisaw',
 'Alexandria',
 'St. Louis',
 'Rapid City',
 'Cochran',
 'Mandeville',
 'Burien',
 'Myra',
 'Pompano Beach',
 'Modesto',
 'San Diego',
 'Nevada',
 'Fort Lauderdale',
 'Bronx',
 'Goshen',
 'Broken Bow',
 'Gulfport',
 'Palm Beach Gardens',
 'Affton',
 'Las Cruces',
 'Surprise',
 'West Knox',
 'Big Springs',
 'Green Bay',
 'Butte',
 'Greenbelt',
 'Kings County',
 'Tucson',
 'Merrimack',
 'York County',
 'Peachland',
 'Commerce',
 'Middleton',
 'Bethany',
 'Aragonite',
 'Bainbridge Island',
 'Apache Junction',
 'Fort Pierce',
 'Stewartstown',
 'Colbert',
 'Poplar Bluff',
 'Redding',
 'Chesapeake',
 'Hattiesburg',
 'Rowe',
 'Raceland',
 'Meadow Vista',
 'Reisterstown',
 'Little Rock',
 'Castaic',
 'Harrisburg',
 'French Lick',
 'Federal Way',
 'Norman',
 'Oak Cliff',
 'Wood Lake',
 'Desha',
 'Delano',
 'Rancho Santa Margarita',
 'South El Monte',
 'Newton',
 'Parker',
 'Palm Springs',
 'Port Arthur',
 'Warren',
 'Avondale',
 'Billings',
 'Napa',
 'Baton Rouge',
 'Walls',
 'Newark',
 'Gardena',
 'Llano',
 'Tewksbury',
 'Myrtle Beach',
 'Fisty',
 'Rufe',
 'Ft. Lauderdale',
 'Pryor',
 'Norwood',
 'Latta',
 'Atlanta',
 'Clearfield',
 'Putnam Hall',
 'Celina',
 'Rutherfordton',
 'Brighton Township',
 'Hummelstown',
 'Fort Wayne',
 'Temecula',
 'Portsmouth',
 'Lufkin',
 'Macon',
 'Monteagle',
 'Jennings',
 'Lansing',
 'Fairborn',
 'Dinuba',
 'Overlea',
 'Roy',
 'Whittier',
 'Manistee',
 'Metairie',
 'New Paltz',
 'Roslindale',
 'Lincoln',
 'Lexington',
 'Watsonsville',
 'Russellville',
 'Lake Hallie',
 'Phelps',
 'Bowling Green',
 'Boone',
 'Berea',
 'Pahrump',
 'St. Petersburg',
 'Gadsden',
 'Seneca',
 'Henderson County',
 'Cade',
 'Powder Springs',
 'Water Valley',
 'Campbelltown',
 'Bullhead City',
 'Idaho Falls',
 'St. Augustine',
 'Oklahoma City',
 'Austin',
 'Stockton',
 'Vincennes',
 'Lizella',
 'Alamo',
 'Aurora',
 'Macon County',
 'Republic',
 'Harvey',
 'Hurst',
 'Columbia Township',
 'Leon County',
 'Azusa',
 'Paris',
 'Essex',
 'Sylacauga',
 'Topeka',
 'Buffalo',
 'East Flat Rock',
 'Campbellton',
 'Santa Fe',
 'Monon',
 'Millerton',
 'Carrizozo',
 'Spring Hill',
 'Clay',
 'Barrow',
 'Sharon',
 'Burlington',
 'Golden Shores',
 'Grand Forks',
 'Seaside',
 'Santa Cruz',
 'Colebrook Township',
 'Byng',
 'Rainbow City',
 'Papaaloa',
 'Ronda',
 'Sand City',
 'Lynn',
 'Addison',
 'Tom',
 'Wadesboro',
 'Beckley',
 'Dunsmuir',
 'Shelbyville',
 'Brooklet',
 'Evangeline Parish',
 'Mt. Auburn',
 'Newport News',
 'Washington Park',
 'Shafter',
 'East Point',
 'Clinton',
 'Emporia',
 'Franklin County',
 'Palm Bay',
 'Muscle Shoals',
 'Yonkers',
 'Torrance',
 'Spring',
 'Findlay',
 'Wellman',
 'Frederick',
 'Biloxi',
 'Spartanburg',
 'Barstow',
 'Yakima',
 'Cocoa',
 ...]

In [266]:
"""
Let's try cleaning the the race of city dataset now viewing the missing datapoints which are denoted at (X).
"""
list_race_df = df_race_city.values.tolist()
j = 0
list_bad_cities = []
for i in list_race_df:
    #we can see it is only null when all races are missing
    if(i.count('(X)') > 0):
        j+=1
        list_bad_cities.append(i[1])
        print(i.count('(X)'))
print("total cities with bad points = ", j)

5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
total cities with bad points =  20

In [267]:
"""With only 20/29260 holding a row of null values, we shall drop these cities"""
tempDf_race = df_race_city[df_race_city.share_white != '(X)'].copy()
print(tempDf_race.info())
df_race_city.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29248 entries, 0 to 29267
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Geographic area        29248 non-null  object
 1   City                   29248 non-null  object
 2   share_white            29248 non-null  object
 3   share_black            29248 non-null  object
 4   share_native_american  29248 non-null  object
 5   share_asian            29248 non-null  object
 6   share_hispanic         29248 non-null  object
dtypes: object(7)
memory usage: 1.8+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29268 entries, 0 to 29267
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Geographic area        29268 non-null  object
 1   City                   29268 non-null  object
 2   share_white            29268 non-null  object
 3   share_black            29268 non-null  object
 4   share_native_american  29268 non-null  object
 5   share_asian            29268 non-null  object
 6   share_hispanic         29268 non-null  object
dtypes: object(7)
memory usage: 1.6+ MB

In [268]:
#we can check that all the cities in the total data set is still in the race_city dataset

cities2 = tempDf_race['City'].tolist()
cities2 =list(set(cities2))
j = 0
for i in cities:
    if(i in cities2):
        print(i)
        j+=1
print(j)
print(list_bad_cities)

Carson City
1
['Chisana CDP', 'Flat CDP', 'Mertarvik CDP', 'Almanor CDP', 'Caribou CDP', 'Cedar Slope CDP', 'Silver City CDP', 'Sugarloaf Mountain Park CDP', 'University of California Merced CDP', 'Valley Wells CDP', 'Southfield CDP', 'Florida village', 'Goss town', 'Lakeside city', 'Greenhorn city', 'Laredo Ranchettes West CDP', 'Pueblo East CDP', 'Valle Hermoso CDP', 'Valle Verde CDP', 'Table Rock CDP']

In [269]:
#make a list of df for each city
list_df_cities = []
for i in cities:
    list_df_cities.append(df_total.loc[df_total['city'] == i])

In [270]:
#make a list of race
races = df_total['race'].tolist()
races =list(set(races))
races = races[1::]
races

['W', 'O', 'H', 'N', 'B', 'A']

In [271]:
mode_total = df_total['race'].mode(dropna=True).tolist()
print(mode_total)
for i in list_df_cities:
    mode = i['race'].mode(dropna=True)
    if(len(mode) == 0):
        i[['race']] = i[['race']].fillna(mode_total[0])
        if(i['race'].isnull().sum() != 0):
            print("null val")
    elif(isinstance(mode, type(i['race']))):
        mode.dropna()
        mode = mode.tolist()
        #if the mode has more than one value then take a random choice between the values
        i[['race']] = i[['race']].fillna(random.choice(tuple(mode)))



    df_total.loc[df_total['city'] ==  i.at[i.first_valid_index(),'city']] = i
df_total.info()

['W']

C:\Users\saads\CSE 351\CSE 351 Proj\venv\lib\site-packages\pandas\core\frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2535 entries, 0 to 2534
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       2535 non-null   int64
 1   name                     2535 non-null   object
 2   date                     2535 non-null   object
 3   manner_of_death          2535 non-null   object
 4   armed                    2526 non-null   object
 5   age                      2458 non-null   float64
 6   gender                   2535 non-null   object
 7   race                     2535 non-null   object
 8   city                     2535 non-null   object
 9   state                    2535 non-null   object
 10  signs_of_mental_illness  2535 non-null   bool
 11  threat_level             2535 non-null   object
 12  flee                     2470 non-null   object
 13  body_camera              2535 non-null   bool
dtypes: bool(2), float64(1), int64(1), object(10)
memory usage: 242.7+ KB

In [272]:
 # removed all data wiht NaN in race Column...df_training[df_training['race'].isnull()]
df_total

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
0,3,Tim Elliot,02/01/15,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False
1,4,Lewis Lee Lembke,02/01/15,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False
2,5,John Paul Quintero,03/01/15,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False
3,8,Matthew Hoffman,04/01/15,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False
4,9,Michael Rodriguez,04/01/15,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2530,2822,Rodney E. Jacobs,28/07/17,shot,gun,31.0,M,B,Kansas City,MO,False,attack,Not fleeing,False
2531,2813,TK TK,28/07/17,shot,vehicle,NaN,M,H,Albuquerque,NM,False,attack,Car,False
2532,2818,Dennis W. Robinson,29/07/17,shot,gun,48.0,M,W,Melba,ID,False,attack,Car,False
2533,2817,Isaiah Tucker,31/07/17,shot,vehicle,28.0,M,B,Oshkosh,WI,False,attack,Car,True
2534,2815,Dwayne Jeune,31/07/17,shot,knife,32.0,M,B,Brooklyn,NY,True,attack,Not fleeing,False

In [273]:
"""
Fix the 'race' column
We want to impute the NaN in the 'race' column with the most frequent race that is reported in the same city.
First get a list of cities,
second, get the mode for each city.
"""
training_race_noNaN = df_training[df_training['race'].notnull()].copy()

training_cities = training_race_noNaN['city'].unique()

training_race_noNaN

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
0,3,Tim Elliot,02/01/15,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False
1,4,Lewis Lee Lembke,02/01/15,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False
2,5,John Paul Quintero,03/01/15,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False
3,8,Matthew Hoffman,04/01/15,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False
4,9,Michael Rodriguez,04/01/15,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023,2256,Jeremy Lopez-Robledo,24/01/17,shot,knife,29.0,M,H,Las Cruces,NM,True,attack,Foot,True
2024,2257,Jonathan David Sper,24/01/17,shot,unarmed,30.0,M,W,Algoma Township,MI,True,attack,Not fleeing,False
2025,2258,Jose Efrain Rodriguez,24/01/17,shot and Tasered,gun,18.0,M,H,Lancaster City,PA,False,attack,Not fleeing,False
2026,2259,Ramon Milanez,24/01/17,shot,gun,32.0,M,H,Kuna,ID,False,attack,Car,False
2027,2260,Micah R. Lambert,25/01/17,shot,vehicle,37.0,M,W,Oxford,AL,True,attack,Car,False

In [274]:
training_race_noNaN.groupby('city')['race'].agg(pd.Series.mode).to_frame()

               race
city
Abingdon          W
Acworth           W
Addison           H
Aiken             W
Aitkin            W
...             ...
York              W
York County       B
Yuma              H
Zanesville        W
Zion         [B, W]

[1140 rows x 1 columns]

In [48]:
training_race_noNaN.groupby('city')['race'].agg(pd.Series.mode).to_frame()

               race
city
Abingdon          W
Acworth           W
Addison           H
Aiken             W
Aitkin            W
...             ...
York              W
York County       B
Yuma              H
Zanesville        W
Zion         [B, W]

[1140 rows x 1 columns]