In [1101]:
import itertools

import numpy
import pandas as pd
import random
import sklearn
from sklearn.model_selection import train_test_split
import datetime
from sklearn import metrics
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sb

# import graphviz

In [1102]:
"""
Our first goal is going to be data cleaning and munging. We want to take care of all null values
first.
"""

df_training = pd.read_csv('police_killings_train.csv')
df_test = pd.read_csv('police_killings_test.csv')
df_race_city = pd.read_csv('share_race_by_city.csv')
df_income = pd.read_csv('income.csv', encoding="ANSI")
df_poverty = pd.read_csv('poverty.csv', encoding="ANSI")
df_education = pd.read_csv('education.csv', encoding="ANSI")

df_test.info()
df_training

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 507 entries, 0 to 506
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       507 non-null    int64
 1   name                     507 non-null    object
 2   date                     507 non-null    object
 3   manner_of_death          507 non-null    object
 4   armed                    504 non-null    object
 5   age                      467 non-null    float64
 6   gender                   507 non-null    object
 7   race                     403 non-null    object
 8   city                     507 non-null    object
 9   state                    507 non-null    object
 10  signs_of_mental_illness  507 non-null    bool
 11  threat_level             507 non-null    object
 12  flee                     469 non-null    object
 13  body_camera              507 non-null    bool
dtypes: bool(2), float64(1), int64(1), object(10)
memory usage: 48.6+ KB

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
0,3,Tim Elliot,02/01/15,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False
1,4,Lewis Lee Lembke,02/01/15,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False
2,5,John Paul Quintero,03/01/15,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False
3,8,Matthew Hoffman,04/01/15,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False
4,9,Michael Rodriguez,04/01/15,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023,2256,Jeremy Lopez-Robledo,24/01/17,shot,knife,29.0,M,H,Las Cruces,NM,True,attack,Foot,True
2024,2257,Jonathan David Sper,24/01/17,shot,unarmed,30.0,M,W,Algoma Township,MI,True,attack,Not fleeing,False
2025,2258,Jose Efrain Rodriguez,24/01/17,shot and Tasered,gun,18.0,M,H,Lancaster City,PA,False,attack,Not fleeing,False
2026,2259,Ramon Milanez,24/01/17,shot,gun,32.0,M,H,Kuna,ID,False,attack,Car,False
2027,2260,Micah R. Lambert,25/01/17,shot,vehicle,37.0,M,W,Oxford,AL,True,attack,Car,False

In [1103]:
"""
We will combine the training and tesing dataset to make cleaning easier and more accurate
"""

df_total = df_training.append(df_test, ignore_index=True)
df_total

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
0,3,Tim Elliot,02/01/15,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False
1,4,Lewis Lee Lembke,02/01/15,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False
2,5,John Paul Quintero,03/01/15,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False
3,8,Matthew Hoffman,04/01/15,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False
4,9,Michael Rodriguez,04/01/15,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2530,2822,Rodney E. Jacobs,28/07/17,shot,gun,31.0,M,NaN,Kansas City,MO,False,attack,Not fleeing,False
2531,2813,TK TK,28/07/17,shot,vehicle,NaN,M,NaN,Albuquerque,NM,False,attack,Car,False
2532,2818,Dennis W. Robinson,29/07/17,shot,gun,48.0,M,NaN,Melba,ID,False,attack,Car,False
2533,2817,Isaiah Tucker,31/07/17,shot,vehicle,28.0,M,B,Oshkosh,WI,False,attack,Car,True
2534,2815,Dwayne Jeune,31/07/17,shot,knife,32.0,M,B,Brooklyn,NY,True,attack,Not fleeing,False

In [1104]:
print(df_income.info())
df_race_city.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29322 entries, 0 to 29321
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Geographic Area  29322 non-null  object
 1   City             29322 non-null  object
 2   Median Income    29271 non-null  object
dtypes: object(3)
memory usage: 687.4+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29268 entries, 0 to 29267
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Geographic area        29268 non-null  object
 1   City                   29268 non-null  object
 2   share_white            29268 non-null  object
 3   share_black            29268 non-null  object
 4   share_native_american  29268 non-null  object
 5   share_asian            29268 non-null  object
 6   share_hispanic         29268 non-null  object
dtypes: object(7)
memory usage: 1.6+ MB

In [1105]:
"""
There are many missing fields across all the supporting/optional datasets, in order to resolve this we need
to merge these datasets and then make the necessary imputation.
1. All data sets have a state and city type columns, merge those columns such that they can all have a column
to for indexing.
2. Get the list of cities within the mandatory dataset, we need to confirm that the supporting dataset
has these cities and if not then we need to impute.
"""
#make a list of unique cities, and include the state so we don't deal with same city names of different states
df_total['city'] = df_total[['state', 'city']].apply("-".join,axis=1)
df_race_city['city'] = df_race_city[['Geographic area', 'City']].apply("-".join,axis=1)
df_income['city'] = df_income[['Geographic Area', 'City']].apply("-".join,axis=1)
df_poverty['city'] = df_poverty[['Geographic Area', 'City']].apply("-".join,axis=1)
df_education['city'] = df_education[['Geographic Area', 'City']].apply("-".join,axis=1)
df_income = df_income.drop(['Geographic Area', 'City'], axis=1)
df_poverty = df_poverty.drop(columns=['Geographic Area', 'City'])
df_education = df_education.drop(columns=['Geographic Area', 'City'])
cities = df_total['city'].tolist()
cities =list(set(cities))
print(len(cities))
cities

1534

['TN-Columbia',
 'GA-Sylvester',
 'IL-Metropolis',
 'AL-Selma',
 'SC-Johnsonville',
 'AL-Lawrence County',
 'TN-Gibson County',
 'NC-Wilkesboro',
 'VA-Stafford',
 'CA-Riverside',
 'PA-Lewistown',
 'FL-Homestead',
 'TN-Bristol',
 'AZ-Surprise',
 'HI-Keaau',
 'AZ-Red Valley',
 'IL-Springfield',
 'OH-Cincinnati',
 'MO-Poplar Bluff',
 'CA-Shafter',
 'PA-Bloomsburg',
 'DE-Middletown',
 'SC-Lexington',
 'TX-Sunset',
 'MN-Columbia Heights',
 'TN-Raleigh',
 'TX-Mesquite',
 'MI-Berrien County',
 'IN-Indianapolis',
 'AL-Brooksville',
 'AL-Muscle Shoals',
 'WI-Monroe',
 'KY-Booneville',
 'NE-Sidney',
 'OH-Kent',
 'CO-Aurora',
 'WI-Millston',
 'UT-Provo',
 'GA-East Point',
 'TX-Rosenberg',
 'MI-Manistee',
 'NM-Alamogordo',
 'AL-Eufaula',
 'CA-Turlock',
 'SD-Rapid City',
 'CA-Desert Edge',
 'IA-Urbandale',
 'MA-Roslindale',
 'NY-Schenectady',
 'MO-Buffalo',
 'CA-Bell',
 'CA-Delhi',
 'KY-Daviess County',
 'CA-Burbank',
 'AR-Bull Shoals',
 'CA-Oxnard',
 'RI-Pawtucket',
 'AL-Phenix City',
 'GA-Commerce',
 'CA-Yuba City',
 'TX-Kerrville',
 'VA-Harrisonburg',
 'WA-Cle Elum',
 'TN-Johnson City',
 'AK-Fairbanks',
 'OH-Hudson',
 'TX-San Angelo',
 'CA-Lodi',
 'MS-St. Martin',
 'SC-Chesterfield County',
 'GA-Rockville',
 'PA-Penn Township',
 'MI-Lansing',
 'ND-Mandan',
 'OR-Eugene',
 'KS-Lehigh',
 'WV-Elkins',
 'UT-Ogden',
 'AR-Sims',
 'CA-Bellflower',
 'OH-Howland Township',
 'TX-El Paso',
 'WV-Montcalm',
 'MA-Beverly',
 'IL-Hurst',
 'TN-Counce',
 'OR-Medford',
 'FL-Cantonment',
 'CO-Fountain',
 'CA-Hawaiian Gardens',
 'NC-Statesville',
 'MN-Alexandria',
 'KY-Lancaster',
 'AL-Washington County',
 'AL-Saraland',
 'OK-Healdton',
 'WA-Wapato',
 'UT-Logan Canyon',
 'LA-Mamou',
 'CA-Cottonwood',
 'KS-Hutchinson',
 'WI-Fond du Lac',
 'NM-Pueblo of Laguna',
 'GA-Douglas',
 'IL-Chicago',
 'WY-Laramie',
 'TN-Clarksville',
 'NE-Omaha',
 'FL-Opa-Locka',
 'TX-Gladewater',
 'NC-Lawndale',
 'OH-Uniontown',
 'OK-Colbert',
 'OR-Tualatin',
 'TN-McLemoresville',
 'PA-Pittsburgh',
 'WV-Hometown',
 'KY-London',
 'CA-El Monte',
 'LA-Bossier City',
 'MN-Vadnais Heights',
 'GA-Savannah',
 'CA-Vista',
 'MO-Odessa',
 'GA-Ludowici',
 'CA-Wilmington',
 'OR-Gresham',
 'MN-Morris',
 'GA-Brooklet',
 'OK-Schulter',
 'CA-Redlands',
 'AZ-Parker',
 'SC-Pelzer',
 'TX-Hutchins',
 'FL-Niceville',
 'MN-Hutchinson',
 'CA-Clearlake Park',
 'CA-El Cajon',
 'WI-Green Bay',
 'FL-Sneads',
 'CA-Palm Springs',
 'CO-Commerce City',
 'CA-Elk Grove',
 'GA-Smyrna',
 'TX-Panhandle',
 'FL-Oakland Park',
 'WI-Beaver Dam',
 'TX-Fritch',
 'VA-Emporia',
 'MI-Romulus',
 'WA-Vancouver',
 'MO-Columbia',
 'ME-Waldoboro',
 'PA-Avella',
 'OH-Akron',
 'WV-Weirton',
 'IN-Kokomo',
 'VA-Hopewell',
 'AR-Farmington',
 'AR-Marion',
 'SC-Lake View',
 'MO-Affton',
 'NJ-Hackensack',
 'CA-Coalinga',
 'FL-Delray Beach',
 'OK-Broken Bow',
 'CA-South Gate',
 'WI-Greenfield',
 'MI-Marion',
 'NM-Taos',
 'NC-Efland',
 'AL-Sylacauga',
 'MD-North East',
 'CO-Parker',
 'WA-Bellingham',
 'LA-New Iberia',
 'CA-Fullerton',
 'HI-Kahuku',
 'NH-Claremont',
 'NC-Spring Lake',
 'SC-Goose Creek',
 'WV-Morgantown',
 'OK-McAlester',
 'CA-Brawley',
 'CA-San Ysidro',
 'WY-Casper',
 'FL-Orange County',
 'NC-Hudson',
 'VA-Alexandria',
 'TX-Tahoka',
 'CA-Hawthorne',
 'CA-La Quinta',
 'WA-Wenatchee',
 'FL-Hog Valley',
 'SC-Little Mountain',
 'FL-Navarre',
 'LA-Franklin',
 'NM-Rowe',
 'CA-Kings County',
 'CO-Montrose County',
 'KY-Lawrenceburg',
 'KY-Pine Top',
 'MD-Randallstown',
 'OK-Rush Springs',
 'FL-Jacksonville',
 'WA-Muckleshoot Indian Reservation',
 'PA-Union Township',
 'MI-Columbia Township',
 'MT-Huntley',
 'WA-Kirkland',
 'NV-Boulder City',
 'FL-Englewood',
 'NY-New Paltz',
 'MN-Vineland',
 'NC-Stoneville',
 'CA-Hayward',
 'CA-Anaheim',
 'FL-Fort Lauderdale',
 'CA-Whittier',
 'OK-Bethany',
 'OK-Burns Flat',
 'OK-Cushing',
 'TN-Morristown',
 'MS-Ruth',
 'OH-Dayton',
 'CA-Hollywood',
 'CA-Antelope',
 'MO-McDowell',
 'MN-Fridley',
 'FL-Tampa',
 'CA-Escondido',
 'OK-Kellyville',
 'TN-Elizabethton',
 'NC-Rutherfordton',
 'AK-Wasilla',
 'NY-Troy',
 'SC-Myrtle Beach',
 'MI-Hessel',
 'OH-Cleveland',
 'FL-Orlando',
 'CA-Santa Maria',
 'CA-Merced',
 'OK-Sand Springs',
 'MD-Fort Meade',
 'CT-Oakdale',
 'CA-Hemet',
 'PA-Chester',
 'WV-Bluefield',
 'AL-Arab',
 'VA-Grayson County',
 'CA-Madera',
 'WI-Geneva',
 'TN-West Knox',
 'ME-Madison',
 'TX-Reno',
 'MD-Mt Airy',
 'NC-Clinton',
 'NC-Durham',
 'PA-Somerset',
 'TX-Corpus Christi',
 'CA-Downey',
 'IA-Burlington',
 'CA-Barona Indian Reservation',
 'CA-Camarillo',
 'WA-Lynnwood',
 'TX-Fort Stockton',
 'MN-Mankato',
 'UT-Aragonite',
 'MO-North St. Louis',
 'CA-Twentynine Palms',
 'VA-Chesapeake',
 'CA-Studio City',
 'KY-Phelps',
 'CA-Seaside',
 'OK-Wewoka',
 'NC-Franklin',
 'CT-Fairfield',
 'AZ-Golden Valley',
 'MO-Blue Springs',
 'CA-Palo Alto',
 'CA-Clovis',
 'IA-Boone',
 'CA-Norwalk',
 'FL-DeLand',
 'CA-Valinda',
 'KS-Topeka',
 'CA-Moreno Valley',
 'PA-Canaan Township',
 'PA-East Stroudsburg',
 'IN-French Lick',
 'FL-Pompano Beach',
 'LA-New Orleans',
 'LA-Mandeville',
 'KS-McPherson',
 'MO-Sullivan',
 'KY-Fisty',
 'VA-Woodford',
 'CA-City Terrace',
 'ID-Melba',
 'OH-Colebrook Township',
 'TX-Lockhart',
 'ID-Idaho Falls',
 'VA-Pulaski',
 'IL-Round Lake',
 'OK-Lawton',
 'FL-Naples',
 'AZ-Maricopa',
 'GA-Mableton',
 'IN-English',
 'MI-Grand Rapids',
 'TX-Oak Cliff',
 'CO-Fort Collins',
 'AL-Deer Park',
 'OK-Millerton',
 'CA-Happy Valley',
 'AZ-Buckeye',
 'MS-Water Valley',
 'KS-Colby',
 'AL-Eastaboga',
 'MS-Tupelo',
 'TX-Terrell',
 'WV-Mount Hope',
 'MO-Big Bear',
 'CT-Mashantucket',
 'CA-Calexico',
 'AZ-Marana',
 'GA-Stone Mountain',
 'NY-New City',
 'IN-Hanover',
 'CA-Ripon',
 'CT-Bolton',
 'OH-Fairborn',
 'WA-Ridgefield',
 'WV-Princeton',
 'MO-Sedalia',
 'WA-Graham',
 'NC-Dublin',
 'FL-Pinellas Park',
 'CA-La Mirada',
 'DE-Claymont',
 'AZ-Morenci',
 'NE-Louisville',
 'WI-Wausau',
 'AZ-Pima',
 'AZ-Winslow',
 'CA-Poway',
 'IL-Lawndale',
 'OH-Rome',
 'AR-Little Rock',
 'FL-Cape Canaveral',
 'NY-Cheektowaga',
 'WY-Cheyenne',
 'WI-Weston',
 'MO-Cape Girardeau',
 'CA-Yorba Linda',
 'IL-Shawnee National Forest',
 'CA-Concord',
 'AR-Mountain Pine',
 'CA-Sunnyvale',
 'WA-Bainbridge Island',
 'TN-Chattanooga',
 'ID-Kuna',
 'AK-Big Lake',
 'SD-Kyle',
 'MD-Elkton',
 'SC-Boiling Springs',
 'NY-Beacon',
 'MN-Falcon Heights',
 'CA-Van Nuys',
 'FL-Thonotosassa',
 'FL-Fort Pierce',
 'NY-Staten Island',
 'PA-Philadelphia',
 'IN-Beech Grove',
 'DE-Frederica',
 'CT-Thomaston',
 'NC-Ronda',
 'TX-McKinney',
 'WV-Augusta',
 'VA-Pearisburg',
 'PA-Straban Township',
 'MI-Belleville',
 'FL-Crystal Springs',
 'DE-Smyrna',
 'NC-Iredell County',
 'UT-Syracuse',
 'CA-Needles',
 'CO-New Castle',
 'TX-Austin',
 'TN-Shelbyville',
 'VA-Fredericksburg',
 'NJ-Toms River',
 'AL-Homewood',
 'KY-Elizabethtown',
 'SC-Irmo',
 'AL-Rainbow City',
 'GA-Port Wentworth',
 'FL-Plantation',
 'AZ-Chandler',
 'GA-Rossville',
 'CA-Douglas City',
 'AZ-Florence',
 'GA-Jesup',
 'CO-Grand Junction',
 'GA-Fort Valley',
 'FL-Milton',
 'OH-Mansfield',
 'CA-Dunsmuir',
 'FL-Deltona',
 'MO-Ozark',
 'WA-Yakima',
 'CA-Rancho Santa Margarita',
 'AL-Gadsden',
 'CA-San Francisco',
 'CA-Jurupa Valley',
 'KS-Wichita',
 'TX-Abilene',
 'CA-Atascadero',
 'OK-Hominy',
 'FL-Jupiter',
 'VA-Aldie',
 'TN-Nashville',
 'MD-Middle River',
 'CO-Pueblo',
 'SC-Piedmont',
 'MI-Dearborn',
 'OK-Wetumka',
 'GA-Bonaire',
 'AL-Killeen',
 'OK-Anadarko',
 'ID-Hammett',
 'FL-Yulee',
 'MS-Hattiesburg',
 'ME-Arundel',
 'FL-Orange City',
 'IA-Cedar Rapids',
 'CA-Boulder Creek',
 'LA-Evangeline Parish',
 'ID-Sandpoint',
 'TX-Del Rio',
 'WA-Federal Way',
 'TX-Beaumont',
 'CA-Olympic Valley',
 'OK-Rufe',
 'TN-Humboldt',
 'AZ-Bisbee',
 'IN-Knox',
 'MI-Wyoming',
 'FL-Gainesville',
 'OH-Zanesville',
 'NM-Hobbs',
 'WI-Rib Mountain',
 'CA-Tehachapi',
 'KY-Bowling Green',
 'FL-Miami',
 'TN-Soddy-Daisy',
 'TX-Fort Worth',
 'CA-Maywood',
 'LA-Livingston Parish',
 'TX-Groveton',
 'IA-Wellman',
 'TX-Bellville',
 'WA-Spanaway',
 'WI-Appleton',
 'PA-Chambersburg',
 'KY-Owensboro',
 'LA-Crowley',
 'FL-Lakeland',
 'FL-Loxahatchee',
 'TX-Dallas',
 'TX-Amarillo',
 'MI-Bay City',
 'MT-Superior',
 'CT-Suffield',
 'KY-Fulton',
 'IL-Dolton',
 'PA-Sharon',
 'NJ-Ideal Beach',
 'CA-Orange',
 'TX-Irving',
 'MT-Livingston',
 'CA-Point Loma',
 'UT-West Jordan',
 'NC-Rowland',
 'GA-Eden',
 'OK-Guthrie',
 'CO-Brighton',
 'CA-Montclair',
 'KS-Rosalia',
 'MT-Malta',
 'GA-Barrow County',
 'AR-Dover',
 'GA-Cochran',
 'FL-Bradenton',
 'NM-Roswell',
 'CO-Federal Heights',
 'IN-Goshen',
 'DC-Washington',
 'OK-Midwest City',
 'MN-Eagan',
 'NJ-Maurice River',
 'PA-Pittston',
 'NC-Greenville',
 'KY-Russellville',
 'CA-Delano',
 'WI-Lake Hallie',
 'CA-Santa Monica',
 'TX-Houston',
 'CA-Eureka',
 'VA-Roanoke',
 'AL-Jackson County',
 'TX-Arlington',
 'MO-Springfield',
 'OH-Southington',
 'AL-Monroeville',
 'CA-Winchester',
 'CO-Park County',
 'NY-Islip',
 'IL-East St. Louis',
 'NM-Jal',
 'CA-Lake Elsinore',
 'IL-Marion',
 'AZ-San Manuel',
 'MI-Southfield',
 'SC-Aiken',
 'TN-Lewisburg',
 'CA-San Bernardino',
 'CA-Montebello',
 'SC-Campobello',
 'CA-San Mateo',
 'AL-Meridianville',
 'WY-Douglas',
 'NC-East Flat Rock',
 'CA-Sylmar',
 'ID-Council',
 'OK-Pryor',
 'AR-England',
 'MN-Minneapolis',
 'LA-Raceland',
 'TX-Port Arthur',
 'OH-Northwood',
 'IL-Rantoul',
 'MO-Jackson',
 'MA-Everett',
 'SD-Rosebud',
 'MI-Bloomfield Township',
 'OR-Bend',
 'TX-Midland',
 'AZ-Flagstaff',
 'WA-East Wenatchee',
 'MN-Peterson',
 'CA-Fairfield',
 'CA-San Diego County',
 'CA-Byron',
 'LA-Cade',
 'NV-Pahrump',
 'OR-Josephine County',
 'OR-King City',
 'CA-Lancaster',
 'OR-Salem',
 'UT-Roy',
 'CA-Sacramento',
 'PA-Wilkinsburg',
 'CA-Carson',
 'WI-Corning',
 'AZ-La Paz County',
 'IL-Forest Park',
 'CA-Watsonville',
 'OR-Colton',
 'TX-Victoria',
 'LA-Pride',
 'AZ-Phoenix',
 'OR-Oregon City',
 'SD-Rapid Valley',
 'MI-St. Joseph',
 'CA-Cabazon',
 'KS-Hays',
 'SC-Lake City',
 'MS-Southaven',
 'AR-West Memphis',
 'PA-West Chester',
 'NY-Clarendon',
 'OR-McMinnville',
 'NY-Coney Island',
 'CA-Marina',
 'CA-Fair Oaks',
 'MA-Lynn',
 'MD-Columbia',
 'IL-Jerseyville',
 'CA-Venice',
 'TX-Fulshear',
 'NY-Greece',
 'IN-Muncie',
 'MN-Burnsville',
 'MO-Nevada',
 'SC-Taylors',
 'KY-Morehead',
 'MN-Bloomington',
 'ME-Belgrade',
 'CA-Long Beach',
 'FL-Deland',
 'OK-Ardmore',
 'OH-North Royalton',
 'TX-Harker Heights',
 'TN-Hohenwald',
 'CA-North Hills',
 'TX-Waco',
 'AL-Bay Minette',
 'WV-Meadow Bridge',
 'OK-Muskogee',
 'CA-Castaic',
 'OK-Fairfax',
 'IN-Harmony',
 'FL-Jacksonsville',
 'NM-Eldorado',
 'NJ-Paterson',
 'FL-Wellington',
 'UT-Draper',
 'CA-Azusa',
 'CA-Highgrove',
 'ME-Presque Isle',
 'VA-Winchester',
 'OH-Twinsburg',
 'MI-Brighton Township',
 'NC-Gastonia',
 'CA-Cerritos',
 'FL-Pensacola',
 'ID-Middleton',
 'NJ-Lyndhurst',
 'KY-Richmond',
 'MD-Montgomery Village',
 'MS-Barton',
 'NC-Asheville',
 'MS-Columbus',
 'WA-Everett',
 'WV-Clendenin',
 'IL-Rock Island',
 'TX-Splendora',
 'OH-Geneva Township',
 'CA-Visalia',
 'WA-Fife',
 'WV-Nitro',
 'ID-Jefferson County',
 'OR-Wilderville',
 'WI-Sheboygan',
 'KY-Louisville',
 'NJ-Newark',
 'NC-Fayetteville',
 'CA-Glendale',
 'TX-Katy',
 'TX-Euless',
 'NV-Gardnerville Ranchos',
 'WA-Pasco',
 'CA-Aguanga',
 'IL-Stockton',
 'MI-Warren',
 'CO-Northglenn',
 'TX-Azle',
 'NJ-Vineland',
 'NY-Buffalo',
 'NC-Archdale',
 'FL-Palm Harbor',
 'AL-Tuscumbia',
 'WA-Hunters',
 'NC-Granite Falls',
 'NM-Ruidoso',
 'FL-Manatee',
 'NC-Canton',
 'LA-Converse',
 'GA-Marietta',
 'FL-Largo',
 'OK-Byng',
 'CA-Redding',
 'TX-Edinburg',
 'TN-Alamo',
 'IL-Arcola',
 'TX-Palestine',
 'TN-Reagan',
 'NM-Socorro',
 'FL-Miami Beach',
 'CA-Chula Vista',
 'IN-Terre Haute',
 'MS-Gulfport',
 'IA-Des Moines',
 'CA-Irvine',
 'GA-Elberton',
 'NV-North Las Vegas',
 'WI-Antigo',
 'CA-Santa Ana',
 'OH-Findlay',
 'AR-Perryville',
 'PA-Harrisburg',
 'GA-Moultrie',
 'NM-Los Lunas',
 'SC-Hardeeville',
 'PA-Johnstown',
 'FL-Middleburg',
 'OR-Wolf Creek',
 'TX-Jourdanton',
 'FL-North Port',
 'MN-Cohasset',
 'NJ-Woodbridge',
 'CA-Boyle Heights',
 'KY-Simpsonsville',
 'SC-Summerville',
 'AL-Birmingham',
 'AL-Clanton',
 'MO-Harrisonville',
 'CA-Hesperia',
 'MA-West Springfield',
 'TX-Winnie',
 'VA-Arlington',
 'CA-Inyokern',
 'WV-Petroleum',
 'TX-Lake Jackson',
 'NC-Ashe County',
 'KS-Kansas City',
 'NC-Greensboro',
 'CA-Wasco',
 'WI-Oshkosh',
 'CA-West Covina',
 'TX-Onalaska',
 'LA-Alexandria',
 'TX-Plano',
 'NC-Wake Forest',
 'WI-Neenah',
 'FL-Weeki Wachi',
 'TX-San Antonio',
 'CO-Bailey',
 'WI-Pembine',
 'AZ-Cottonwood',
 'GA-Valdosta',
 'IL-Rockford',
 'TX-Ellis County',
 'IL-River Forest',
 'TX-Carrollton',
 'AL-Opp',
 'OK-Logan County',
 'FL-Belle Glade',
 'KY-Chavies',
 'IN-Elkhart',
 'WA-Thurston County',
 'TX-Rosser',
 'SC-North Charleston',
 'CA-Olivehurst',
 'GA-Peachtree City',
 'SC-Pendleton',
 'CA-Lakewood',
 'CA-San Fernando',
 'WV-Beckley',
 'TX-Pearland',
 'CA-Barstow',
 'NJ-Bridgeton',
 'MN-Plymouth',
 'KY-White Plains',
 'NV-Sparks',
 'NY-Glenville',
 'NH-Peterborough',
 'TX-Nocona',
 'NJ-Little Egg Harbor',
 'CA-South Los Angeles',
 'NC-Maiden',
 'WI-Ashwaubenon',
 'NY-Mount Vernon',
 'TX-Seagoville',
 'SC-Seneca',
 'NJ-Trenton',
 'CA-Grover Beach',
 'TN-Gray',
 'MS-Petal',
 'OK-Cache',
 'AZ-Bullhead City',
 'CT-Bridgeport',
 'AL-Tuscaloosa',
 'VA-Scott County',
 'PA-Hummelstown',
 'MT-Three Forks',
 'FL-Orange Park',
 'SC-Iva',
 'CA-Gardena',
 'OH-Westlake',
 'WA-Beaver',
 'WA-Tukwila',
 'CA-Rosemead',
 'OR-Clackamas County',
 'CA-Chino',
 'AZ-Kearny',
 'HI-Honolulu',
 'MA-Taunton',
 'CA-Oakland',
 'KY-Trosper',
 'OH-Sylvania Township',
 'MD-Landover',
 'PA-Upper Darby',
 'GA-White',
 'ID-Garden City',
 'KS-Olathe',
 'FL-Panama City Beach',
 'GA-Augusta',
 'CA-Windsor',
 'CA-Yreka',
 'TN-Lakeland',
 'TX-Killeen',
 'CA-Cathedral City',
 'OH-Columbus',
 'CA-Monterey',
 'MI-Kentwood',
 'CA-Compton',
 'TX-Spring',
 'CA-Fremont',
 'HI-Hilo',
 'GA-Loganville',
 'TX-Allen',
 'OH-Mt. Auburn',
 'CA-Siskiyou County',
 'UT-Centerville',
 'OH-Vandalia',
 'MN-Austin',
 'CA-Campo',
 'MD-District Heights',
 'TX-Clute',
 'AK-Kenai Peninsula',
 'CA-Del Mar',
 'TX-Bexar County',
 'RI-Tiverton',
 'CA-Lompoc',
 'MN-New Hope',
 'FL-Palm Beach Gardens',
 'AR-Cabot',
 'OR-Beaverton',
 'VA-Norman',
 'TX-Ponder',
 'CA-Temecula',
 'VA-York County',
 'TN-Oneida',
 'CA-Colton',
 'TX-Temple',
 'MI-Benton Harbor',
 'FL-Palm Bay',
 'CA-Vallejo',
 'OH-Circleville',
 'MD-Owings Mills',
 'TX-Baytown',
 'MN-St. Cloud',
 'CA-Selma',
 'TX-Llano',
 'OR-Portland',
 'LA-Ouachita Parish',
 'MI-Beaverton',
 'FL-Lealman',
 'GA-Tyrone',
 'CO-Englewood',
 'TX-Mission',
 'IL-Markham',
 'IL-Benton',
 'UT-Clearfield',
 'NJ-Manchester',
 'MA-Boston',
 'FL-St. Petersburg',
 'PA-Lancaster City',
 'GA-Covington',
 'WI-Kenosha',
 'WA-Richland',
 'AL-Macon County',
 'CA-Rancho Cordova',
 'ME-Vassalboro',
 'GA-Stockbridge',
 'NM-Artesia',
 'PA-Mount Washington',
 'KY-Brodhead',
 'HI-Papaaloa',
 'IL-Zion',
 'CA-Santa Cruz',
 'LA-Houma',
 'PA-York',
 'IL-Joilet',
 'AZ-Tempe',
 'OK-Oklahoma City',
 'AR-Jonesboro',
 'NC-Pinnacle',
 'FL-Plant City',
 'IL-Clinton',
 'OK-Leedey',
 'NY-Bronx',
 'MD-Dundalk',
 'WA-Kelso',
 'NC-Lumberton',
 'ID-Mountain Home',
 'NC-Gaston County',
 'PA-Lancaster',
 'CA-East Hollywood',
 'KS-Udall',
 'TN-East Ridge',
 'LA-Slidell',
 'WA-Spokane',
 'TX-Wink',
 'TX-Weatherford',
 'AK-Barrow',
 'NY-Berne',
 'HI-Aiea',
 'FL-West Palm Beach',
 'MD-Rising Sun',
 'LA-Lakes Charles',
 'FL-Miami Gardens',
 'CA-Pico Rivera',
 'KY-Ludlow',
 'MT-Billings',
 'OK-Wagoner',
 'GA-Woodstock',
 'AR-Sheridan',
 'CA-Hollywood Hills',
 'TN-Decatur County',
 'NE-Lincoln',
 'OR-Burns',
 'FL-Port St. Lucie',
 'NJ-Atlantic City',
 'FL-Hallandale Beach',
 'CA-Hacienda Heights',
 'WI-Eau Claire',
 'WA-Sumas',
 'MD-Salisbury',
 'AZ-Sun City',
 'OH-Richmond Heights',
 'NC-Brevard',
 'GA-Acworth',
 'TN-Estill Springs',
 'TX-Campbellton',
 'TX-North Laredo',
 'CO-Strasburg',
 'CO-Eldorado Springs',
 'WV-Hensley',
 'GA-Cedartown',
 'OH-Celina',
 'NH-Merrimack',
 'MN-Aitkin',
 'NM-San Rafael',
 'LA-Winnsboro',
 'OR-West Linn',
 'KS-Newton',
 'IL-Alton',
 'WV-Brandywine',
 'TX-Longview',
 'CA-Union City',
 'CA-Chowchilla',
 'IN-Fishers',
 'TX-Beckville',
 'AZ-Somerton',
 'FL-Lake Asbury',
 'NM-Crownpoint',
 'VA-Falls Church',
 'MD-Greenbelt',
 'MO-Sugar Creek',
 'IL-Deerfield',
 'GA-Douglasville',
 'NC-Dallas',
 'GA-Newnan',
 'UT-Salt Lake City',
 'CA-Ontario',
 'CO-Greeley',
 'NJ-Byram',
 'DE-New Castle',
 'TX-Levelland',
 'MI-Ishpeming Township',
 'PA-Allentown',
 'GA-Riverdale',
 'TN-Lenoir City',
 'MO-Maysville',
 'LA-Homer',
 'AL-Mobile',
 'KY-Princeton',
 'MA-Webster',
 'ND-Grand Forks',
 'WI-New London',
 'WV-Braxton County',
 'IL-Lyons',
 'AZ-Golden Shores',
 'TX-Odessa',
 'LA-Kenner',
 'GA-Lawrenceville',
 'OH-Springfield',
 'WA-Grapeview',
 'CA-Smartsville',
 'SD-Sioux Falls',
 'GA-Austell',
 'LA-Gretna',
 'NY-Brooklyn',
 'WI-Madison',
 'OH-Englewood',
 'OH-Perry Township',
 'VA-Richmond',
 'NM-Santa Fe',
 'IL-Villa Park',
 'CA-San Marcos',
 'NM-Laguna Pueblo',
 'CA-Pinion Hills',
 'AL-Montgomery',
 'TX-Kingsbury',
 'SC-Edmund',
 'WA-Auburn',
 'AR-Manila',
 ...]

In [1106]:
"""
First lets merge each of the supporting datasets into df_temp.
We noticed that the missing values aren't consistent in the supporting datasets. So we need to change all types of
missing values to NAN such that we can impute using fillna().
"""
print(df_race_city.info())
df_temp = pd.merge(df_race_city, df_income, on='city', how='outer', sort=True)
df_temp = pd.merge(df_temp, df_poverty, on='city', how='outer', sort=True)
df_temp = pd.merge(df_temp, df_education, on='city', how='outer', sort=True)
columns_supp = df_temp.columns.values.tolist()
for i in columns_supp:
    df_temp[i] = df_temp[i].replace('-', '(X)')
    df_temp[i] = df_temp[i].replace('(X)', numpy.NAN)
print(df_temp.info())
df_temp

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29268 entries, 0 to 29267
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Geographic area        29268 non-null  object
 1   City                   29268 non-null  object
 2   share_white            29268 non-null  object
 3   share_black            29268 non-null  object
 4   share_native_american  29268 non-null  object
 5   share_asian            29268 non-null  object
 6   share_hispanic         29268 non-null  object
 7   city                   29268 non-null  object
dtypes: object(8)
memory usage: 1.8+ MB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 29477 entries, 0 to 29476
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Geographic area        29268 non-null  object
 1   City                   29268 non-null  object
 2   share_white            29248 non-null  object
 3   share_black            29248 non-null  object
 4   share_native_american  29248 non-null  object
 5   share_asian            29248 non-null  object
 6   share_hispanic         29248 non-null  object
 7   city                   29477 non-null  object
 8   Median Income          27418 non-null  object
 9   poverty_rate           29128 non-null  object
 10  percent_completed_hs   29132 non-null  object
dtypes: object(11)
memory usage: 2.7+ MB
None

,Geographic area,City,share_white,share_black,share_native_american,share_asian,share_hispanic,city,Median Income,poverty_rate,percent_completed_hs
0,AK,Adak city,19.6,4,5.5,52.5,8.9,AK-Adak city,78500,39.3,93.4
1,AK,Akhiok city,8.5,1.4,50.7,1.4,11.3,AK-Akhiok city,26250,40.5,62.5
2,AK,Akiachak CDP,3.5,0.2,95.1,0.2,0.2,AK-Akiachak CDP,38750,26.1,76.7
3,AK,Akiak city,5.2,0,92.8,0,0.3,AK-Akiak city,42000,31.3,81.3
4,AK,Akutan city,23.3,17.9,5.5,43.3,20.8,AK-Akutan city,24750,16.1,73
...,...,...,...,...,...,...,...,...,...,...,...
29472,WY,Woods Landing-Jelm CDP,95.9,0,0,2.1,0,WY-Woods Landing-Jelm CDP,NaN,18.6,100
29473,WY,Worland city,89.9,0.3,1.3,0.6,16.6,WY-Worland city,41523,15.3,85.6
29474,WY,Wright town,94.5,0.1,1.4,0.2,6.2,WY-Wright town,77114,5.9,89.2
29475,WY,Y-O Ranch CDP,92.8,1.5,2.6,0,11.8,WY-Y-O Ranch CDP,NaN,0,100
29476,WY,Yoder town,97.4,0,0,0,4,WY-Yoder town,37500,5.4,79.4

In [1107]:
"""
Let's try cleaning the the race of city dataset now viewing the missing datapoints which are denoted at (X).
"""
# df_temp['city'] = df_temp[['Geographic area', 'City']].apply("-".join,axis=1)
# list_race_df = df_temp.values.tolist()
# j = 0
# list_bad_cities = []
# for i in list_race_df:
#     #we can see it is only null when all races are missing
#     if(i.count('(X)') > 0):
#         j+=1
#         list_bad_cities.append(i[1])
#         print(i.count('(X)') )
# print("total cities with bad points = ", j)

"\nLet's try cleaning the the race of city dataset now viewing the missing datapoints which are denoted at (X).\n"

In [1108]:
"""With only 20/29260 holding a row of null values, we shall drop these cities"""
# tempDf_race = df_temp[df_race_city.share_white != '(X)'].copy()
# print(tempDf_race.info())
# df_race_city.info()

'With only 20/29260 holding a row of null values, we shall drop these cities'

In [1109]:
"""
We want to make sure all the cities that are in our mandatory dataset is accounted for in the supporting.
We shall add those cities if they aren't and impute them as nulls
"""
#we can check that all the cities in the total data set is still in the race_city dataset
cities2 = df_temp['city'].tolist()
cities2 =list(set(cities2))
j = 0
missing = 0
cities.sort()
cities2.sort()
rep_val = 0
for i in cities:
    # print(i in cities2)
    # print(i)
    # print(cities2.index(i[0::1]))
    if(i in cities2):
        j+=1
    elif(any(i in string for string in cities2)):
        if len(df_temp[df_temp['city'].str.contains(i) ]) == 1 and sum(i in string for string in cities) == 1:
            print(i)
            df_temp['city'].loc[df_temp['city'].str.contains(i)] = i
            rep_val+=1

        else:
            newDF = {}
            #print(i)
            newDF['Geographic area'] = i[0:2]
            newDF['City'] = i[3:]
            newDF['city'] = i
            ind = 0
            df_temp = df_temp.append(newDF, ignore_index=True)
            cities2 = df_temp['city'].tolist()
            cities2 =list(set(cities2))
            missing+=1

    else:
        newDF = {}
        #print(i)
        newDF['Geographic area'] = i[0:2]
        newDF['City'] = i[3:]
        newDF['city'] = i
        ind = 0
        df_temp = df_temp.append(newDF, ignore_index=True)
        cities2 = df_temp['city'].tolist()
        cities2 =list(set(cities2))
        missing+=1


print(j)
print("Replaced cities ", rep_val)
print(" Was Missing ", missing)
df_temp.drop_duplicates(subset='city', inplace=True)
df_temp.reset_index(inplace=True)
df_temp

AK-Anchorage
AK-Barrow
AK-Big Lake
AK-Fairbanks
AK-Houston
AK-Wasilla
AL-Abbeville
AL-Arab
AL-Ashville
AL-Bay Minette
AL-Birmingham
AL-Clanton
AL-Dadeville
AL-Deer Park
AL-Eufaula
AL-Gadsden
AL-Homewood
AL-Hoover
AL-Huntsville
AL-Meridianville
AL-Millbrook
AL-Mobile
AL-Monroeville
AL-Montgomery
AL-Muscle Shoals
AL-Opelika
AL-Opp
AL-Oxford
AL-Phenix City
AL-Piedmont
AL-Rainbow City
AL-Saraland
AL-Selma
AL-Sylacauga
AL-Tuscaloosa
AL-Tuscumbia
AL-Westover
AR-Austin
AR-Bull Shoals
AR-Cabot
AR-Dover
AR-England
AR-Farmington
AR-Fayetteville
AR-Jonesboro
AR-Little Rock
AR-Manila
AR-Marion
AR-Mena
AR-Mountain Pine
AR-Perryville
AR-Sheridan
AR-Springdale
AR-Strong
AR-West Memphis
AZ-Apache Junction
AZ-Avondale
AZ-Bisbee
AZ-Buckeye
AZ-Bullhead City
AZ-Casa Grande
AZ-Chandler
AZ-Eagar
AZ-Flagstaff
AZ-Florence
AZ-Gilbert
AZ-Glendale
AZ-Golden Shores
AZ-Golden Valley
AZ-Kearny
AZ-Kingman
AZ-Lake Havasu City
AZ-Marana
AZ-Morenci
AZ-Phoenix
AZ-San Manuel
AZ-Scottsdale
AZ-Show Low
AZ-Somerton
AZ-Surprise
AZ-Tempe
AZ-Wilhoit
AZ-Yuma
CA-Aguanga
CA-Anaheim
CA-Anderson
CA-Antelope
CA-Antioch
CA-Apple Valley
CA-Atascadero
CA-Atwater
CA-Avenal
CA-Azusa
CA-Bakersfield
CA-Barstow
CA-Beaumont
CA-Bellflower
CA-Boulder Creek
CA-Brawley
CA-Byron
CA-Cabazon
CA-Calexico
CA-Calimesa
CA-Camarillo
CA-Campo
CA-Carmichael
CA-Carson
CA-Castaic
CA-Cathedral City
CA-Ceres
CA-Cerritos
CA-Chico
CA-Chowchilla
CA-Chula Vista
CA-Citrus Heights
CA-Clovis
CA-Coalinga
CA-Colton
CA-Compton
CA-Concord
CA-Corning
CA-Cottonwood
CA-Del Mar
CA-Delano
CA-Delhi
CA-Desert Edge
CA-Dinuba
CA-Douglas City
CA-Downey
CA-Dunsmuir
CA-El Cajon
CA-El Monte
CA-Elk Grove
CA-Emeryville
CA-Encinitas
CA-Escondido
CA-Eureka
CA-Fair Oaks
CA-Fairfield
CA-Florence
CA-Fontana
CA-Fountain Valley
CA-Fremont
CA-Fresno
CA-Fullerton
CA-Gardena
CA-Gilroy
CA-Glendale
CA-Grass Valley
CA-Grover Beach
CA-Hacienda Heights
CA-Hawaiian Gardens
CA-Hawthorne
CA-Hayward
CA-Hemet
CA-Hesperia
CA-Highgrove
CA-Huntington Beach
CA-Huntington Park
CA-Inglewood
CA-Inyokern
CA-Irvine
CA-Jurupa Valley
CA-La Mirada
CA-La Quinta
CA-Ladera Heights
CA-Lake Elsinore
CA-Lakewood
CA-Lancaster
CA-Lodi
CA-Lompoc
CA-Long Beach
CA-Los Angeles
CA-Lynwood
CA-Maywood
CA-Meadow Vista
CA-Merced
CA-Modesto
CA-Montclair
CA-Montebello
CA-Moreno Valley
CA-Napa
CA-Needles
CA-Newark
CA-Newman
CA-Newport Beach
CA-Norwalk
CA-Oakland
CA-Olivehurst
CA-Ontario
CA-Oxnard
CA-Palm Springs
CA-Palmdale
CA-Palo Alto
CA-Pico Rivera
CA-Pleasanton
CA-Pomona
CA-Porterville
CA-Poway
CA-Rancho Cordova
CA-Rancho Santa Margarita
CA-Redding
CA-Redlands
CA-Rialto
CA-Ripon
CA-Riverside
CA-Rocklin
CA-Rosemead
CA-Sacramento
CA-Salinas
CA-San Bernardino
CA-San Fernando
CA-San Francisco
CA-San Jose
CA-San Marcos
CA-San Mateo
CA-Sand City
CA-Santa Ana
CA-Santa Barbara
CA-Santa Clara
CA-Santa Clarita
CA-Santa Cruz
CA-Santa Maria
CA-Santa Monica
CA-Santa Nella
CA-Santa Paula
CA-Santee
CA-Saratoga
CA-Seaside
CA-Selma
CA-Shafter
CA-Smartsville
CA-Solvang
CA-South El Monte
CA-South Gate
CA-South Lake Tahoe
CA-Stockton
CA-Sunnyvale
CA-Tehachapi
CA-Temecula
CA-Torrance
CA-Turlock
CA-Tustin
CA-Twentynine Palms
CA-Union City
CA-Vacaville
CA-Valinda
CA-Vallejo
CA-Visalia
CA-Walnut Creek
CA-Wasco
CA-Watsonville
CA-West Covina
CA-West Goshen
CA-Whittier
CA-Winchester
CA-Windsor
CA-Yorba Linda
CA-Yreka
CA-Yuba City
CO-Aurora
CO-Boulder
CO-Brighton
CO-Broomfield
CO-Centennial
CO-Colorado City
CO-Colorado Springs
CO-Commerce City
CO-Denver
CO-Dinosaur
CO-Eldorado Springs
CO-Englewood
CO-Evans
CO-Federal Heights
CO-Fort Collins
CO-Fountain
CO-Grand Junction
CO-Greeley
CO-Lakewood
CO-Loveland
CO-Mountain View
CO-New Castle
CO-Northglenn
CO-Parker
CO-Strasburg
CO-Thornton
CO-Trinidad
CO-Westminster
CT-Bridgeport
CT-Mashantucket
CT-Old Saybrook
CT-Stamford
CT-Suffield
CT-Thomaston
DC-Washington
DE-Claymont
DE-Frederica
DE-Middletown
DE-New Castle
DE-Smyrna
FL-Auburndale
FL-Belle Glade
FL-Brooksville
FL-Callahan
FL-Cape Canaveral
FL-Cape Coral
FL-Clermont
FL-Crescent City
FL-Crystal Springs
FL-Delray Beach
FL-Deltona
FL-Englewood
FL-Floral City
FL-Fort Lauderdale
FL-Fort Walton Beach
FL-Fruitland Park
FL-Gainesville
FL-Gifford
FL-Hallandale Beach
FL-Holiday
FL-Immokalee
FL-Lake Wales
FL-Largo
FL-Lealman
FL-Loxahatchee
FL-Manatee
FL-Mascotte
FL-Miami Beach
FL-Miami Gardens
FL-Micanopy
FL-Middleburg
FL-Milton
FL-Niceville
FL-Noma
FL-North Port
FL-Oakland Park
FL-Ocala
FL-Orange City
FL-Orange Park
FL-Orlando
FL-Palm Bay
FL-Palm Beach Gardens
FL-Palm Harbor
FL-Panama City Beach
FL-Pensacola
FL-Pinellas Park
FL-Plant City
FL-Pompano Beach
FL-Port St. Lucie
FL-Riverview
FL-Sneads
FL-St. Petersburg
FL-Tallahassee
FL-Tampa
FL-Thonotosassa
FL-Titusville
FL-Wellington
FL-West Palm Beach
FL-Yulee
GA-Acworth
GA-Albany
GA-Arlington
GA-Atlanta
GA-Austell
GA-Brooklet
GA-Carrollton
GA-Cartersville
GA-Cedartown
GA-Clarkesville
GA-Cochran
GA-Commerce
GA-Covington
GA-Cumming
GA-Decatur
GA-Douglasville
GA-East Point
GA-Elberton
GA-Fort Valley
GA-Gainesville
GA-Hampton
GA-Jesup
GA-Lawrenceville
GA-Loganville
GA-Ludowici
GA-Lumpkin
GA-Mableton
GA-Marietta
GA-Moultrie
GA-Newnan
GA-Peachtree City
GA-Port Wentworth
GA-Powder Springs
GA-Riverdale
GA-Rossville
GA-Savannah
GA-Smyrna
GA-Stockbridge
GA-Stone Mountain
GA-Sylvester
GA-Talking Rock
GA-Tyrone
GA-Valdosta
GA-Woodstock
HI-Aiea
HI-Hilo
HI-Kahuku
HI-Keaau
IA-Boone
IA-Burlington
IA-Cedar Rapids
IA-Des Moines
IA-Fort Madison
IA-North English
IA-Sioux City
IA-Urbandale
IA-Wellman
ID-Boise
ID-Council
ID-Garden City
ID-Homedale
ID-Idaho Falls
ID-Kuna
ID-Melba
ID-Middleton
ID-Rexburg
ID-Sandpoint
IL-Antioch
IL-Arcola
IL-Belleville
IL-Benton
IL-Clinton
IL-Deerfield
IL-Dolton
IL-East St. Louis
IL-Forest Park
IL-Harvey
IL-Hurst
IL-Jerseyville
IL-Lansing
IL-Lisle
IL-Lyons
IL-Maeystown
IL-Marion
IL-Markham
IL-Metropolis
IL-North Riverside
IL-Rantoul
IL-River Forest
IL-Rockford
IL-Springfield
IL-Stockton
IL-Villa Park
IL-Washington Park
IL-Zion
IN-Avon
IN-Beech Grove
IN-Brookville
IN-Elkhart
IN-English
IN-Evansville
IN-Fishers
IN-Fort Wayne
IN-French Lick
IN-Gary
IN-Goshen
IN-Greenwood
IN-Hanover
IN-Harmony
IN-Knox
IN-Kokomo
IN-Lafayette
IN-Monon
IN-Muncie
IN-Portage
IN-Shelbyville
IN-Terre Haute
IN-Vincennes
KS-Assaria
KS-Colby
KS-Gardner
KS-Hesston
KS-Hutchinson
KS-Kansas City
KS-Leavenworth
KS-Lehigh
KS-McPherson
KS-Medicine Lodge
KS-Newton
KS-Olathe
KS-Rosalia
KS-Topeka
KS-Udall
KS-Wichita
KY-Barbourville
KY-Bardstown
KY-Berea
KY-Booneville
KY-Bowling Green
KY-Brodhead
KY-Burkesville
KY-Edmonton
KY-Elizabethtown
KY-Elsmere
KY-Fulton
KY-Georgetown
KY-Hiseville
KY-Lancaster
KY-Lawrenceburg
KY-Leitchfield
KY-London
KY-Ludlow
KY-Morehead
KY-Owensboro
KY-Paris
KY-Phelps
KY-Princeton
KY-Richmond
KY-Russellville
KY-White Plains
KY-Wilmore
LA-Alexandria
LA-Baton Rouge
LA-Bossier City
LA-Breaux Bridge
LA-Cade
LA-Chalmette
LA-Converse
LA-Covington
LA-Crowley
LA-Denham Springs
LA-Gretna
LA-Harvey
LA-Homer
LA-Houma
LA-Kenner
LA-Mamou
LA-Mandeville
LA-Marksville
LA-Metairie
LA-New Iberia
LA-New Orleans
LA-Pineville
LA-Plaquemine
LA-Port Barre
LA-Raceland
LA-Shreveport
LA-Slidell
LA-Winnsboro
MA-Beverly
MA-Boston
MA-Braintree
MA-Brockton
MA-Everett
MA-Lowell
MA-Oxford
MA-Spencer
MA-Taunton
MA-Webster
MA-West Springfield
MA-Weymouth
MD-Capitol Heights
MD-Chestertown
MD-Columbia
MD-District Heights
MD-Dundalk
MD-Elkridge
MD-Elkton
MD-Essex
MD-Fort Meade
MD-Frederick
MD-Greenbelt
MD-Middle River
MD-Montgomery Village
MD-North East
MD-Overlea
MD-Owings Mills
MD-Pikesville
MD-Randallstown
MD-Reisterstown
MD-Rising Sun
MD-Salisbury
ME-Bangor
ME-Madison
ME-Naples
ME-Portland
ME-Presque Isle
ME-Waldoboro
MI-Bay City
MI-Beaverton
MI-Belleville
MI-Benton Harbor
MI-Grand Rapids
MI-Kentwood
MI-Lansing
MI-Marion
MI-Portage
MI-Romulus
MI-Saginaw
MI-Southfield
MI-St. Joseph
MI-Trenton
MI-Warren
MI-Wyoming
MN-Aitkin
MN-Alexandria
MN-Austin
MN-Bloomington
MN-Burnsville
MN-Cohasset
MN-Columbia Heights
MN-Eagan
MN-Falcon Heights
MN-Fridley
MN-Hutchinson
MN-Mankato
MN-Minneapolis
MN-Mora
MN-New Hope
MN-North Branch
MN-Peterson
MN-Plymouth
MN-Roseville
MN-St. Cloud
MN-Vadnais Heights
MN-Vineland
MO-Affton
MO-Blue Springs
MO-Buffalo
MO-Cape Girardeau
MO-Columbia
MO-Florissant
MO-Harrisonville
MO-Independence
MO-Jennings
MO-Kansas City
MO-Lakeshire
MO-Lee's Summit
MO-Maysville
MO-Neosho
MO-Nevada
MO-Odessa
MO-Ozark
MO-Poplar Bluff
MO-Republic
MO-Sedalia
MO-Springfield
MO-St. Joseph
MO-St. Louis
MO-Sugar Creek
MO-Sullivan
MS-Biloxi
MS-Brookhaven
MS-Gautier
MS-Greenville
MS-Gulfport
MS-Hattiesburg
MS-Iuka
MS-Lucedale
MS-Petal
MS-Smithville
MS-Southaven
MS-St. Martin
MS-Tupelo
MS-Walls
MS-Water Valley
MT-Billings
MT-Dillon
MT-Huntley
MT-Livingston
MT-Malta
MT-Superior
MT-Three Forks
NC-Archdale
NC-Asheville
NC-Brevard
NC-Canton
NC-Cary
NC-Charlotte
NC-Clinton
NC-Dallas
NC-Dublin
NC-Durham
NC-East Flat Rock
NC-Efland
NC-Fayetteville
NC-Gastonia
NC-Granite Falls
NC-Greensboro
NC-Greenville
NC-Hickory
NC-Hudson
NC-Kinston
NC-Lawndale
NC-Leland
NC-Lenoir
NC-Lumberton
NC-Maiden
NC-Newton Grove
NC-Peachland
NC-Pinnacle
NC-Pleasant Hill
NC-Raleigh
NC-Ronda
NC-Rowland
NC-Rutherfordton
NC-Salemburg
NC-Salisbury
NC-Shelby
NC-Spring Lake
NC-Statesville
NC-Stoneville
NC-Tarboro
NC-Wadesboro
NC-Wake Forest
NC-Wilkesboro
ND-Bismarck
ND-Mandan
NE-Big Springs
NE-Lincoln
NE-Louisville
NE-Omaha
NE-Sidney
NE-York
NH-Claremont
NH-Derry
NH-Peterborough
NJ-Atlantic City
NJ-Bridgeton
NJ-Byram
NJ-Camden
NJ-Hackensack
NJ-Hamilton
NJ-New Brunswick
NJ-Newark
NJ-Old Bridge
NJ-Paterson
NJ-Toms River
NJ-Trenton
NJ-Ventnor
NJ-Vineland
NJ-Woodbridge
NM-Alamogordo
NM-Albuquerque
NM-Artesia
NM-Carlsbad
NM-Carrizozo
NM-Crownpoint
NM-Deming
NM-Edgewood
NM-Eldorado
NM-Gallup
NM-Hanover
NM-Hobbs
NM-Jal
NM-Las Cruces
NM-Los Lunas
NM-Lovington
NM-Roswell
NM-Rowe
NM-San Rafael
NM-Santa Fe
NM-Socorro
NM-Truth or Consequences
NV-Boulder City
NV-Gardnerville Ranchos
NV-Henderson
NV-Las Vegas
NV-North Las Vegas
NV-Pahrump
NV-Reno
NV-Silver Springs
NV-Sparks
NY-Beacon
NY-Bronx
NY-Buffalo
NY-Cheektowaga
NY-Constantia
NY-Greece
NY-Malone
NY-Middletown
NY-Mount Vernon
NY-New City
NY-New Paltz
NY-Potsdam
NY-Rochester
NY-Rotterdam
NY-Schenectady
NY-Syracuse
NY-Troy
NY-Yonkers
OH-Akron
OH-Ashtabula
OH-Beverly
OH-Brookville
OH-Canton
OH-Celina
OH-Cincinnati
OH-Circleville
OH-Dayton
OH-Englewood
OH-Euclid
OH-Fairborn
OH-Findlay
OH-Hamilton
OH-Hudson
OH-Mansfield
OH-Medina
OH-Montpelier
OH-North Royalton
OH-Northwood
OH-Oak Hill
OH-Richmond Heights
OH-Rome
OH-Springfield
OH-Tiffin
OH-Toledo
OH-Uniontown
OH-Vandalia
OH-Westerville
OH-Westlake
OH-Zanesville
OK-Anadarko
OK-Ardmore
OK-Bartlesville
OK-Bethany
OK-Broken Bow
OK-Burns Flat
OK-Byars
OK-Byng
OK-Cache
OK-Chickasha
OK-Colbert
OK-Cushing
OK-Edmond
OK-Eufaula
OK-Fairfax
OK-Fairland
OK-Guthrie
OK-Healdton
OK-Hominy
OK-Kellyville
OK-Kiowa
OK-Lawton
OK-Leedey
OK-McAlester
OK-Miami
OK-Midwest City
OK-Millerton
OK-Muskogee
OK-Okemah
OK-Oklahoma City
OK-Ponca City
OK-Pryor
OK-Roland
OK-Rush Springs
OK-Sallisaw
OK-Sand Springs
OK-Schulter
OK-Stillwater
OK-Tahlequah
OK-Tulsa
OK-Wagoner
OK-Watts
OK-Wetumka
OK-Wewoka
OR-Aloha
OR-Beaverton
OR-Bend
OR-Burns
OR-Dallas
OR-Eugene
OR-Florence
OR-Grants Pass
OR-Gresham
OR-King City
OR-McMinnville
OR-Medford
OR-Oregon City
OR-Portland
OR-Salem
OR-Seaside
OR-Springfield
OR-Tualatin
OR-West Linn
PA-Allentown
PA-Avella
PA-Bloomsburg
PA-Campbelltown
PA-Chambersburg
PA-East Stroudsburg
PA-Harrisburg
PA-Hummelstown
PA-Johnstown
PA-Knoxville
PA-Lewistown
PA-Philadelphia
PA-Pittsburgh
PA-Pittston
PA-Reading
PA-Somerset
PA-South Greensburg
PA-Stewartstown
PA-West Chester
PA-Wilkinsburg
RI-Pawtucket
RI-Tiverton
SC-Aiken
SC-Boiling Springs
SC-Campobello
SC-Cayce
SC-Charleston
SC-Fountain Inn
SC-Goose Creek
SC-Greenville
SC-Hardeeville
SC-Irmo
SC-Iva
SC-Johnsonville
SC-Lake City
SC-Lake View
SC-Lancaster
SC-Landrum
SC-Latta
SC-Lexington
SC-Little Mountain
SC-Moncks Corner
SC-Myrtle Beach
SC-North Charleston
SC-Pelzer
SC-Pendleton
SC-Piedmont
SC-Seneca
SC-Spartanburg
SC-Summerville
SC-Sumter
SC-Taylors
SD-Kyle
SD-Lead
SD-Mitchell
SD-Rapid City
SD-Rapid Valley
SD-Rosebud
SD-Sioux Falls
TN-Alamo
TN-Arlington
TN-Bristol
TN-Chattanooga
TN-Clarksville
TN-Columbia
TN-Dickson
TN-East Ridge
TN-Elizabethton
TN-Estill Springs
TN-Franklin
TN-Gallatin
TN-Hendersonville
TN-Hohenwald
TN-Humboldt
TN-Jackson
TN-Johnson City
TN-Knoxville
TN-Lakeland
TN-Lenoir City
TN-Lewisburg
TN-McLemoresville
TN-Memphis
TN-Monteagle
TN-Morristown
TN-Oneida
TN-Sevierville
TN-Shelbyville
TN-Soddy-Daisy
TN-Somerville
TN-Sparta
TN-Spring Hill
TX-Abilene
TX-Addison
TX-Allen
TX-Amarillo
TX-Arlington
TX-Austin
TX-Azle
TX-Balch Springs
TX-Baytown
TX-Beaumont
TX-Beckville
TX-Bellville
TX-Boerne
TX-Brookshire
TX-Brownsville
TX-Carrollton
TX-Chapeno
TX-Cisco
TX-Clute
TX-Conroe
TX-Corpus Christi
TX-Dallas
TX-DeSoto
TX-Del Rio
TX-Denton
TX-Edinburg
TX-El Paso
TX-Euless
TX-Fort Stockton
TX-Fort Worth
TX-Freeport
TX-Friendswood
TX-Fritch
TX-Fulshear
TX-Garland
TX-Gilmer
TX-Gladewater
TX-Groveton
TX-Harker Heights
TX-Houston
TX-Hurst
TX-Hutchins
TX-Irving
TX-Jourdanton
TX-Katy
TX-Kerrville
TX-Killeen
TX-Kingsbury
TX-Lake Jackson
TX-Levelland
TX-Lockhart
TX-Longview
TX-Lorena
TX-Lufkin
TX-Mabank
TX-Mansfield
TX-Midland
TX-Midlothian
TX-Nacogdoches
TX-Odessa
TX-Onalaska
TX-Palestine
TX-Panhandle
TX-Paris
TX-Pearland
TX-Pharr
TX-Plano
TX-Ponder
TX-Port Arthur
TX-Rosenberg
TX-Rosser
TX-Saginaw
TX-San Angelo
TX-San Antonio
TX-Seagoville
TX-Sierra Blanca
TX-Splendora
TX-Springtown
TX-Tahoka
TX-Temple
TX-Tomball
TX-Waco
TX-Weatherford
TX-Webster
TX-West Odessa
TX-Whitewright
TX-Wichita Falls
TX-Wink
TX-Winnie
UT-Centerville
UT-Clearfield
UT-Draper
UT-Eagle Mountain
UT-Ogden
UT-Parowan
UT-Provo
UT-Roosevelt
UT-Roy
UT-Salt Lake City
UT-Spanish Fork
UT-Syracuse
UT-West Jordan
VA-Alexandria
VA-Arlington
VA-Chesapeake
VA-Concord
VA-Culpeper
VA-Emporia
VA-Falls Church
VA-Fredericksburg
VA-Grundy
VA-Harrisonburg
VA-Herndon
VA-Hopewell
VA-King George
VA-Newport News
VA-Norfolk
VA-Pearisburg
VA-Portsmouth
VA-Pulaski
VA-Richmond
VA-Roanoke
VA-Stafford
VA-Suffolk
VA-Virginia Beach
VA-Winchester
VT-Burlington
VT-Winooski
WA-Auburn
WA-Bainbridge Island
WA-Bellingham
WA-Burien
WA-Cle Elum
WA-Des Moines
WA-East Wenatchee
WA-Everett
WA-Federal Way
WA-Graham
WA-Grapeview
WA-Kelso
WA-Kennewick
WA-Kent
WA-Kirkland
WA-Lacey
WA-Lake Stevens
WA-Lakewood
WA-Lynnwood
WA-Olympia
WA-Pasco
WA-Richland
WA-Ridgefield
WA-Seattle
WA-Shelton
WA-Snohomish
WA-Spanaway
WA-Sumas
WA-Tacoma
WA-Tukwila
WA-Vancouver
WA-Wapato
WA-Wenatchee
WA-Woodland
WA-Yakima
WI-Antigo
WI-Appleton
WI-Ashwaubenon
WI-Beaver Dam
WI-East Troy
WI-Eau Claire
WI-Fond du Lac
WI-Green Bay
WI-Greenfield
WI-Jackson
WI-Kenosha
WI-Lake Hallie
WI-Madison
WI-Millston
WI-Milwaukee
WI-Monroe
WI-Neenah
WI-New London
WI-Oshkosh
WI-Paddock Lake
WI-Pembine
WI-Pine River
WI-Rib Mountain
WI-Waukesha
WI-Wauwatosa
WI-West Allis
WI-Weston
WV-Beckley
WV-Bluefield
WV-Brandywine
WV-Buckhannon
WV-Clendenin
WV-Elkins
WV-Fairmont
WV-Follansbee
WV-Fort Ashby
WV-Grafton
WV-Hometown
WV-Meadow Bridge
WV-Montcalm
WV-Morgantown
WV-Mount Hope
WV-Nitro
WV-Princeton
WV-Spencer
WV-Weirton
WY-Cheyenne
WY-Douglas
WY-Gillette
WY-Laramie
WY-Rawlins
1
Replaced cities  1189
 Was Missing  344

,index,Geographic area,City,share_white,share_black,share_native_american,share_asian,share_hispanic,city,Median Income,poverty_rate,percent_completed_hs
0,0,AK,Adak city,19.6,4,5.5,52.5,8.9,AK-Adak city,78500,39.3,93.4
1,1,AK,Akhiok city,8.5,1.4,50.7,1.4,11.3,AK-Akhiok city,26250,40.5,62.5
2,2,AK,Akiachak CDP,3.5,0.2,95.1,0.2,0.2,AK-Akiachak CDP,38750,26.1,76.7
3,3,AK,Akiak city,5.2,0,92.8,0,0.3,AK-Akiak city,42000,31.3,81.3
4,4,AK,Akutan city,23.3,17.9,5.5,43.3,20.8,AK-Akutan city,24750,16.1,73
...,...,...,...,...,...,...,...,...,...,...,...,...
29816,29816,WV,Braxton County,NaN,NaN,NaN,NaN,NaN,WV-Braxton County,NaN,NaN,NaN
29817,29817,WV,Gerrardstown,NaN,NaN,NaN,NaN,NaN,WV-Gerrardstown,NaN,NaN,NaN
29818,29818,WV,Hensley,NaN,NaN,NaN,NaN,NaN,WV-Hensley,NaN,NaN,NaN
29819,29819,WV,Petroleum,NaN,NaN,NaN,NaN,NaN,WV-Petroleum,NaN,NaN,NaN
29820,29820,WY,Casper,NaN,NaN,NaN,NaN,NaN,WY-Casper,NaN,NaN,NaN

In [1110]:
cities2 = df_temp['city'].tolist()
cities2 =list(set(cities2))
j = 0
for i in cities:
    # print(i in cities2)
    # print(i)
    # print(cities2.index(i[0::1]))
    if(i in  cities2):
        j+=1
#confirming that all the cities were placed in
print(j)

1534

In [1111]:
df_temp.sort_values(by=['city'], inplace=True)
df_temp

,index,Geographic area,City,share_white,share_black,share_native_american,share_asian,share_hispanic,city,Median Income,poverty_rate,percent_completed_hs
0,0,AK,Adak city,19.6,4,5.5,52.5,8.9,AK-Adak city,78500,39.3,93.4
1,1,AK,Akhiok city,8.5,1.4,50.7,1.4,11.3,AK-Akhiok city,26250,40.5,62.5
2,2,AK,Akiachak CDP,3.5,0.2,95.1,0.2,0.2,AK-Akiachak CDP,38750,26.1,76.7
3,3,AK,Akiak city,5.2,0,92.8,0,0.3,AK-Akiak city,42000,31.3,81.3
4,4,AK,Akutan city,23.3,17.9,5.5,43.3,20.8,AK-Akutan city,24750,16.1,73
...,...,...,...,...,...,...,...,...,...,...,...,...
29472,29472,WY,Woods Landing-Jelm CDP,95.9,0,0,2.1,0,WY-Woods Landing-Jelm CDP,NaN,18.6,100
29473,29473,WY,Worland city,89.9,0.3,1.3,0.6,16.6,WY-Worland city,41523,15.3,85.6
29474,29474,WY,Wright town,94.5,0.1,1.4,0.2,6.2,WY-Wright town,77114,5.9,89.2
29475,29475,WY,Y-O Ranch CDP,92.8,1.5,2.6,0,11.8,WY-Y-O Ranch CDP,NaN,0,100
29476,29476,WY,Yoder town,97.4,0,0,0,4,WY-Yoder town,37500,5.4,79.4

In [1112]:
"""
We want to impute the city and our state/Geographic area such that we have a full comprehensive list of both
separately after the merge.
Then we want to get a list of race names within the df_race_city.
"""

df_temp['Geographic area'] = [i[0:2] for i in df_temp['city']]
df_temp['City'] = [i[3:] for i in df_temp['city']]
print(df_temp)
list_states = df_temp['Geographic area'].values.tolist()
list_states = list(set(list_states))
#we expect to see 51 including DC as a state
print(len(list_states))
columns_race = df_temp.columns.values.tolist()
s = 'share'
columns_race = [string for string in columns_race if(s in string)]
columns_race

       index Geographic area                    City share_white share_black  \
0          0              AK               Adak city        19.6           4
1          1              AK             Akhiok city         8.5         1.4
2          2              AK            Akiachak CDP         3.5         0.2
3          3              AK              Akiak city         5.2           0
4          4              AK             Akutan city        23.3        17.9
...      ...             ...                     ...         ...         ...
29472  29472              WY  Woods Landing-Jelm CDP        95.9           0
29473  29473              WY            Worland city        89.9         0.3
29474  29474              WY             Wright town        94.5         0.1
29475  29475              WY           Y-O Ranch CDP        92.8         1.5
29476  29476              WY              Yoder town        97.4           0

      share_native_american share_asian share_hispanic  \
0                       5.5        52.5            8.9
1                      50.7         1.4           11.3
2                      95.1         0.2            0.2
3                      92.8           0            0.3
4                       5.5        43.3           20.8
...                     ...         ...            ...
29472                     0         2.1              0
29473                   1.3         0.6           16.6
29474                   1.4         0.2            6.2
29475                   2.6           0           11.8
29476                     0           0              4

                            city Median Income poverty_rate  \
0                   AK-Adak city         78500         39.3
1                 AK-Akhiok city         26250         40.5
2                AK-Akiachak CDP         38750         26.1
3                  AK-Akiak city         42000         31.3
4                 AK-Akutan city         24750         16.1
...                          ...           ...          ...
29472  WY-Woods Landing-Jelm CDP           NaN         18.6
29473            WY-Worland city         41523         15.3
29474             WY-Wright town         77114          5.9
29475           WY-Y-O Ranch CDP           NaN            0
29476              WY-Yoder town         37500          5.4

      percent_completed_hs
0                     93.4
1                     62.5
2                     76.7
3                     81.3
4                       73
...                    ...
29472                  100
29473                 85.6
29474                 89.2
29475                  100
29476                 79.4

[29821 rows x 12 columns]
51

['share_white',
 'share_black',
 'share_native_american',
 'share_asian',
 'share_hispanic']

In [1113]:
"""
Now we can impute the porportion of missing cities based on the state's porportions
"""
for state in list_states:
    j=0
    list_total_races = []
    state_df = df_temp.loc[df_temp['Geographic area'] == state]
    for i in columns_race:
        state_df[i] = state_df[i].astype(float)
        list_total_races.append(state_df[i].sum())
        print(list_total_races[j])
        j+=1
    sum_all_races = sum(list_total_races)
    porportional_share = [i/sum_all_races for i in list_total_races]
    #print(porportional_share, " sum= ", sum(porportional_share))
    j=0
    for i in columns_race:
        state_df[i] = state_df[i].fillna(porportional_share[j])
        j+=1
    df_temp.loc[df_temp['Geographic area'] == state] = state_df
print(df_temp.info())
df_temp

97576.2
568.5999999999999
273.8
404.40000000000003
2844.4
123518.1
6430.800000000001
357.9
1828.2999999999997
7068.1
53454.6
2474.8
10542.1
312.6
4175.5
30833.699999999997
82.7
4332.900000000001
116.4
800.1
52850.7
15077.300000000001
1321.4
684.5
4739.1
10620.1
202.2
719.4000000000001
258.9
1699.3999999999999
48419.1
2321.1000000000004
110.30000000000001
373.3
1168.4
42441.2
8816.6
411.1
258.1
2311.7
38158.3
3132.9
135.8
273.4
1225.3
21790.300000000003
680.9
64.7
693.4
1201.9
29158.5
125.5
1261.7
251.3
2498.2
41909.200000000004
13480.3
381.09999999999997
277.29999999999995
1722.5
38.5
50.7
0.3
3.5
9.1
5794.700000000001
1169.8999999999999
39.800000000000004
152.0
563.7000000000002
62377.899999999994
644.5
1256.9
286.1
3403.1
62744.7
2854.0
745.3
660.3
2446.5
164498.7
5768.7
285.0
1744.6
4820.2
71858.5
724.5
2025.5
611.3
2568.9
32947.2
199.10000000000002
973.3000000000001
519.8
3676.0999999999995
33078.9
113.1
4690.400000000001
124.0
794.4000000000001
30657.300000000003
14556.8
452.8
372.0
1407.9
40197.899999999994
420.30000000000007
744.2
528.9000000000001
8197.6
37356.299999999996
10082.3
176.6
1543.7
3072.5
83171.0
906.7
3047.0
929.3
2857.4
44084.799999999996
3801.4
140.10000000000002
3239.9
6062.0
38109.200000000004
1169.0
80.30000000000001
136.8
362.59999999999997
144370.7
10277.8
1151.6999999999998
1773.8000000000002
68809.79999999999
108949.3
4081.1
2612.2000000000003
8441.4
44949.2
39182.299999999996
19176.600000000002
188.0
933.7
4015.8999999999996
20161.6
67.0
573.1
110.69999999999999
2427.8
64669.899999999994
1151.4
188.10000000000002
400.2
2263.0
24480.399999999998
12969.599999999999
182.8
292.3
1767.8
44086.9
9757.9
202.3
2168.3999999999996
3636.4
111736.1
4767.8
258.9
904.8
2565.0
93066.8
6049.9
560.0999999999999
565.8
2433.4
12313.100000000002
713.8999999999999
93.9
427.5
1140.5
5038.799999999999
161.7
58.60000000000001
3873.9
1564.1
9185.4
68.7
27.6
128.9
167.49999999999997
18659.5
80.69999999999999
625.2
78.7
1215.6
16068.800000000001
199.70000000000002
16144.4
488.7
756.5
19475.6
15143.9
584.5
197.7
840.5
51732.100000000006
895.9000000000001
2355.2
1930.8000000000002
6662.1
105676.29999999999
4765.2
429.6
3233.3
7882.099999999999
54936.2
243.89999999999998
904.7
169.3
2360.7
28980.4
295.5
6795.799999999999
218.8
20127.5
11408.099999999999
91.70000000000002
44.0
108.30000000000003
164.20000000000002
37009.799999999996
143.3
2137.3
117.69999999999999
731.0
72378.70000000001
12301.199999999999
419.0
1487.4
15206.8
27028.0
430.5
12894.0
327.7
9085.2
3033.6999999999994
101.60000000000002
22.8
57.4
226.69999999999996
12534.900000000001
107.39999999999999
71.4
135.2
172.0
<class 'pandas.core.frame.DataFrame'>
Int64Index: 29821 entries, 0 to 29476
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   index                  29821 non-null  int64
 1   Geographic area        29821 non-null  object
 2   City                   29821 non-null  object
 3   share_white            29821 non-null  object
 4   share_black            29821 non-null  object
 5   share_native_american  29821 non-null  object
 6   share_asian            29821 non-null  object
 7   share_hispanic         29821 non-null  object
 8   city                   29821 non-null  object
 9   Median Income          27418 non-null  object
 10  poverty_rate           29128 non-null  object
 11  percent_completed_hs   29132 non-null  object
dtypes: int64(1), object(11)
memory usage: 3.0+ MB
None

,index,Geographic area,City,share_white,share_black,share_native_american,share_asian,share_hispanic,city,Median Income,poverty_rate,percent_completed_hs
0,0,AK,Adak city,19.6,4.0,5.5,52.5,8.9,AK-Adak city,78500,39.3,93.4
1,1,AK,Akhiok city,8.5,1.4,50.7,1.4,11.3,AK-Akhiok city,26250,40.5,62.5
2,2,AK,Akiachak CDP,3.5,0.2,95.1,0.2,0.2,AK-Akiachak CDP,38750,26.1,76.7
3,3,AK,Akiak city,5.2,0.0,92.8,0.0,0.3,AK-Akiak city,42000,31.3,81.3
4,4,AK,Akutan city,23.3,17.9,5.5,43.3,20.8,AK-Akutan city,24750,16.1,73
...,...,...,...,...,...,...,...,...,...,...,...,...
29472,29472,WY,Woods Landing-Jelm CDP,95.9,0.0,0.0,2.1,0.0,WY-Woods Landing-Jelm CDP,NaN,18.6,100
29473,29473,WY,Worland city,89.9,0.3,1.3,0.6,16.6,WY-Worland city,41523,15.3,85.6
29474,29474,WY,Wright town,94.5,0.1,1.4,0.2,6.2,WY-Wright town,77114,5.9,89.2
29475,29475,WY,Y-O Ranch CDP,92.8,1.5,2.6,0.0,11.8,WY-Y-O Ranch CDP,NaN,0,100
29476,29476,WY,Yoder town,97.4,0.0,0.0,0.0,4.0,WY-Yoder town,37500,5.4,79.4

In [1114]:
df_temp['Median Income'] = pd.to_numeric(df_temp['Median Income'], errors='coerce')
df_temp['poverty_rate'] = pd.to_numeric(df_temp['poverty_rate'], errors='coerce')
df_temp['percent_completed_hs'] = pd.to_numeric(df_temp['percent_completed_hs'], errors='coerce')
for state in list_states:
    state_df = df_temp.loc[df_temp['Geographic area'] == state]
    state_df['Median Income'] = state_df['Median Income'].fillna(state_df['Median Income'].mean())
    state_df['poverty_rate'] = state_df['poverty_rate'].fillna(state_df['poverty_rate'].mean())
    state_df['percent_completed_hs'] =state_df['percent_completed_hs'].fillna(state_df['percent_completed_hs'].mean())
    df_temp.loc[df_temp['Geographic area'] == state] = state_df
print(df_temp.info())

df_temp

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29821 entries, 0 to 29476
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   index                  29821 non-null  int64
 1   Geographic area        29821 non-null  object
 2   City                   29821 non-null  object
 3   share_white            29821 non-null  object
 4   share_black            29821 non-null  object
 5   share_native_american  29821 non-null  object
 6   share_asian            29821 non-null  object
 7   share_hispanic         29821 non-null  object
 8   city                   29821 non-null  object
 9   Median Income          29821 non-null  float64
 10  poverty_rate           29821 non-null  float64
 11  percent_completed_hs   29821 non-null  float64
dtypes: float64(3), int64(1), object(8)
memory usage: 3.0+ MB
None

,index,Geographic area,City,share_white,share_black,share_native_american,share_asian,share_hispanic,city,Median Income,poverty_rate,percent_completed_hs
0,0,AK,Adak city,19.6,4.0,5.5,52.5,8.9,AK-Adak city,78500.000000,39.3,93.4
1,1,AK,Akhiok city,8.5,1.4,50.7,1.4,11.3,AK-Akhiok city,26250.000000,40.5,62.5
2,2,AK,Akiachak CDP,3.5,0.2,95.1,0.2,0.2,AK-Akiachak CDP,38750.000000,26.1,76.7
3,3,AK,Akiak city,5.2,0.0,92.8,0.0,0.3,AK-Akiak city,42000.000000,31.3,81.3
4,4,AK,Akutan city,23.3,17.9,5.5,43.3,20.8,AK-Akutan city,24750.000000,16.1,73.0
...,...,...,...,...,...,...,...,...,...,...,...,...
29472,29472,WY,Woods Landing-Jelm CDP,95.9,0.0,0.0,2.1,0.0,WY-Woods Landing-Jelm CDP,60874.993464,18.6,100.0
29473,29473,WY,Worland city,89.9,0.3,1.3,0.6,16.6,WY-Worland city,41523.000000,15.3,85.6
29474,29474,WY,Wright town,94.5,0.1,1.4,0.2,6.2,WY-Wright town,77114.000000,5.9,89.2
29475,29475,WY,Y-O Ranch CDP,92.8,1.5,2.6,0.0,11.8,WY-Y-O Ranch CDP,60874.993464,0.0,100.0
29476,29476,WY,Yoder town,97.4,0.0,0.0,0.0,4.0,WY-Yoder town,37500.000000,5.4,79.4

In [1115]:
#make a list of df fT-oubaor each city
list_df_cities = []
for i in cities:
    list_df_cities.append(df_total.loc[df_total['city'] == i])

In [1116]:
#make a list of race
races = df_total['race'].tolist()
races =list(set(races))
races = races[1::]
races

['W', 'N', 'B', 'A', 'H', 'O']

In [1117]:
mode_total = df_total['race'].mode(dropna=True).tolist()
print(mode_total)
for i in list_df_cities:
    mode = i['race'].mode(dropna=True)
    if(len(mode) == 0):
        i[['race']] = i[['race']].fillna(mode_total[0])
        if(i['race'].isnull().sum() != 0):
            print("null val")
    elif(isinstance(mode, type(i['race']))):
        mode.dropna()
        mode = mode.tolist()
        #if the mode has more than one value then take a random choice between the values
        i[['race']] = i[['race']].fillna(random.choice(tuple(mode)))



    df_total.loc[df_total['city'] ==  i.at[i.first_valid_index(),'city']] = i
df_total.info()

['W']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2535 entries, 0 to 2534
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       2535 non-null   int64
 1   name                     2535 non-null   object
 2   date                     2535 non-null   object
 3   manner_of_death          2535 non-null   object
 4   armed                    2526 non-null   object
 5   age                      2458 non-null   float64
 6   gender                   2535 non-null   object
 7   race                     2535 non-null   object
 8   city                     2535 non-null   object
 9   state                    2535 non-null   object
 10  signs_of_mental_illness  2535 non-null   bool
 11  threat_level             2535 non-null   object
 12  flee                     2470 non-null   object
 13  body_camera              2535 non-null   bool
dtypes: bool(2), float64(1), int64(1), object(10)
memory usage: 242.7+ KB

In [1118]:
 # removed all data with NaN in race Column...df_training[df_training['race'].isnull()]
df_total

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
0,3,Tim Elliot,02/01/15,shot,gun,53.0,M,A,WA-Shelton,WA,True,attack,Not fleeing,False
1,4,Lewis Lee Lembke,02/01/15,shot,gun,47.0,M,W,OR-Aloha,OR,False,attack,Not fleeing,False
2,5,John Paul Quintero,03/01/15,shot and Tasered,unarmed,23.0,M,H,KS-Wichita,KS,False,other,Not fleeing,False
3,8,Matthew Hoffman,04/01/15,shot,toy weapon,32.0,M,W,CA-San Francisco,CA,True,attack,Not fleeing,False
4,9,Michael Rodriguez,04/01/15,shot,nail gun,39.0,M,H,CO-Evans,CO,False,attack,Not fleeing,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2530,2822,Rodney E. Jacobs,28/07/17,shot,gun,31.0,M,B,MO-Kansas City,MO,False,attack,Not fleeing,False
2531,2813,TK TK,28/07/17,shot,vehicle,NaN,M,H,NM-Albuquerque,NM,False,attack,Car,False
2532,2818,Dennis W. Robinson,29/07/17,shot,gun,48.0,M,W,ID-Melba,ID,False,attack,Car,False
2533,2817,Isaiah Tucker,31/07/17,shot,vehicle,28.0,M,B,WI-Oshkosh,WI,False,attack,Car,True
2534,2815,Dwayne Jeune,31/07/17,shot,knife,32.0,M,B,NY-Brooklyn,NY,True,attack,Not fleeing,False

In [1119]:
"""
We noticed that some of the 'age' data is missing.
So we imputed the average age of the people in each city and imputed the average age for the missing ages based on their city.
1. We calculate the total mean age of our total data sample.
2. We group by city, then calculate the mean Age at each city.
3. For each NaN age, we impute the mean age of that city. If that city was not calcuated (meaning this data is the only one from that city), we will use the total mean age.
"""
age_fix = df_total[['id','age','city']].copy()
age_fix = age_fix[age_fix['age'].isnull()].copy()
# 1. Calculate Total Mean Age
total_mean_age = df_total['age'].mean()

# 2. Calculate Mean of Each City
city_mean_ages = df_total.groupby('city')['age'].mean()

#3. Impute Age by the city. If City data does not exist, use Total Mean Age.
for i in age_fix.index:
    city = age_fix['city'][i]
    if city in city_mean_ages and not np.isnan(city_mean_ages[city]):
        age_fix['age'][i] = city_mean_ages[city]
    else:
        age_fix['age'][i] = total_mean_age


# update total list
df_total.update(age_fix)

df_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2535 entries, 0 to 2534
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       2535 non-null   float64
 1   name                     2535 non-null   object
 2   date                     2535 non-null   object
 3   manner_of_death          2535 non-null   object
 4   armed                    2526 non-null   object
 5   age                      2535 non-null   float64
 6   gender                   2535 non-null   object
 7   race                     2535 non-null   object
 8   city                     2535 non-null   object
 9   state                    2535 non-null   object
 10  signs_of_mental_illness  2535 non-null   bool
 11  threat_level             2535 non-null   object
 12  flee                     2470 non-null   object
 13  body_camera              2535 non-null   bool
dtypes: bool(2), float64(2), object(10)
memory usage: 242.7+ KB

In [1120]:
"""
We noticed there were missing values for 'armed' and 'flee'. For these, we imputed the most frequent data that appeared.
These are listed in the variables flee_mode and armed_mode
"""
flee_mode = df_total['flee'].agg(pd.Series.mode).values.tolist()[0]
armed_mode = df_total['armed'].agg(pd.Series.mode).values.tolist()[0]
df_total['flee'].fillna(flee_mode, inplace=True)
df_total['armed'].fillna(armed_mode, inplace=True)
df_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2535 entries, 0 to 2534
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       2535 non-null   float64
 1   name                     2535 non-null   object
 2   date                     2535 non-null   object
 3   manner_of_death          2535 non-null   object
 4   armed                    2535 non-null   object
 5   age                      2535 non-null   float64
 6   gender                   2535 non-null   object
 7   race                     2535 non-null   object
 8   city                     2535 non-null   object
 9   state                    2535 non-null   object
 10  signs_of_mental_illness  2535 non-null   bool
 11  threat_level             2535 non-null   object
 12  flee                     2535 non-null   object
 13  body_camera              2535 non-null   bool
dtypes: bool(2), float64(2), object(10)
memory usage: 242.7+ KB

In [1121]:
"""
****GIVE EXPLANATION OF OUR ENTIRE PROCESS
########################### END OF DATA MUNGING##########################
"""

'\n****GIVE EXPLANATION OF OUR ENTIRE PROCESS\n########################### END OF DATA MUNGING##########################\n'

In [1122]:
"""
Data Analysis
Exploratory Data Analysis (EDA 10 Points)
"""
df_total

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
0,3.0,Tim Elliot,02/01/15,shot,gun,53.000000,M,A,WA-Shelton,WA,True,attack,Not fleeing,False
1,4.0,Lewis Lee Lembke,02/01/15,shot,gun,47.000000,M,W,OR-Aloha,OR,False,attack,Not fleeing,False
2,5.0,John Paul Quintero,03/01/15,shot and Tasered,unarmed,23.000000,M,H,KS-Wichita,KS,False,other,Not fleeing,False
3,8.0,Matthew Hoffman,04/01/15,shot,toy weapon,32.000000,M,W,CA-San Francisco,CA,True,attack,Not fleeing,False
4,9.0,Michael Rodriguez,04/01/15,shot,nail gun,39.000000,M,H,CO-Evans,CO,False,attack,Not fleeing,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2530,2822.0,Rodney E. Jacobs,28/07/17,shot,gun,31.000000,M,B,MO-Kansas City,MO,False,attack,Not fleeing,False
2531,2813.0,TK TK,28/07/17,shot,vehicle,31.153846,M,H,NM-Albuquerque,NM,False,attack,Car,False
2532,2818.0,Dennis W. Robinson,29/07/17,shot,gun,48.000000,M,W,ID-Melba,ID,False,attack,Car,False
2533,2817.0,Isaiah Tucker,31/07/17,shot,vehicle,28.000000,M,B,WI-Oshkosh,WI,False,attack,Car,True
2534,2815.0,Dwayne Jeune,31/07/17,shot,knife,32.000000,M,B,NY-Brooklyn,NY,True,attack,Not fleeing,False

In [1123]:
"""
Q: Which state has the most fatal police shootings? Which city is the most dangerous?
Create a collapsed dataframe of state. Create a collapsed data frame of Cities.
"""
# Make a copy of Total Data For City!
df_aux = df_total.copy()
df_aux.sort_values(by=['city'])

# The following dropped Columns are not used when data is collapsed as City
df_aux.drop(columns=['id', 'name', 'date', 'age', 'state'], inplace=True)
df_aux.set_index('city', inplace=True)
df_aux = df_aux.astype(str)
cols = df_aux.columns.tolist() # Move 'arms' to end of list
cols.append(cols.pop(cols.index('armed')))
df_aux = df_aux[cols]

# Get a list of 'df_aux' column names
aux_cols = df_aux.columns

# Get a list of the index cities (Sorted)
list_of_cities = df_aux.index.unique().tolist()
list_of_cities.sort()

# For each column, change the string such that  " 'COLUMN_NAME': + str + (s) " is the result for each string.
# This is important so that when we build/update our resulting Dataframe, it will have unique values per catagory.
for i in list_of_cities:
    for j in aux_cols:
        df_aux.at[i, j] =  j.upper() + ': ' + df_aux.at[i, j]

# Make the df_city_stats Columns
freq_list_cols = ['Total Cases']
for i in aux_cols:
    freq_list_cols = freq_list_cols + df_aux[i].unique().tolist()


# Create Dataframe to build up
df_city_stats = pd.DataFrame(index=list_of_cities, columns=freq_list_cols)
df_city_stats = df_city_stats.fillna(0)
for i in list_of_cities: # indexs
    temp = len(df_aux[df_aux.index == i])
    df_city_stats.loc[i]['Total Cases'] = temp
    for j in aux_cols:
        temp = df_aux[df_aux.index == i][j].value_counts()
        df_city_stats.loc[i].update(temp)

df_city_stats

,Total Cases,MANNER_OF_DEATH: shot,MANNER_OF_DEATH: shot and Tasered,GENDER: M,GENDER: F,RACE: A,RACE: W,RACE: H,RACE: B,RACE: O,...,ARMED: metal rake,ARMED: crowbar,ARMED: oar,ARMED: machete and gun,ARMED: tire iron,ARMED: air conditioner,ARMED: pole and knife,ARMED: baseball bat and bottle,ARMED: fireworks,ARMED: pen
AK-Anchorage,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
AK-Barrow,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
AK-Big Lake,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
AK-Fairbanks,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
AK-Houston,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
WY-Cheyenne,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
WY-Douglas,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
WY-Gillette,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
WY-Laramie,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
WY-Rawlins,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [1124]:
# Make a copy of Total Data For State!
df_aux = df_total.copy()
df_aux.sort_values(by=['state'])

# The following dropped Columns are not used when data is collapsed as City
df_aux.drop(columns=['id', 'name', 'date', 'age', 'city'], inplace=True)
df_aux.set_index('state', inplace=True)
df_aux = df_aux.astype(str)
cols = df_aux.columns.tolist() # Move 'arms' to end of list
cols.append(cols.pop(cols.index('armed')))
df_aux = df_aux[cols]

# Get a list of 'df_aux' column names
aux_cols = df_aux.columns

# Get a list of the index state (Sorted)
list_of_states = df_aux.index.unique().tolist()
list_of_states.sort()

# For each column, change the string such that  " 'COLUMN_NAME': + str + (s) " is the result for each string.
# This is important so that when we build/update our resulting Dataframe, it will have unique values per catagory.
for i in list_of_states:
    for j in aux_cols:
        df_aux.at[i, j] =  j.upper() + ': ' + df_aux.at[i, j]

# Make the df_city_stats Columns
freq_list_cols = ['Total Cases']
for i in aux_cols:
    freq_list_cols = freq_list_cols + df_aux[i].unique().tolist()


# Create Dataframe to build up
df_state_stats = pd.DataFrame(index=list_of_states, columns=freq_list_cols)
df_state_stats = df_state_stats.fillna(0)
for i in list_of_states: # indexs
    temp = len(df_aux[df_aux.index == i])
    df_state_stats.loc[i]['Total Cases'] = temp
    for j in aux_cols:
        temp = df_aux[df_aux.index == i][j].value_counts()
        df_state_stats.loc[i].update(temp)

df_state_stats

,Total Cases,MANNER_OF_DEATH: shot,MANNER_OF_DEATH: shot and Tasered,GENDER: M,GENDER: F,RACE: A,RACE: W,RACE: H,RACE: B,RACE: O,...,ARMED: metal rake,ARMED: crowbar,ARMED: oar,ARMED: machete and gun,ARMED: tire iron,ARMED: air conditioner,ARMED: pole and knife,ARMED: baseball bat and bottle,ARMED: fireworks,ARMED: pen
AK,15,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
AL,50,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
AR,26,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
AZ,118,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
CA,424,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
CO,74,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
CT,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
DC,11,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
DE,8,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
FL,154,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
GA,70,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
HI,11,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
IA,12,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ID,17,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
IL,62,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
IN,43,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
KS,24,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
KY,43,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
LA,57,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
MA,22,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
MD,38,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ME,13,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
MI,37,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
MN,32,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
MO,64,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
MS,23,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
MT,11,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
NC,69,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ND,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
NE,15,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
NH,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
NJ,35,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
NM,51,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
NV,42,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
NY,45,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
OH,79,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
OK,78,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
OR,38,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
PA,51,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
RI,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
SC,44,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
SD,10,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
TN,59,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
TX,225,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
UT,23,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
VA,47,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
VT,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
WA,62,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
WI,43,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
WV,27,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
WY,8,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
"""
Now that we have the most accurate imputation using all of the support data. We want to hold a dataframe that contains cities that are also in the main data frame.
"""
j=0
df_support = pd.DataFrame(columns=columns_supp)
for i in cities:
    newDf= df_temp[df_temp['city'] == i].copy()
    if(len(newDf) > 1):
        print(i)
        print(newDf.info())
        print(newDf)
    df_support = df_support.append(newDf, ignore_index=True)
    df_support.drop_duplicates(inplace=True)
    j+=1
print(j)
print(df_support.info())
print(len(cities))
df_support

In [ ]:
"""
Q: Which state has the most fatal police shootings? Which city is the most dangerous?
Create a collapsed dataframe of state. Create a collapsed data frame of Cities.
"""
# Make a copy of Total Data For City!
df_aux = df_total.copy()
df_aux.sort_values(by=['city'])

# The following dropped Columns are not used when data is collapsed as City
df_aux.drop(columns=['id', 'name', 'date', 'age', 'state'], inplace=True)
df_aux.set_index('city', inplace=True)
df_aux = df_aux.astype(str)
cols = df_aux.columns.tolist() # Move 'arms' to end of list
cols.append(cols.pop(cols.index('armed')))
df_aux = df_aux[cols]

# Get a list of 'df_aux' column names
aux_cols = df_aux.columns

# Get a list of the index cities (Sorted)
list_of_cities = df_aux.index.unique().tolist()
list_of_cities.sort()

# For each column, change the string such that  " 'COLUMN_NAME': + str + (s) " is the result for each string.
# This is important so that when we build/update our resulting Dataframe, it will have unique values per catagory.
for i in list_of_cities:
    for j in aux_cols:
        df_aux.at[i, j] =  j.upper() + ': ' + df_aux.at[i, j]

# Make the df_city_stats Columns
freq_list_cols = ['Total Cases']
for i in aux_cols:
    freq_list_cols = freq_list_cols + df_aux[i].unique().tolist()


# Create Dataframe to build up
df_city_stats = pd.DataFrame(index=list_of_cities, columns=freq_list_cols)
df_city_stats = df_city_stats.fillna(0)
for i in list_of_cities: # indexs
    temp = len(df_aux[df_aux.index == i])
    df_city_stats.loc[i]['Total Cases'] = temp
    for j in aux_cols:
        temp = df_aux[df_aux.index == i][j].value_counts()
        df_city_stats.loc[i].update(temp)

df_city_stats

In [ ]:
# Make a copy of Total Data For State!
df_aux = df_total.copy()
df_aux.sort_values(by=['state'])

# The following dropped Columns are not used when data is collapsed as City
df_aux.drop(columns=['id', 'name', 'date', 'age', 'city'], inplace=True)
df_aux.set_index('state', inplace=True)
df_aux = df_aux.astype(str)
cols = df_aux.columns.tolist() # Move 'arms' to end of list
cols.append(cols.pop(cols.index('armed')))
df_aux = df_aux[cols]

# Get a list of 'df_aux' column names
aux_cols = df_aux.columns

# Get a list of the index state (Sorted)
list_of_states = df_aux.index.unique().tolist()
list_of_states.sort()

# For each column, change the string such that  " 'COLUMN_NAME': + str + (s) " is the result for each string.
# This is important so that when we build/update our resulting Dataframe, it will have unique values per catagory.
for i in list_of_states:
    for j in aux_cols:
        df_aux.at[i, j] =  j.upper() + ': ' + df_aux.at[i, j]

# Make the df_city_stats Columns
freq_list_cols = ['Total Cases']
for i in aux_cols:
    freq_list_cols = freq_list_cols + df_aux[i].unique().tolist()


# Create Dataframe to build up
df_state_stats = pd.DataFrame(index=list_of_states, columns=freq_list_cols)
df_state_stats = df_state_stats.fillna(0)
for i in list_of_states: # indexs
    temp = len(df_aux[df_aux.index == i])
    df_state_stats.loc[i]['Total Cases'] = temp
    for j in aux_cols:
        temp = df_aux[df_aux.index == i][j].value_counts()
        df_state_stats.loc[i].update(temp)

df_state_stats

In [ ]:
'''
The goal is to make a visualization of our data so we can find out which state in the set has the most fatal police shootings

Create a bar graph using the df_state_stats DataFrame to visualize the trend of fatal shootings per state
'''

plt.bar(df_state_stats.index, df_state_stats['Total Cases'])
plt.title('Total Cases of Fatal Shootings by State')
plt.xlabel('State')
plt.ylabel('Number of Fatal Shootings')
plt.show()

In [ ]:
'''
The above bar graph is extremely packed and the majority of the values are very small, so they don't matter to us when trying to determine which states have the highest number of fatal shootings. Let's repeat the process using only the states with number of killings greater than 50. With this, we can see the data better.
'''

df_state_stats_temp = df_state_stats[df_state_stats['Total Cases'] > 50]
# df_state_stats_temp

# plt.bar(df_state_stats_temp.index, df_state_stats_temp['Total Cases'])
# plt.title('Total Cases of Fatal Shootings by State')
# plt.xlabel('State')
# plt.ylabel('Number of Fatal Shootings')
# plt.show()

x_list = list(df_state_stats_temp.index)
y_list = list(df_state_stats_temp['Total Cases'])
plt.bar(x_list, y_list)
plt.title('Total Cases of Fatal Shootings by State')
plt.xlabel('State')
plt.ylabel('Number of Fatal Shootings')
for i in range(len(x_list)):
    plt.text(x_list[i], y_list[i], y_list[i], ha='center')
plt.show()

In [ ]:
'''
The graph clearly shows that CA is the state with the highest number of fatal police shootings (over 400), followed by TX with slightly over 200 fatal shootings.

We can confirm this conclusion using code by extracting the maximum value of 'Total Cases' from the DataFrame and seeing which state it is associated with. 
The line of code below accomplishes this and does indeed confirm that CA is the state with the highest number of fatal shootings (424). 
'''
s = df_state_stats.loc[df_state_stats['Total Cases'].idxmax()]
s.name, s['Total Cases']

In [ ]:
df_state_stats.columns

In [ ]:
'''
The goal is to make a visualization of our data so we can find out which city in the set is the most dangerous. We can determine this by comparing the number of fatal shootings 

Create a bar graph using the df_city_stats DataFrame to visualize the trend of fatal shootings per city
'''

plt.bar(df_city_stats.index, df_city_stats['Total Cases'])
plt.title('Total Cases of Fatal Shootings by City')
plt.xlabel('City')
plt.ylabel('Number of Fatal Shootings')
plt.show()

In [ ]:
'''
The above bar graph is extremely packed and the majority of the values are very small, so they don't matter to us when trying to determine which cities have the highest number of fatal shootings. Let's repeat the process using only the cities with number of killings greater than 10. With this, we can see the data better.
'''

df_city_stats_temp = df_city_stats[df_city_stats['Total Cases'] > 10]
# df_city_stats_temp

plt.bar(df_city_stats_temp.index, df_city_stats_temp['Total Cases'])
plt.title('Total Cases of Fatal Shootings by City')
plt.xlabel('City')
plt.ylabel('Number of Fatal Shootings')
plt.show()

In [ ]:
'''
The graph above looks a bit better, but it's still hard to distinguish the cities because of how packed the data is. We can further eliminate some data from our graph to make it easier to look at, so let's only consider those cities with number of fatal shootings above 20 and see if that works out better.
'''

df_city_stats_temp = df_city_stats[df_city_stats['Total Cases'] > 20]
# df_city_stats_temp

x_list = list(df_city_stats_temp.index)
y_list = list(df_city_stats_temp['Total Cases'])
plt.bar(x_list, y_list)
plt.title('Total Cases of Fatal Shootings by City')
plt.xlabel('City')
plt.ylabel('Number of Fatal Shootings')
for i in range(len(x_list)):
    plt.text(x_list[i], y_list[i], y_list[i], ha='center')
plt.show()

In [ ]:
'''
This graph very clearly shows that Los Angeles, CA is the city with the most fatal shootings, which we can use as our basis to claim that Los Angeles is the most dangerous of the cities on this list. It is followed closely by Phoenix, AZ and Houston, TX.
'''

In [ ]:
'''
The goal is to find out what the most common way of being armed is. We can do this by iterating through every index and sum up the values in each column for method of arms

We can store the results in a dictionary
'''

armed_counts = dict()
armed_cols = [c for c in df_state_stats.columns if c[0:5] == "ARMED"]

for index, row in df_state_stats.iterrows():
    for col in armed_cols:
        arm_type = col[7:]
        armed_counts[arm_type] = armed_counts.get(arm_type, 0) + row[col]

'''
Now the armed_counts dictionary contains each way of being armed along with its corresponding number of appearances.

We can sort the dictionary by value in non-increasing order to determine what the most common ways of being armed are.

By doing this, we can see that the most common way of being armed is with a gun (1407 occurrences), followed by knife with 373 occurrences.
'''

armed_counts_list = sorted(armed_counts.items(), key=lambda x:x[1], reverse=True)
armed_counts_list

In [ ]:
'''
We can also use a bar graph to visualize this data.
'''
plt.bar(armed_counts.keys(), armed_counts.values())
plt.title("Number of Occurrences for Each Method of being Armed")
plt.xlabel("Method of Arms")
plt.ylabel("Number of Occurrences")
plt.show()

In [ ]:
armed_counts_reduced = dict()

for tup in armed_counts_list:
    if (tup[1] > 10):
        armed_counts_reduced[tup[0]] = tup[1]

armed_counts_reduced

In [ ]:
'''
We can also use a bar graph to visualize this data.
'''
# plt.bar(armed_counts_reduced.keys(), armed_counts_reduced.values())
# plt.title("Number of Occurrences for Each Method of being Armed")
# plt.xlabel("Method of Arms")
# plt.ylabel("Number of Occurrences")
# plt.show()


x_list = list(armed_counts_reduced.keys())
y_list = list(armed_counts_reduced.values())
plt.bar(x_list, y_list)
plt.title("Number of Occurrences for Each Method of being Armed")
plt.xlabel("Method of Arms")
plt.ylabel("Number of Occurrences")
for i in range(len(x_list)):
    plt.text(x_list[i], y_list[i], y_list[i], ha='center')
plt.show()

In [ ]:
'''
The graph above clearly shows that guns are the most common by a very wide margin, followed by knives in second and then vehicles in third place.
Interestingly, we can also see here that the 4th most common occurrence is actually "unarmed" - no weapons/items 
'''

In [ ]:
'''
Now let's look at the age distribution of all the victims
'''

all_hist = sb.histplot(df_total['age'], bins=20, binrange=(0,100))
all_hist.set_title("Age Distribution of All Victims")

In [ ]:
# we can look at the stats summary for the ages across all races
df_total['age'].describe()

# Overall mean age: 36.56
# Overall age stdev: 12.88
# Overall min. age: 6
# Overall median age: 35
# Overall max. age: 91

In [ ]:
df_a = df_total[df_total['race'] == 'A']
a_hist = sb.histplot(df_a['age'], bins=20, binrange=(0,100))
a_hist.set_title("Age Distribution of Asian Victims")

In [ ]:
# we can look at the stats summary for the ages across Asian people
df_a['age'].describe()

# Asian mean age: 36.76
# Asian age stdev: 11.55
# Asian min. age: 15
# Asian median age: 35
# Asian max. age: 61

In [ ]:
df_w = df_total[df_total['race'] == 'W']
w_hist = sb.histplot(df_w['age'], bins=20, binrange=(0,100))
w_hist.set_title("Age Distribution of White Victims")

In [ ]:
# we can look at the stats summary for the ages across White people
df_w['age'].describe()

# White mean age: 40.27
# White age stdev: 13.39
# White min. age: 6
# White median age: 38
# White max. age: 91

In [ ]:
df_b = df_total[df_total['race'] == 'B']
b_hist = sb.histplot(df_b['age'], bins=20, binrange=(0,100))
b_hist.set_title("Age Distribution of Black Victims")

In [ ]:
# we can look at the stats summary for the ages across Black people
df_b['age'].describe()

# Black mean age: 31.64
# Black age stdev: 10.84
# Black min. age: 13
# Black median age: 30
# Black max. age: 77

In [ ]:
df_h = df_total[df_total['race'] == 'H']
a_hist = sb.histplot(df_h['age'], bins=20, binrange=(0,100))
a_hist.set_title("Age Distribution of Hispanic Victims")

In [ ]:
# we can look at the stats summary for the ages across Hispanic people
df_h['age'].describe()

# Hispanic mean age: 33.07
# Hispanic age stdev: 10.83
# Hispanic min. age: 14
# Hispanic median age: 31.57
# Hispanic max. age: 80

In [ ]:
df_n = df_total[df_total['race'] == 'N']
a_hist = sb.histplot(df_n['age'], bins=20, binrange=(0,100))
a_hist.set_title("Age Distribution of Native American Victims")

In [ ]:
# we can look at the stats summary for the ages across Native people
df_n['age'].describe()

# Native mean age: 30.38
# Native age stdev: 7.97
# Native min. age: 19
# Native median age: 29
# Native max. age: 49

In [ ]:
df_o = df_total[df_total['race'] == 'O']
a_hist = sb.histplot(df_o['age'], bins=20, binrange=(0,100))
a_hist.set_title("Age Distribution of Other Race Victims")

In [ ]:
# we can look at the stats summary for the ages across Other races
df_o['age'].describe()

# Other races mean age: 33.79
# Other races age stdev: 11.61
# Other races min. age: 18
# Other races median age: 30
# Other races max. age: 56

In [ ]:
'''
Now let's graph the means and medians of the ages for each race and compare them
'''


races = ["Asian", "White", "Black", "Hispanic", "Natives", "Other"]
# mean_list, median_list = [], []
mean_list = [df_a['age'].mean(), df_w['age'].mean(), df_b['age'].mean(), df_h['age'].mean(), df_n['age'].mean(), df_o['age'].mean()]
median_list = [df_a['age'].median(), df_w['age'].median(), df_b['age'].median(), df_h['age'].median(), df_n['age'].median(), df_o['age'].median()]

x_axis = np.arange(len(races))

plt.bar(x_axis - 0.2, mean_list, width = 0.4, label = 'Mean')
plt.bar(x_axis + 0.2, median_list, width = 0.4, label = 'Median')

plt.title("Mean/Median of Ages for Each Race")
plt.xlabel("Race")
plt.ylabel("Value")

plt.xticks(x_axis, races)

plt.legend()

plt.show()

In [ ]:
'''
The graph above shows that Native American victims had the lowest mean and median ages, while White victims had the highest mean and median ages.  
'''

In [ ]:
list(set(sorted(df_total['age'].unique())))
df_total['race'].unique()

In [ ]:
'''
Let's get the total number of people killed per race.
'''

race_count = df_total.groupby('race')['race'].size()
race_count

In [ ]:
x_list = race_count.index.tolist()
y_list = race_count.tolist()
plt.bar(x_list, y_list)
plt.title("Number of People Killed per Race")
plt.xlabel("Race")
plt.ylabel("Number of People Killed")
for i in range(len(x_list)):
    plt.text(x_list[i], y_list[i], y_list[i], ha='center')
plt.show()

In [ ]:
'''
Now we can find the ratio of deaths for each race over the total amount of deaths and visualize that data as well
'''

total_deaths = race_count.sum()
x_list = race_count.index.tolist()
y_list = [round((y / total_deaths), 4) for y in race_count.tolist()]
plt.bar(x_list, y_list)
plt.title("Ratio of People Killed per Race")
plt.xlabel("Race")
plt.ylabel("Ratio of People Killed")
for i in range(len(x_list)):
    plt.text(x_list[i], y_list[i], y_list[i], ha='center')
plt.show()

In [ ]:
'''
The same proportion data can be visualized better as a pie chart. The pie chart below shows that white people make up the majority of the deaths in our dataset.  
'''

fig1, ax1 = plt.subplots()
ax1.pie(y_list, labels=x_list, autopct='%1.1f%%')
ax1.axis('equal')
plt.title('Pie Chart Showing Ratio of Deaths for Each Race')
plt.show()

In [ ]:
df_temp

In [ ]:
"""
In order to find the impact of deaths proportionate to its respective race, we need to use the supporting dataset.
We must find the 1/race proportion that race holds in order to see the impact of a person's life proportionate to the race population.
1. Find total proportion each race holds in the united states
2. take 1/proportion
3. Multiply it by the rate of death for that race
4. Compare the impact values to see how much each death impacts one race vs another
"""
list_total_races = []
j = 0
columns_race.sort()
print(columns_race)
for i in columns_race:
    newDF = df_temp[i].astype(float)
    list_total_races.append(newDF.sum())
    print(list_total_races[j])
    j+=1
sum_all_races = sum(list_total_races)
proportional_share = [i/sum_all_races for i in list_total_races]
proportional_share = [1/i for i in proportional_share]
print(proportional_share)
del y_list[4]
print(y_list)
res_race_porportion = []
j = 0
for i in proportional_share:
    x = y_list[j]
    j+=1
    res_race_porportion.append(i*x)
res_race_porportion

In [ ]:
import warnings
warnings.filterwarnings("ignore")

cities.sort()
columns_race.sort()
races = df_total['race'].tolist()
races =list(set(races))
races.remove('O')
races.sort()
df_total['Median Income'] = np.nan
df_total['poverty_rate'] = np.nan
df_total['percent_completed_hs'] = np.nan
df_total_temp = df_total.copy()
for i in cities:
    temp = df_total_temp.loc[df_total_temp['city'] == i]
    supptemp = df_support.loc[df_support['city'] == i]
    support_proportion_race = {}
    ind = 0
    for j in columns_race:
        temp2 = temp.loc[temp['race'] == races[ind]]
        support_proportion_race['Median Income'] = supptemp['Median Income'].iat[0] * supptemp[j].iat[0]/100
        support_proportion_race['poverty_rate'] = supptemp['poverty_rate'].iat[0] * supptemp[j].iat[0]/100
        support_proportion_race['percent_completed_hs'] = supptemp['percent_completed_hs'].iat[0] * supptemp[j].iat[0]/100
        #tempDF = pd.DataFrame(support_proportion_race)
        # tempDF = pd.concat([tempDF]*len(temp2), ignore_index=True)
        #print(tempDF.info())
        # print(temp2.info())
        temp2['Median Income'] = temp2['Median Income'].fillna(support_proportion_race['Median Income'])
        temp2['poverty_rate']= temp2['poverty_rate'].fillna(support_proportion_race['poverty_rate'])
        temp2['percent_completed_hs'] = temp2['percent_completed_hs'].fillna(support_proportion_race['percent_completed_hs'])
        #print(temp2.info())
        temp.loc[temp['race'] == races[ind]] = temp2
        #print(temp.info())
        ind+=1
        #print(temp.info())
    temp = temp.fillna(0)
    df_total_temp.loc[df_total_temp['city'] == i] = temp

df_total = df_total_temp
df_total

In [ ]:
df_total_copy = df_total.copy()

# pd.get_dummies(df_total_copy, columns=['manner_of_death', 'armed', 'gender', 'city', ])
df_temp = df_total_copy.drop(columns=['id', 'name', 'date', 'state'])
# df_temp

df_temp = pd.get_dummies(df_temp, columns=['manner_of_death', 'armed', 'gender', 'city', 'signs_of_mental_illness', 'threat_level', 'flee', 'body_camera'])

training_es_x = df_temp.iloc[0:2028].drop(columns=['race'])
training_es_y = df_temp.iloc[0:2028]['race']

testing_es_x = df_temp.iloc[2028:].drop(columns=['race'])
testing_es_y = df_temp.iloc[2028:]['race']

testing_es_x

In [ ]:
df_temp['race'].unique()

In [ ]:
model = LogisticRegression(max_iter=3000)

model.fit(training_es_x, training_es_y)
predict_train = model.predict(training_es_x)

predict_test = model.predict(testing_es_x)
predict_test

In [ ]:
testing_es_x

In [ ]:
set(predict_test)

In [ ]:
from sklearn.metrics import accuracy_score, f1_score

# f1_score(testing_es_y, predict_test, average=None)

accuracy_test = accuracy_score(testing_es_y, predict_test)
# accuracy_test = accuracy_score(training_es_y, predict_train)
accuracy_test
# This is the accuracy of the Logistic Regression Classifier on the testing data

In [ ]:
tmodel = DecisionTreeClassifier()
# tmodel.fit(training_es_x, training_es_y)
# predict_train_tree = tmodel
tmodel.fit(training_es_x, training_es_y)
predict_tree = tmodel.predict(training_es_x)

predict_test_tree = tmodel.predict(testing_es_x)
accuracy_test_tree = accuracy_score(testing_es_y, predict_test_tree)

accuracy_test_tree
# This is the accuracy of the Decision Tree Classifier on the testing data

In [ ]:
# sklearn.tree.plot_tree(tmodel)

plt.figure(figsize=(120,120))
sklearn.tree.plot_tree(tmodel, fontsize=10, feature_names=testing_es_x.columns, class_names=testing_es_y.unique().tolist(), filled=True)

In [ ]:
from sklearn.naive_bayes import GaussianNB

bmodel = GaussianNB()

bmodel.fit(training_es_x, training_es_y)

In [ ]:
predict_test_b = bmodel.predict(testing_es_x)
predict_test_b

In [ ]:
accuracy_test_b = accuracy_score(testing_es_y, predict_test_b)
accuracy_test_b 
# This is the accuracy of the Naive Bayes model on the testing data

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

model_k = KNeighborsClassifier()

model_k.fit(training_es_x, training_es_y)
predict_train_k = model_k.predict(training_es_x)

# f1_score(training_es_y, predict_train_k, average=None)

In [ ]:
predict_test_k = model_k.predict(testing_es_x)
accuracy_test_k = accuracy_score(testing_es_y, predict_test_k)
accuracy_test_k
# This is the accuracy of the K Neighbors Classifier on the testing data

In [ ]:
predict_test_k

In [271]:
accuracy_test_b = accuracy_score(testing_es_y, predict_test_b)
accuracy_test_b 
# This is the accuracy of the Naive Bayes model on the testing data

0.6015779092702169

In [272]:
from sklearn.neighbors import KNeighborsClassifier

model_k = KNeighborsClassifier()

model_k.fit(training_es_x, training_es_y)
predict_train_k = model_k.predict(training_es_x)

# f1_score(training_es_y, predict_train_k, average=None)

In [273]:
predict_test_k = model_k.predict(testing_es_x)
accuracy_test_k = accuracy_score(testing_es_y, predict_test_k)
accuracy_test_k
# This is the accuracy of the K Neighbors Classifier on the testing data

0.7731755424063116

In [274]:
predict_test_k

array(['H', 'W', 'B', 'W', 'B', 'W', 'H', 'W', 'W', 'W', 'B', 'W', 'H',
       'B', 'W', 'H', 'W', 'B', 'B', 'B', 'B', 'W', 'W', 'H', 'B', 'W',
       'B', 'W', 'B', 'B', 'B', 'B', 'W', 'B', 'B', 'B', 'B', 'B', 'B',
       'W', 'W', 'H', 'W', 'W', 'W', 'B', 'B', 'W', 'B', 'B', 'B', 'W',
       'B', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'B', 'W', 'W', 'B',
       'W', 'W', 'W', 'B', 'W', 'W', 'W', 'B', 'W', 'W', 'B', 'H', 'B',
       'W', 'W', 'W', 'B', 'B', 'B', 'W', 'B', 'A', 'W', 'H', 'W', 'W',
       'W', 'B', 'B', 'H', 'B', 'B', 'W', 'B', 'B', 'W', 'W', 'H', 'B',
       'H', 'H', 'W', 'H', 'B', 'H', 'W', 'W', 'W', 'B', 'W', 'B', 'B',
       'W', 'B', 'W', 'B', 'H', 'H', 'W', 'W', 'B', 'W', 'W', 'H', 'H',
       'W', 'W', 'W', 'W', 'W', 'B', 'W', 'W', 'W', 'N', 'H', 'B', 'H',
       'W', 'H', 'W', 'W', 'W', 'W', 'W', 'B', 'W', 'B', 'B', 'H', 'W',
       'B', 'H', 'W', 'B', 'W', 'W', 'B', 'W', 'B', 'W', 'H', 'W', 'B',
       'B', 'B', 'B', 'B', 'H', 'B', 'W', 'B', 'H', 'W', 'W', 'W', 'W',
       'W', 'W', 'W', 'W', 'W', 'W', 'W', 'H', 'B', 'W', 'W', 'W', 'W',
       'N', 'W', 'H', 'H', 'W', 'H', 'W', 'B', 'W', 'W', 'B', 'B', 'H',
       'W', 'W', 'H', 'W', 'B', 'B', 'H', 'W', 'W', 'W', 'B', 'B', 'H',
       'W', 'W', 'H', 'W', 'W', 'W', 'B', 'W', 'B', 'H', 'B', 'B', 'W',
       'W', 'B', 'B', 'W', 'W', 'H', 'W', 'B', 'W', 'B', 'H', 'W', 'N',
       'H', 'W', 'W', 'W', 'W', 'B', 'W', 'B', 'W', 'W', 'W', 'W', 'W',
       'B', 'W', 'B', 'H', 'H', 'W', 'B', 'W', 'W', 'W', 'W', 'W', 'B',
       'B', 'B', 'B', 'W', 'B', 'B', 'W', 'W', 'W', 'W', 'B', 'B', 'W',
       'B', 'B', 'W', 'W', 'W', 'W', 'B', 'B', 'W', 'B', 'W', 'W', 'H',
       'W', 'B', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'B', 'W', 'B',
       'H', 'W', 'B', 'W', 'W', 'W', 'H', 'H', 'W', 'W', 'B', 'W', 'W',
       'W', 'B', 'B', 'H', 'W', 'W', 'W', 'H', 'W', 'W', 'H', 'W', 'B',
       'B', 'N', 'B', 'H', 'H', 'B', 'W', 'H', 'B', 'W', 'B', 'W', 'W',
       'H', 'W', 'W', 'H', 'H', 'H', 'B', 'W', 'W', 'A', 'H', 'W', 'W',
       'W', 'W', 'B', 'W', 'H', 'W', 'W', 'W', 'W', 'B', 'B', 'B', 'W',
       'H', 'W', 'H', 'H', 'H', 'H', 'W', 'H', 'W', 'B', 'W', 'N', 'W',
       'W', 'H', 'W', 'W', 'W', 'W', 'H', 'W', 'H', 'H', 'W', 'H', 'W',
       'A', 'H', 'B', 'W', 'W', 'W', 'B', 'H', 'B', 'B', 'H', 'B', 'W',
       'H', 'W', 'H', 'B', 'B', 'W', 'B', 'W', 'W', 'W', 'W', 'W', 'H',
       'B', 'W', 'B', 'B', 'B', 'W', 'W', 'H', 'H', 'H', 'W', 'B', 'B',
       'W', 'B', 'W', 'B', 'B', 'B', 'W', 'B', 'O', 'W', 'W', 'B', 'W',
       'W', 'B', 'W', 'B', 'B', 'W', 'W', 'H', 'W', 'B', 'H', 'W', 'B',
       'B', 'B', 'H', 'W', 'H', 'W', 'W', 'W', 'W', 'H', 'H', 'H', 'B',
       'H', 'H', 'W', 'W', 'B', 'W', 'W', 'B', 'W', 'H', 'B', 'W', 'H',
       'W', 'B', 'H', 'B', 'B', 'B', 'B', 'W', 'B', 'H', 'W', 'B', 'B'],
      dtype=object)