In [1]:
import itertools
import pandas as pd
import random
import sklearn
from sklearn.model_selection import train_test_split
import datetime
from sklearn import metrics
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sb

In [2]:
"""
Our first goal is going to be data cleaning and munging. We want to take care of all null values first.
"""

df_training = pd.read_csv('police_killings_train.csv')
df_test = pd.read_csv('police_killings_test.csv')
df_race_city = pd.read_csv('share_race_by_city.csv')
df_income = pd.read_csv('income.csv', encoding="ANSI")
df_poverty = pd.read_csv('poverty.csv', encoding="ANSI")
df_education = pd.read_csv('education.csv', encoding="ANSI")

df_test.info()
df_training

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 507 entries, 0 to 506
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       507 non-null    int64
 1   name                     507 non-null    object
 2   date                     507 non-null    object
 3   manner_of_death          507 non-null    object
 4   armed                    504 non-null    object
 5   age                      467 non-null    float64
 6   gender                   507 non-null    object
 7   race                     403 non-null    object
 8   city                     507 non-null    object
 9   state                    507 non-null    object
 10  signs_of_mental_illness  507 non-null    bool
 11  threat_level             507 non-null    object
 12  flee                     469 non-null    object
 13  body_camera              507 non-null    bool
dtypes: bool(2), float64(1), int64(1), object(10)
memory usage: 48.6+ KB

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
0,3,Tim Elliot,02/01/15,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False
1,4,Lewis Lee Lembke,02/01/15,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False
2,5,John Paul Quintero,03/01/15,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False
3,8,Matthew Hoffman,04/01/15,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False
4,9,Michael Rodriguez,04/01/15,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023,2256,Jeremy Lopez-Robledo,24/01/17,shot,knife,29.0,M,H,Las Cruces,NM,True,attack,Foot,True
2024,2257,Jonathan David Sper,24/01/17,shot,unarmed,30.0,M,W,Algoma Township,MI,True,attack,Not fleeing,False
2025,2258,Jose Efrain Rodriguez,24/01/17,shot and Tasered,gun,18.0,M,H,Lancaster City,PA,False,attack,Not fleeing,False
2026,2259,Ramon Milanez,24/01/17,shot,gun,32.0,M,H,Kuna,ID,False,attack,Car,False
2027,2260,Micah R. Lambert,25/01/17,shot,vehicle,37.0,M,W,Oxford,AL,True,attack,Car,False

In [3]:
"""
We will combine the training and tesing dataset to make cleaning easier and more accurate
"""

df_total = df_training.append(df_test, ignore_index=True)
df_total

C:\Users\long9\AppData\Local\Temp\ipykernel_25132\529504731.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_total = df_training.append(df_test, ignore_index=True)

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
0,3,Tim Elliot,02/01/15,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False
1,4,Lewis Lee Lembke,02/01/15,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False
2,5,John Paul Quintero,03/01/15,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False
3,8,Matthew Hoffman,04/01/15,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False
4,9,Michael Rodriguez,04/01/15,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2530,2822,Rodney E. Jacobs,28/07/17,shot,gun,31.0,M,NaN,Kansas City,MO,False,attack,Not fleeing,False
2531,2813,TK TK,28/07/17,shot,vehicle,NaN,M,NaN,Albuquerque,NM,False,attack,Car,False
2532,2818,Dennis W. Robinson,29/07/17,shot,gun,48.0,M,NaN,Melba,ID,False,attack,Car,False
2533,2817,Isaiah Tucker,31/07/17,shot,vehicle,28.0,M,B,Oshkosh,WI,False,attack,Car,True
2534,2815,Dwayne Jeune,31/07/17,shot,knife,32.0,M,B,Brooklyn,NY,True,attack,Not fleeing,False

In [4]:
print(df_income.info())
df_race_city.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29322 entries, 0 to 29321
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Geographic Area  29322 non-null  object
 1   City             29322 non-null  object
 2   Median Income    29271 non-null  object
dtypes: object(3)
memory usage: 687.4+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29268 entries, 0 to 29267
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Geographic area        29268 non-null  object
 1   City                   29268 non-null  object
 2   share_white            29268 non-null  object
 3   share_black            29268 non-null  object
 4   share_native_american  29268 non-null  object
 5   share_asian            29268 non-null  object
 6   share_hispanic         29268 non-null  object
dtypes: object(7)
memory usage: 1.6+ MB

In [5]:
"""
Race is one of the fields that have missing fields, we will use the df_race_city dataset to help
get an insight into which race to impute.

In order to determine the race to impute we must:
1. At each missing race, determine the most frequent race of that specific city (mode).
2. If the mode returns more than 1 race, use the race with the highest percentage distribution in that city. Otherwise, use the returned race.
3. Impute the race into the missing data cell.
i.e.: City 'Zion' returns a mode of ['W', 'B'] which indicates we have as many 'W' White and 'B' Black people datapoints for the city of 'Zion'. Using the supporting dataframe from df_race_city, 'Zion' has a distribution of 'W' as 0.6, 'B' as 0.

"""
#make a list of unique cities, and include the state so we don't deal with same city names of different states
df_total['city'] = df_total[['state', 'city']].apply("-".join,axis=1)
cities = df_total['city'].tolist()
cities =list(set(cities))
print(len(cities))
cities

1534

['OK-Norwood',
 'MS-St. Martin',
 'CA-Bellflower',
 'AL-Killeen',
 'OK-Schulter',
 'RI-Tiverton',
 'GA-Loganville',
 'TX-San Antonio',
 'FL-Vero Beach',
 'CA-Saratoga',
 'WA-Lynnwood',
 'OK-Pryor',
 'HI-Keaau',
 'ME-Portland',
 'HI-Kahuku',
 'WA-Wapato',
 'GA-East Point',
 'NV-Pahrump',
 'MI-Cato Township',
 'VT-Burlington',
 'GA-Stockbridge',
 'AK-Big Lake',
 'GA-Cartersville',
 'SC-Hardeeville',
 'CA-Orange',
 'CO-Fort Collins',
 'TX-Azle',
 'TX-Reno',
 'MN-St. Cloud',
 'MO-Sullivan',
 'NC-Salisbury',
 'CO-Trinidad',
 'FL-Pensacola',
 'KY-Barbourville',
 'VA-Hopewell',
 'NY-Staten Island',
 'CO-Colorado City',
 'MA-Spencer',
 'CA-Walnut Creek',
 'WA-East Wenatchee',
 'FL-Jacksonville',
 'AL-Clay',
 'SD-Mitchell',
 'GA-Powder Springs',
 'TX-Winnie',
 'FL-Tallahassee',
 'TX-Lake Jackson',
 'RI-Pawtucket',
 'AR-Dover',
 'MO-Blue Springs',
 'MN-Morris',
 'NV-Reno',
 'MO-Sedalia',
 'MI-Holland Township',
 'GA-Riverdale',
 'NV-Boulder City',
 'PA-Fort Littleton',
 'GA-Tyrone',
 'CT-Bolton',
 'KY-Edmonton',
 'CA-Madera',
 'NH-Bath',
 'WA-Thurston County',
 'AL-Birmingham',
 'GA-Cumming',
 'CT-Thomaston',
 'PA-Chester',
 'AR-Jonesboro',
 'WA-Fife',
 'MD-Middle River',
 'KY-Gunlock',
 'VA-Herndon',
 'MS-Petal',
 'CA-Anderson',
 'CA-Stockton',
 'FL-Miami Beach',
 'CA-Highland',
 'OK-Muskogee',
 'NM-Los Lunas',
 'VA-Powhatan County',
 'AR-Desha',
 'CA-Carmichael',
 'WI-Paddock Lake',
 'CO-Park County',
 'SC-Greenville',
 'FL-Ocala',
 'MA-Tewksbury',
 'CA-Fresno',
 'FL-Auburndale',
 'GA-Barrow County',
 'KS-Leavenworth',
 'FL-Plant City',
 'TX-Clute',
 'OH-Hamilton',
 'CO-Pueblo',
 'MI-Southfield',
 'UT-Eagle Mountain',
 'TX-Beckville',
 'FL-Crystal Springs',
 'IL-Metropolis',
 'MS-Biloxi',
 'DE-Middletown',
 'NJ-Toms River',
 'TN-McLemoresville',
 'TX-Corpus Christi',
 'WA-Lacey',
 'NC-Hudson',
 'WY-Rawlins',
 'CO-Greeley',
 'VA-King George',
 'CO-Brighton',
 'MO-Jennings',
 'CA-Encinitas',
 'NM-Albuquerque',
 'NY-Syracuse',
 'MD-District Heights',
 'OR-West Linn',
 'MD-Landover',
 'NC-Spring Lake',
 'AZ-Golden Valley',
 'PA-Allentown',
 'AR-Austin',
 'AL-Lawrence County',
 'NJ-Maurice River',
 'FL-Port St. Lucie',
 'KY-White Plains',
 'NM-Las Cruces',
 'LA-Crowley',
 'TX-Campbellton',
 'CA-McKinneyville',
 'AK-Houston',
 'MS-Greenville',
 'CA-Rancho Santa Margarita',
 'NH-Newton',
 'WI-Millston',
 'TN-Lenoir City',
 'FL-Hog Valley',
 'CA-Cathedral City',
 'CA-Studio City',
 'NM-Artesia',
 'AR-Bull Shoals',
 'OR-Tualatin',
 'NC-Shelby',
 'OR-Wilderville',
 'CT-Fairfield',
 'MO-Franklin County',
 'NC-Fayetteville',
 'GA-Cobb County',
 'LA-Chalmette',
 'CA-Moreno Valley',
 'WA-Everett',
 'GA-Hampton',
 'GA-Carrollton',
 'TX-Midlothian',
 'OH-Sylvania Township',
 'SC-Seneca',
 'PA-Huntingdon County',
 'MT-Dillon',
 'KS-Lehigh',
 'CA-Emeryville',
 'TX-Nocona',
 'TN-Arlington',
 'TN-Mt. Pleasant',
 'IN-Goshen',
 'FL-Titusville',
 'AL-Washington County',
 'NM-Hanover',
 'WI-Lake Hallie',
 'SD-Rosebud',
 'ID-Boise',
 'CA-Boulder Creek',
 'TX-Seagoville',
 'GA-Valdosta',
 'AR-Manila',
 'VA-Falls Church',
 'PA-York County',
 'CA-Jurupa Valley',
 'AZ-Sun City',
 'CO-Commerce City',
 'VA-Portsmouth',
 'AR-Perryville',
 'MO-Poplar Bluff',
 'HI-Hilo',
 'UT-Logan Canyon',
 'CO-Evans',
 'CA-Santa Clara',
 'OR-Gresham',
 'GA-Lawrenceville',
 'MT-Malta',
 'OK-Logan County',
 'SC-Lancaster',
 'AL-Jackson County',
 'NJ-Cranbury Township',
 'OR-Medford',
 'NC-Gastonia',
 'TX-Euless',
 'PA-Somerset',
 'CA-Maywood',
 'ID-Mountain Home',
 'WI-Neenah',
 'WA-Des Moines',
 'VA-Grundy',
 'IL-Round Lake',
 'CA-Santa Monica',
 'NC-Wadesboro',
 'CA-Watsonsville',
 'CA-Grass Valley',
 'AZ-Phoenix',
 'TX-Odessa',
 'MN-Plymouth',
 'CA-Atascadero',
 'CA-South Los Angeles',
 'TX-McKinney',
 'AZ-Gilbert',
 'OK-Okemah',
 'CA-Montebello',
 'NC-Peachland',
 'NV-North Las Vegas',
 'CA-Pico Rivera',
 'UT-Aragonite',
 'MD-Fort Meade',
 'VA-Culpeper',
 'KS-Hays',
 'NY-Buffalo',
 'VA-Richmond',
 'MI-Algoma Township',
 'AK-Spenard',
 'MN-Alexandria',
 'IL-North Riverside',
 'CA-San Fernando',
 'NC-Ronda',
 'FL-Tampa',
 'IL-Deerfield',
 'ME-Orrington',
 'CA-Modesto',
 'OH-Findlay',
 'OK-Oklahoma City',
 'CA-Inyokern',
 'CA-Lancaster',
 'TX-Longview',
 'GA-Atlanta',
 'NJ-Little Egg Harbor',
 'SC-Summerville',
 'LA-Ouachita Parish',
 'AL-Piedmont',
 'OR-Dallas',
 'SC-Moncks Corner',
 'KY-London',
 'MA-Lowell',
 'LA-Raceland',
 'CA-Coalinga',
 'WA-Snohomish',
 'CA-Kings County',
 'OH-Beverly',
 'TN-Shelbyville',
 'FL-Putnam Hall',
 'GA-Port Wentworth',
 'AZ-Florence',
 'AL-Selma',
 'UT-Logan',
 'OR-Salem',
 'IL-Marion',
 'NV-Las Vegas',
 'LA-Pineville',
 'VA-Woodford',
 'TX-Mission',
 'WI-Oshkosh',
 'CA-Redding',
 'MN-Eagan',
 'CA-Douglas City',
 'MN-Falcon Heights',
 'WI-Sheboygan',
 'CA-University City',
 'NJ-Little Egg Harbor Township',
 'CA-South El Monte',
 'IL-Belleville',
 'PA-Wilkinsburg',
 'LA-Bossier City',
 'OH-Kent',
 'WA-Muckleshoot Indian Reservation',
 'FL-Ft. Lauderdale',
 'CT-Oakdale',
 'NJ-Camden',
 'SC-Myrtle Beach',
 'AL-Muscle Shoals',
 'CA-Barstow',
 'CA-Visalia',
 'ND-Bismarck',
 'OK-Wagoner',
 'FL-Bradenton',
 'CA-Castaic',
 'NC-Dallas',
 'MI-Beaverton',
 'CA-Fairfield',
 'NE-Omaha',
 'MS-Gautier',
 'ME-Belgrade',
 'WA-Wenatchee',
 'GA-Savannah',
 'GA-Smyrna',
 'PA-Hummelstown',
 'OK-Bunch',
 'FL-Lake Wales',
 'ID-Jefferson County',
 'NC-Pinnacle',
 'WV-Fairmont',
 'KY-Elizabethtown',
 'CA-Temecula',
 'IN-Shelbyville',
 'MD-Essex',
 'GA-Douglasville',
 'MD-Salisbury',
 'TX-El Paso',
 'CO-Colorado Springs',
 'MO-Lampe',
 'OR-Wolf Creek',
 'ME-Madison',
 'NM-Carlsbad',
 'OK-Bartlesville',
 'OK-Ardmore',
 'TN-Alamo',
 'NY-Rochester',
 'FL-Orange Park',
 'FL-Lealman',
 'ID-Rexburg',
 'NY-Constantia',
 'OR-Burns',
 'OH-Tiffin',
 'TX-Splendora',
 'CA-Palm Springs',
 'OH-Mt. Auburn',
 'PA-York',
 'NC-Lawndale',
 'CA-Concord',
 'AL-Baldwin County',
 'OH-Jasper',
 'MI-St. Joseph',
 'TX-Port Arthur',
 'MD-Baltimore',
 'FL-Cape Canaveral',
 'LA-Winnsboro',
 'TN-Spring Hill',
 'PA-Canaan Township',
 'TX-Tahoka',
 'TX-Edinburg',
 'PA-Avella',
 'CA-Gilroy',
 'TN-Oneida',
 'MS-Barton',
 'AL-Clanton',
 'FL-Palm Bay',
 'CA-Eureka',
 'MI-Brighton Township',
 'TN-Humboldt',
 'SC-Pelzer',
 'CA-Yreka',
 'CA-Solvang',
 'GA-Woodstock',
 'KS-McPherson',
 'UT-Roy',
 'NC-Greenville',
 'AK-Fairbanks',
 'WV-Meadow Bridge',
 'GA-Jackson',
 'KS-Wichita',
 'FL-Fort Lauderdale',
 'NC-Archdale',
 'GA-Rossville',
 'NM-Rowe',
 'OR-Oregon City',
 'NY-Berne',
 'WV-Augusta',
 'IA-North English',
 'KS-Hutchinson',
 'OR-Springfield',
 'SC-Irmo',
 'WA-Cle Elum',
 'FL-DeLand',
 'TX-Ellis County',
 'FL-Miami',
 'WI-West Allis',
 'WI-Kenosha',
 'OH-Canton',
 'CA-Weitchpec',
 'NM-Crownpoint',
 'MS-Southaven',
 'TX-Plano',
 'AZ-Somerton',
 'HI-Maui',
 'ND-Grand Forks',
 'WV-Braxton County',
 'GA-White',
 'WV-Hensley',
 'KY-Fulton',
 'TX-Austin',
 'TX-Wink',
 'AZ-Apache Junction',
 'PA-Pittston',
 'HI-Papaaloa',
 'WI-Geneva',
 'CA-City Terrace',
 'GA-Albany',
 'OK-Rufe',
 'TX-Bellville',
 'IN-Lafayette',
 'NC-Rutherfordton',
 'VA-Grayson County',
 'CA-Sunnyvale',
 'OH-Perry Township',
 'OH-Fairborn',
 'AZ-Bisbee',
 'NC-Greensboro',
 'TN-East Ridge',
 'PA-Upper Darby',
 'MO-Affton',
 'WA-Shelton',
 'OH-Englewood',
 'IL-Lawndale',
 'NJ-Ventnor',
 'MO-Lakeshire',
 'MT-Huntley',
 'KY-Berea',
 'AZ-Chandler',
 'AR-Farmington',
 'TX-Leon County',
 'FL-Carollwood',
 'TX-Temple',
 'MO-Neosho',
 'WY-Laramie',
 'IN-Gary',
 'GA-Marietta',
 'IN-Fishers',
 'CA-Hawaiian Gardens',
 'FL-Middleburg',
 'TN-Jackson',
 'TX-West Odessa',
 'CA-Antelope',
 'PA-Straban Township',
 'TN-Soddy-Daisy',
 'KY-Lawrenceburg',
 'NM-Santa Fe',
 'OK-Burns Flat',
 'TX-Conroe',
 'ID-Idaho Falls',
 'OK-Eufaula',
 'AZ-Kingman',
 'TN-Elizabethton',
 'TX-Fort Worth',
 'SC-Lake View',
 'WV-Fort Ashby',
 'NM-Carrizozo',
 'AZ-Eagar',
 'NY-New York',
 'FL-Hallandale Beach',
 'PA-Bloomsburg',
 'CA-Siskiyou County',
 'FL-Fort Walton Beach',
 'NM-Ruidoso',
 'NC-Maiden',
 'FL-Deland',
 'OH-Dayton',
 'MI-Wyoming',
 'IN-Avon',
 'KY-Ludlow',
 'NM-Laguna Pueblo',
 'FL-Milton',
 'MD-Overlea',
 'CA-Yorba Linda',
 'NY-Coney Island',
 'CO-Englewood',
 'TN-West Knox',
 'IN-French Lick',
 'NC-Durham',
 'KY-Simpsonsville',
 'KY-Paris',
 'FL-Orange City',
 'OK-Cushing',
 'MI-Columbia Township',
 'CA-Rocklin',
 'LA-Alexandria',
 'CA-Highgrove',
 'PA-Pittsburgh',
 'MO-Republic',
 'MA-Boston',
 'MA-Braintree',
 'TX-Fort Stockton',
 'CA-Meadow Vista',
 'OK-Ponca City',
 'CA-Inglewood',
 'LA-New Iberia',
 'NC-Franklin',
 'CA-Anaheim',
 'GA-Rockville',
 'WI-Ashwaubenon',
 'GA-Lizella',
 'NC-Newton Grove',
 'FL-Jupiter',
 'TN-Dickson',
 'IL-Lansing',
 'AL-Eufaula',
 'CA-Van Nuys',
 'KY-Lancaster',
 'FL-Clermont',
 'TX-Pharr',
 'VA-Alexandria',
 'WV-Grafton',
 'MS-Iuka',
 'CA-Seaside',
 'ID-Melba',
 'TN-Monteagle',
 'TX-Palestine',
 'MI-Bloomfield Township',
 'CA-Oakland',
 'OK-Bethany',
 'OK-Anadarko',
 'TX-Wood County',
 'IN-Brookville',
 'AZ-Yuma',
 'TX-Baytown',
 'AK-Barrow',
 'FL-Barberville',
 'CA-Santa Paula',
 'AR-Benton',
 'CA-San Diego County',
 'LA-Breaux Bridge',
 'MO-Columbia',
 'NY-Yonkers',
 'LA-Harvey',
 'WA-Yakima',
 'OH-Cincinnati',
 'NJ-Hackensack',
 'WI-Jackson',
 'LA-Shreveport',
 'NC-Asheville',
 'MI-Benton Harbor',
 'IA-Sioux City',
 'OH-Twinsburg',
 'VA-Pearisburg',
 'TX-Katy',
 'WA-Kelso',
 'WV-Clendenin',
 'TX-DeSoto',
 'MN-Hutchinson',
 'AL-Dadeville',
 'MI-Marion',
 'OK-Midwest City',
 'NY-Cheektowaga',
 'MI-Grand Rapids',
 'TN-Knoxville',
 'AZ-Glendale',
 'FL-Palm Harbor',
 'MS-Ruth',
 'OH-North Royalton',
 'CA-La Quinta',
 'TN-Memphis',
 'CA-Dunsmuir',
 'OK-Byars',
 'NY-Glenville',
 'CA-Downey',
 'LA-Kenner',
 'LA-Homer',
 'OK-Wetumka',
 'NY-Mount Vernon',
 'OR-Aloha',
 'MA-Everett',
 'MO-Cape Girardeau',
 'CT-Suffield',
 'NM-Edgewood',
 'VA-Scott County',
 'TX-Paris',
 'IL-Harvey',
 'CA-Winchester',
 'WI-Weston',
 'TX-Addison',
 'OH-Willoughby',
 'NY-Islip',
 'MA-Lynn',
 'MO-Florissant',
 'MS-Walls',
 'NM-Deming',
 'CO-Loveland',
 'FL-Orlando',
 'GA-Acworth',
 'CA-Boyle Heights',
 'NC-Leland',
 'OH-Medina',
 'OR-Seaside',
 'CO-Eldorado Springs',
 'DE-Smyrna',
 'CA-South Gate',
 'WI-Eau Claire',
 'CA-Turlock',
 'CA-Selma',
 'CA-Bell',
 'UT-Provo',
 'IL-Lyons',
 'CA-Hesperia',
 'KY-Princeton',
 'NY-Schenectady',
 'PA-Johnstown',
 'TX-Mesquite',
 'GA-Fort Valley',
 'LA-Gretna',
 'GA-Moultrie',
 'MS-Hattiesburg',
 'CA-Gardena',
 'TX-Del Rio',
 'WY-Casper',
 'AZ-Bullhead City',
 'AL-Monroeville',
 'CA-Pomona',
 'SD-Rapid City',
 'SC-Landrum',
 'CA-Irvine',
 'NJ-Lyndhurst',
 'CA-Lynwood',
 'MO-Sugar Creek',
 'OH-Southington',
 'CA-San Bernardino',
 'MO-McDowell',
 'CA-El Monte',
 'MN-Fridley',
 'AR-Marion',
 'WV-Gerrardstown',
 'KY-Phelps',
 'WA-Olympia',
 'TN-Somerville',
 'OH-Westerville',
 'NM-Roswell',
 'MN-North Branch',
 'WA-Kirkland',
 'WA-Federal Way',
 'MD-Montgomery Village',
 'TN-Sparta',
 'IL-Antioch',
 'OH-Rome',
 'FL-Navarre',
 'TX-Brownsville',
 'CA-Antioch',
 'IL-Clinton',
 'SC-Sumter',
 'CA-Delhi',
 'NC-Hickory',
 'TX-Dallas',
 'CA-Santa Maria',
 'NC-Granite Falls',
 'CA-Corning',
 'KS-Gardner',
 'LA-Mamou',
 'OK-Coal County',
 'KY-Trosper',
 'CA-Fair Oaks',
 'AL-Tuscaloosa',
 'MO-Jackson',
 'GA-Talking Rock',
 'CA-Union City',
 'WA-Spanaway',
 'OH-Westlake',
 'UT-Spanish Fork',
 'KS-Kansas City',
 'GA-Mableton',
 'IL-River Forest',
 'OK-Hominy',
 'IN-Harmony',
 'NJ-Manchester',
 'OR-McMinnville',
 'CA-Aguanga',
 'PA-Lower Mount Bethel',
 'CA-Monterey',
 'CA-Santee',
 'LA-Covington',
 'SC-Cayce',
 'AL-Bay Minette',
 'CA-Happy Valley',
 'KY-Richmond',
 'CA-Salinas',
 'IL-Jerseyville',
 'CA-Lemoore',
 'AZ-Surprise',
 'DC-Washington',
 'WI-Rib Mountain',
 'CA-Valinda',
 'TX-Sunset',
 'CA-Alpine',
 'GA-Peachtree City',
 'SC-Lake City',
 'MS-Brookhaven',
 'NJ-Newark',
 'IN-Beech Grove',
 'FL-Palm Beach Gardens',
 'KY-Hiseville',
 'ME-Waldoboro',
 'TX-Waco',
 'WA-Pasco',
 'AZ-Buckeye',
 'KS-Olathe',
 'SD-Rapid Valley',
 'OH-Euclid',
 'CA-Byron',
 'NC-Rowland',
 'PA-West Chester',
 'PA-Lancaster',
 'VA-Suffolk',
 'OK-Guthrie',
 'MI-Dearborn',
 'CA-Tehachapi',
 'TN-Hendersonville',
 'SD-Lead',
 'NH-Merrimack',
 'NM-Pueblo of Laguna',
 'NC-Anson County',
 'FL-Callahan',
 'TN-Gray',
 'TX-Onalaska',
 'NH-Peterborough',
 'CA-Santa Barbara',
 'ME-Smyrna',
 'VA-York County',
 'AK-Wasilla',
 'IL-Arcola',
 'WV-Petroleum',
 'MT-Superior',
 'AL-Phenix City',
 'SC-Chesterfield County',
 'CO-Boulder',
 'KY-Russellville',
 'TX-Myra',
 'WV-Nitro',
 'NC-Iredell County',
 'AZ-Show Low',
 'ID-Kuna',
 'CA-Calimesa',
 'OH-Howland Township',
 'UT-Ogden',
 'FL-Mascotte',
 'SC-Aiken',
 'OK-Stillwater',
 'WI-East Troy',
 'GA-Arlington',
 'MA-Weymouth',
 'TX-Harker Heights',
 'NC-Raleigh',
 'MD-Bel Air',
 'AL-Homewood',
 'MO-Ozark',
 'ND-Mandan',
 'TX-Rosenberg',
 'TN-Lewisburg',
 'MI-Saginaw',
 'CA-Colton',
 'MN-Aitkin',
 'CA-Hemet',
 'OK-Fairfax',
 'MO-Maysville',
 'PA-Germantown',
 'PA-Stewartstown',
 'IN-Greenwood',
 'GA-Clarkesville',
 'AL-Mobile',
 'WV-Bluefield',
 'CA-Sylmar',
 'ID-Council',
 'VT-Winooski',
 'NJ-Ideal Beach',
 'ID-Garden City',
 'CA-Clearlake Park',
 'TX-Arlington',
 'TN-Lakeland',
 'CO-Montrose County',
 'CA-Rosemead',
 'LA-East Baton Rouge',
 'ME-Arundel',
 'TX-Panhandle',
 'OH-Ashtabula',
 'WA-Graham',
 'TX-Carrollton',
 'DE-Wilmington',
 'AL-Arab',
 'LA-Baton Rouge',
 'OR-Florence',
 'CA-Newark',
 'FL-Opa-Locka',
 'MD-Frederick',
 'CA-Atwater',
 'MO-Springfield',
 'NC-Lumberton',
 'FL-Yulee',
 'NJ-New Brunswick',
 'WA-Lake Stevens',
 'PA-Forks Township',
 'CA-La Mirada',
 'CA-Vacaville',
 'AL-Sylacauga',
 'GA-Sylvester',
 'FL-Riverview',
 'NM-San Rafael',
 'OH-Oak Hill',
 'LA-Port Barre',
 'CA-Fountain Valley',
 'CO-Broomfield',
 'NM-Truth or Consequences',
 'GA-Brooklet',
 'TN-Franklin',
 'VA-Norman',
 'IN-Muncie',
 'IA-Urbandale',
 'AZ-Prescott',
 'CA-Fremont',
 'KS-Medicine Lodge',
 'IA-Boone',
 'OH-Montpelier',
 'NY-Bronx',
 'TX-Irving',
 'IL-Springfield',
 'TX-Saginaw',
 'FL-Wellington',
 'KY-Pine Top',
 'MA-Webster',
 'VA-Pulaski',
 'WV-Elkins',
 'NJ-Bridgeton',
 'WV-Spencer',
 'NC-Cary',
 'TN-Whitehaven',
 'LA-Franklin',
 'AL-Ashville',
 'WI-Wauwatosa',
 'WI-Greenfield',
 'TX-Midland',
 'ID-Hammett',
 'NV-Gardnerville Ranchos',
 'OK-Millerton',
 'GA-Macon',
 'CA-Lodi',
 'KY-Leitchfield',
 'OK-Leedey',
 'NY-Malone',
 'CA-San Francisco',
 'TX-Ponder',
 'TX-Sierra Blanca',
 'IL-Rockford',
 'CO-Northglenn',
 'IA-Fort Madison',
 'CO-Parker',
 'UT-West Jordan',
 'AZ-Parker',
 'MO-St. Joseph',
 'AL-Tuscumbia',
 'TX-Laredo',
 'FL-North Port',
 'AL-Opelika',
 'WA-Bellingham',
 'MD-Reisterstown',
 'TN-Bristol',
 'KY-Elsmere',
 'AZ-La Paz County',
 'TX-Allen',
 'WA-Bainbridge Island',
 'PA-Reading',
 'AZ-Sierra Vista',
 'VA-Arlington',
 'TX-Fuqua',
 'FL-Belle Glade',
 'CA-South Lake Tahoe',
 'TN-Reagan',
 'UT-Parowan',
 'FL-Thonotosassa',
 'NC-Salemburg',
 'OK-Tahlequah',
 'MI-Berrien County',
 'AR-Sims',
 'UT-Centerville',
 'MT-Three Forks',
 'CA-Oxnard',
 'WV-Hometown',
 'MT-Butte',
 'FL-St. Petersburg',
 'FL-Naples',
 'FL-Oakland Park',
 'TX-Houston',
 'CO-Ca\x96on City',
 'MI-Ishpeming Township',
 'FL-Largo',
 'CA-Marina',
 'FL-Deltona',
 'GA-Elberton',
 'CA-Sacramento',
 'CA-Tustin',
 'TX-Grand Prarie',
 'CA-Avenal',
 'WY-Douglas',
 'CA-Chico',
 'CA-Vista',
 'AZ-San Manuel',
 'AZ-Cottonwood',
 'TX-Balch Springs',
 'CA-Long Beach',
 'MI-Manistee',
 'MS-Gulfport',
 'AL-Opp',
 'IL-East St. Louis',
 'MI-Warren',
 'GA-Commerce',
 'NJ-Old Bridge',
 'FL-Pompano Beach',
 'CA-Porterville',
 'CA-Hollywood',
 'PA-East Stroudsburg',
 'CA-Napa',
 'FL-Panama City Beach',
 'MO-Nevada',
 'CA-Hacienda Heights',
 'MT-Livingston',
 'CA-Riverside',
 'WI-New London',
 'CA-North Hills',
 'CA-Needles',
 'CA-Newport Beach',
 'GA-Eden',
 "MO-Lee's Summit",
 'CA-El Cajon',
 'OK-Tom',
 'CA-Hayward',
 'AZ-Casa Grande',
 'FL-Floral City',
 'CA-Compton',
 'WI-Fond du Lac',
 'MT-Billings',
 'LA-Mandeville',
 'OR-Josephine County',
 'OR-Eugene',
 'MA-West Springfield',
 'IN-English',
 'OK-Edmond',
 'TN-Gibson County',
 'WA-Grapeview',
 'IN-Monon',
 'MD-Chestertown',
 'TX-Tomball',
 'PA-Campbelltown',
 'CO-Dinosaur',
 'NC-Dublin',
 'MI-Detroit',
 'CA-Cerritos',
 'NC-Statesville',
 'MO-Odessa',
 'CA-Cottonwood',
 'NC-Gaston County',
 'FL-Brooksville',
 'CA-Vallejo',
 'IN-Elkhart',
 'TN-Counce',
 'CA-Del Mar',
 'MI-Roxand Township',
 'ID-Middleton',
 'IA-Des Moines',
 'CA-Cabazon',
 'KS-Colby',
 'MS-Lucedale',
 'MD-Greenbelt',
 'AR-West Memphis',
 'TX-Springtown',
 'LA-Evangeline Parish',
 'CO-Strasburg',
 'CA-Merced',
 'WA-Seattle',
 'VA-Roanoke',
 'OK-Rush Springs',
 'SC-Campobello',
 'CA-Santa Ana',
 'NY-Queens',
 'AR-England',
 'MN-Roseville',
 'MO-Buffalo',
 'WI-Milwaukee',
 'CO-Fountain',
 'CA-Ontario',
 'NY-New City',
 'MN-Mora',
 'CA-West Covina',
 'VA-Arvonia',
 'CA-Panorama City',
 'MN-Austin',
 'WV-Brandywine',
 'WI-Beaver Dam',
 'CT-Old Saybrook',
 'DE-Claymont',
 'FL-Jacksonsville',
 'CA-Indio',
 'CO-Thornton',
 'TX-Hurst',
 'IL-Villa Park',
 'CA-Calexico',
 'TX-Henderson County',
 'FL-Pinellas Park',
 'OH-Akron',
 'OR-Beaverton',
 'GA-Jesup',
 'WV-Beckley',
 'WA-Kent',
 ...]

In [6]:
"""
Let's try cleaning the the race of city dataset now viewing the missing datapoints which are denoted at (X).
"""
df_race_city['city'] = df_race_city[['Geographic area', 'City']].apply("-".join,axis=1)
list_race_df = df_race_city.values.tolist()
j = 0
list_bad_cities = []
for i in list_race_df:
    #we can see it is only null when all races are missing
    if(i.count('(X)') > 0):
        j+=1
        list_bad_cities.append(i[1])
        print(i.count('(X)'))
print("total cities with bad points = ", j)

5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
total cities with bad points =  20

In [7]:
"""With only 20/29260 holding a row of null values, we shall drop these cities"""
tempDf_race = df_race_city[df_race_city.share_white != '(X)'].copy()
print(tempDf_race.info())
df_race_city.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29248 entries, 0 to 29267
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Geographic area        29248 non-null  object
 1   City                   29248 non-null  object
 2   share_white            29248 non-null  object
 3   share_black            29248 non-null  object
 4   share_native_american  29248 non-null  object
 5   share_asian            29248 non-null  object
 6   share_hispanic         29248 non-null  object
 7   city                   29248 non-null  object
dtypes: object(8)
memory usage: 2.0+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29268 entries, 0 to 29267
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Geographic area        29268 non-null  object
 1   City                   29268 non-null  object
 2   share_white            29268 non-null  object
 3   share_black            29268 non-null  object
 4   share_native_american  29268 non-null  object
 5   share_asian            29268 non-null  object
 6   share_hispanic         29268 non-null  object
 7   city                   29268 non-null  object
dtypes: object(8)
memory usage: 1.8+ MB

In [8]:
list_total_races = []
columns_race = tempDf_race.columns.values.tolist()
s = 'share'
columns_race = [string for string in columns_race if(s in string)]
columns_race

['share_white',
 'share_black',
 'share_native_american',
 'share_asian',
 'share_hispanic']

In [9]:
temp = ["ok", "o", "ok", " sdos", 2, 3, 4, 5, 6, 6]
j = 0
for i in temp:
    if(isinstance(i,str)):
        j+=1
print( j )
for i in columns_race:
    j = 0
    for k in tempDf_race[i].values.tolist():
        if(isinstance(k,str)):
            j+=1
    print(j)
    tempDf_race[i] = tempDf_race[i].astype(float)

    list_total_races.append(tempDf_race[i].sum().astype(float))
list_total_races[0]

4
29248
29248
29248
29248
29248

2433809.0

In [10]:
#we can check that all the cities in the total data set is still in the race_city dataset
cities2 = tempDf_race['city'].tolist()
cities2 =list(set(cities2))
j = 0
for i in cities:
    # print(i in cities2)
    # print(i)
    # print(cities2.index(i[0::1]))
    if(any(i in string for string in cities2)):
        #print(i)
        j+=1
    else:
        print(i)
        print(cities2.index(i[0::1]))

print(j)
print(list_bad_cities)

OK-Norwood

ValueError: 'OK-Norwood' is not in list

In [ ]:
#make a list of df fT-oubaor each city
list_df_cities = []
for i in cities:
    list_df_cities.append(df_total.loc[df_total['city'] == i])

In [ ]:
#make a list of race
races = df_total['race'].tolist()
races =list(set(races))
races = races[1::]
races

In [ ]:
mode_total = df_total['race'].mode(dropna=True).tolist()
print(mode_total)
for i in list_df_cities:
    mode = i['race'].mode(dropna=True)
    if(len(mode) == 0):
        i[['race']] = i[['race']].fillna(mode_total[0])
        if(i['race'].isnull().sum() != 0):
            print("null val")
    elif(isinstance(mode, type(i['race']))):
        mode.dropna()
        mode = mode.tolist()
        #if the mode has more than one value then take a random choice between the values
        i[['race']] = i[['race']].fillna(random.choice(tuple(mode)))



    df_total.loc[df_total['city'] ==  i.at[i.first_valid_index(),'city']] = i
df_total.info()

In [ ]:
 # removed all data wiht NaN in race Column...df_training[df_training['race'].isnull()]
df_total

In [ ]:
"""
We noticed that some of the 'age' data is missing.
So we imputed the average age of the people in each city and imputed the average age for the missing ages based on their city.
1. We calculate the total mean age of our total data sample.
2. We group by city, then calculate the mean Age at each city.
3. For each NaN age, we impute the mean age of that city. If that city was not calcuated (meaning this data is the only one from that city), we will use the total mean age.
"""
age_fix = df_total[['id','age','city']].copy()
age_fix = age_fix[age_fix['age'].isnull()].copy()
# 1. Calculate Total Mean Age
total_mean_age = df_total['age'].mean()

# 2. Calculate Mean of Each City
city_mean_ages = df_total.groupby('city')['age'].mean()

#3. Impute Age by the city. If City data does not exist, use Total Mean Age.
for i in age_fix.index:
    city = age_fix['city'][i]
    if city in city_mean_ages and not np.isnan(city_mean_ages[city]):
        age_fix['age'][i] = city_mean_ages[city]
    else:
        age_fix['age'][i] = total_mean_age


# update total list
df_total.update(age_fix)

df_total.info()

In [ ]:
"""
Fix the 'race' column
We want to impute the NaN in the 'race' column with the most frequent race that is reported in the same city.
First get a list of cities,
second, get the mode for each city.
"""
training_race_noNaN = df_training[df_training['race'].notnull()].copy()

training_cities = training_race_noNaN['city'].unique()

training_race_noNaN

In [ ]:
training_race_noNaN.groupby('city')['race'].agg(pd.Series.mode).to_frame()

In [ ]:
training_race_noNaN.groupby('city')['race'].agg(pd.Series.mode).to_frame()