In [260]:
import itertools

import numpy
import pandas as pd
import random
import sklearn
from sklearn.model_selection import train_test_split
import datetime
from sklearn import metrics
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sb

In [261]:
"""
Our first goal is going to be data cleaning and munging. We want to take care of all null values
first.
"""

df_training = pd.read_csv('police_killings_train.csv')
df_test = pd.read_csv('police_killings_test.csv')
df_race_city = pd.read_csv('share_race_by_city.csv')
df_income = pd.read_csv('income.csv', encoding="ANSI")
df_poverty = pd.read_csv('poverty.csv', encoding="ANSI")
df_education = pd.read_csv('education.csv', encoding="ANSI")

df_test.info()
df_training

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 507 entries, 0 to 506
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       507 non-null    int64
 1   name                     507 non-null    object
 2   date                     507 non-null    object
 3   manner_of_death          507 non-null    object
 4   armed                    504 non-null    object
 5   age                      467 non-null    float64
 6   gender                   507 non-null    object
 7   race                     403 non-null    object
 8   city                     507 non-null    object
 9   state                    507 non-null    object
 10  signs_of_mental_illness  507 non-null    bool
 11  threat_level             507 non-null    object
 12  flee                     469 non-null    object
 13  body_camera              507 non-null    bool
dtypes: bool(2), float64(1), int64(1), object(10)
memory usage: 48.6+ KB

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
0,3,Tim Elliot,02/01/15,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False
1,4,Lewis Lee Lembke,02/01/15,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False
2,5,John Paul Quintero,03/01/15,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False
3,8,Matthew Hoffman,04/01/15,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False
4,9,Michael Rodriguez,04/01/15,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023,2256,Jeremy Lopez-Robledo,24/01/17,shot,knife,29.0,M,H,Las Cruces,NM,True,attack,Foot,True
2024,2257,Jonathan David Sper,24/01/17,shot,unarmed,30.0,M,W,Algoma Township,MI,True,attack,Not fleeing,False
2025,2258,Jose Efrain Rodriguez,24/01/17,shot and Tasered,gun,18.0,M,H,Lancaster City,PA,False,attack,Not fleeing,False
2026,2259,Ramon Milanez,24/01/17,shot,gun,32.0,M,H,Kuna,ID,False,attack,Car,False
2027,2260,Micah R. Lambert,25/01/17,shot,vehicle,37.0,M,W,Oxford,AL,True,attack,Car,False

In [262]:
"""
We will combine the training and tesing dataset to make cleaning easier and more accurate
"""

df_total = df_training.append(df_test, ignore_index=True)
df_total

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
0,3,Tim Elliot,02/01/15,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False
1,4,Lewis Lee Lembke,02/01/15,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False
2,5,John Paul Quintero,03/01/15,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False
3,8,Matthew Hoffman,04/01/15,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False
4,9,Michael Rodriguez,04/01/15,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2530,2822,Rodney E. Jacobs,28/07/17,shot,gun,31.0,M,NaN,Kansas City,MO,False,attack,Not fleeing,False
2531,2813,TK TK,28/07/17,shot,vehicle,NaN,M,NaN,Albuquerque,NM,False,attack,Car,False
2532,2818,Dennis W. Robinson,29/07/17,shot,gun,48.0,M,NaN,Melba,ID,False,attack,Car,False
2533,2817,Isaiah Tucker,31/07/17,shot,vehicle,28.0,M,B,Oshkosh,WI,False,attack,Car,True
2534,2815,Dwayne Jeune,31/07/17,shot,knife,32.0,M,B,Brooklyn,NY,True,attack,Not fleeing,False

In [263]:
print(df_income.info())
df_race_city.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29322 entries, 0 to 29321
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Geographic Area  29322 non-null  object
 1   City             29322 non-null  object
 2   Median Income    29271 non-null  object
dtypes: object(3)
memory usage: 687.4+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29268 entries, 0 to 29267
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Geographic area        29268 non-null  object
 1   City                   29268 non-null  object
 2   share_white            29268 non-null  object
 3   share_black            29268 non-null  object
 4   share_native_american  29268 non-null  object
 5   share_asian            29268 non-null  object
 6   share_hispanic         29268 non-null  object
dtypes: object(7)
memory usage: 1.6+ MB

In [264]:
"""
There are many missing fields across all the supporting/optional datasets, in order to resolve this we need
to merge these datasets and then make the necessary imputation.
1. All data sets have a state and city type columns, merge those columns such that they can all have a column
to for indexing.
2. Get the list of cities within the mandatory dataset, we need to confirm that the supporting dataset
has these cities and if not then we need to impute.
"""
#make a list of unique cities, and include the state so we don't deal with same city names of different states
df_total['city'] = df_total[['state', 'city']].apply("-".join,axis=1)
df_race_city['city'] = df_race_city[['Geographic area', 'City']].apply("-".join,axis=1)
df_income['city'] = df_income[['Geographic Area', 'City']].apply("-".join,axis=1)
df_poverty['city'] = df_poverty[['Geographic Area', 'City']].apply("-".join,axis=1)
df_education['city'] = df_education[['Geographic Area', 'City']].apply("-".join,axis=1)
df_income = df_income.drop(['Geographic Area', 'City'], axis=1)
df_poverty = df_poverty.drop(columns=['Geographic Area', 'City'])
df_education = df_education.drop(columns=['Geographic Area', 'City'])
cities = df_total['city'].tolist()
cities =list(set(cities))
print(len(cities))
cities

1534

['MN-St. Cloud',
 'OR-Wolf Creek',
 'PA-Lancaster',
 'MI-Hessel',
 'AZ-Apache Junction',
 'IN-Avon',
 'UT-Parowan',
 'AR-Cabot',
 'AZ-Sierra Vista',
 'WA-Pasco',
 'SC-Edmund',
 'VA-Scott County',
 'WV-Meadow Bridge',
 'MO-Sullivan',
 'FL-Fruitland Park',
 'MO-Maysville',
 'CT-Bolton',
 'MS-Greenville',
 'VA-Aldie',
 'WI-Millston',
 'OR-Salem',
 'NY-Rochester',
 'NM-Truth or Consequences',
 'CA-Lancaster',
 'CO-Federal Heights',
 'WI-Antigo',
 'LA-Pineville',
 'GA-Hampton',
 'CA-Orange',
 'TX-Oak Cliff',
 'NC-Granite Falls',
 'CA-Vista',
 'UT-Provo',
 'CA-Oakland',
 'CA-Studio City',
 'CA-Clovis',
 'OH-Zanesville',
 'TN-Clarksville',
 'TN-Shelbyville',
 'CA-Anaheim',
 'UT-Clearfield',
 'TX-Whitewright',
 'TX-San Antonio',
 'CA-Fountain Valley',
 'NY-Greece',
 'CA-Yreka',
 'FL-Gainesville',
 'TX-Paris',
 'LA-Gretna',
 'OH-Brookville',
 'ID-Boise',
 'WA-Olympia',
 'IL-Arcola',
 'OR-Wilderville',
 'CA-Santa Monica',
 'SD-Rapid City',
 'SD-Lead',
 'CA-Antioch',
 'OH-Westerville',
 'CA-Santa Clara',
 'CA-Whittier',
 'LA-Pride',
 'OH-Dayton',
 'CT-Oakdale',
 'CA-Pleasanton',
 'NC-Ronda',
 'OK-Tahlequah',
 'FL-Noma',
 'TX-Mesquite',
 'AZ-Tempe',
 'OK-Kiowa',
 'OH-Willoughby',
 'AL-Tuscaloosa',
 'MA-Brockton',
 'GA-Douglas',
 'NM-Los Lunas',
 'CA-Dinuba',
 'AZ-Pima',
 'TX-Addison',
 'NC-Franklin',
 'WI-Monroe',
 'IN-Knox',
 'TX-Levelland',
 'WV-Morgantown',
 'MO-Affton',
 'MA-Roslindale',
 'VA-Harrisonburg',
 'SC-Fountain Inn',
 'PA-Sharon',
 'GA-Cumming',
 'CO-Loveland',
 'MS-Petal',
 'FL-Cantonment',
 'OH-Kent',
 'PA-Somerset',
 'AK-Kenai Peninsula',
 'KY-Elsmere',
 'NC-Iredell County',
 'CA-Huntington Park',
 'AZ-Marana',
 'CA-Downey',
 'IL-Hurst',
 'PA-Johnstown',
 'WA-Lacey',
 'MA-Oxford',
 'TX-Midland',
 'CA-Union City',
 'CA-Chula Vista',
 'KY-Princeton',
 'GA-Peachtree City',
 'SC-Sumter',
 'OK-Chickasha',
 'CA-Pinion Hills',
 'IL-Metropolis',
 'TX-Sunset',
 'ID-Mountain Home',
 'CA-Aguanga',
 'NC-Pinnacle',
 'CA-Yuba City',
 'CA-Desert Edge',
 'WA-Vancouver',
 'OK-Broken Bow',
 'FL-Cape Coral',
 'IL-North Riverside',
 'WI-Eau Claire',
 'OH-Cleveland',
 'AZ-Eagar',
 'WI-Fond du Lac',
 'AZ-Yuma',
 'UT-Spanish Fork',
 'TN-Monteagle',
 'NY-Yonkers',
 'OH-Circleville',
 'MS-Walls',
 'FL-Vero Beach',
 'OH-Madison Township',
 'VA-Concord',
 'TN-Jackson',
 'TN-East Ridge',
 'MO-Jennings',
 'GA-Augusta',
 'AR-Dover',
 'UT-Ogden',
 'VA-Grundy',
 'TX-Lake Jackson',
 'OH-Springfield',
 'CA-La Mirada',
 'DE-Claymont',
 'NH-Peterborough',
 'KY-White Plains',
 'CT-Mashantucket',
 'CA-El Cajon',
 'OH-Montpelier',
 'CA-Compton',
 'CA-Camarillo',
 'WV-Montcalm',
 'NC-Brevard',
 'KY-Barbourville',
 'MO-Blue Springs',
 'KS-Hutchinson',
 'UT-Logan',
 'CA-Los Angeles',
 'AZ-Gilbert',
 'CO-Broomfield',
 'WA-Bainbridge Island',
 'CA-Byron',
 'KS-Hesston',
 'CA-Corning',
 'OK-Millerton',
 'UT-Milcreek',
 'CA-Riverside',
 'AR-Mountain Pine',
 'FL-Weeki Wachi',
 'GA-Riverdale',
 'MO-Columbia',
 'FL-Cocoa',
 'MO-Lakeshire',
 'TN-Lakeland',
 'GA-Macon',
 'UT-Salt Lake City',
 'MI-Saginaw',
 'FL-Riverview',
 'SC-Johnsonville',
 'CA-Sacramento',
 'CA-Lake Elsinore',
 'IL-Shawnee National Forest',
 'SC-Chesterfield County',
 'TX-Katy',
 'NM-Carlsbad',
 'WI-Milwaukee',
 'WY-Casper',
 'NM-Edgewood',
 'NV-Gardnerville Ranchos',
 'AL-Brooksville',
 'NC-Lawndale',
 'MD-Dundalk',
 'HI-Aiea',
 'CA-Delhi',
 'SD-Sioux Falls',
 'CO-Aurora',
 'OR-Aloha',
 'SC-Latta',
 'MD-Columbia',
 'CA-Elk Grove',
 'MO-Sugar Creek',
 'NY-Berne',
 'AL-Birmingham',
 'OH-Cincinnati',
 'IL-Lansing',
 'OR-McMinnville',
 'OK-Okmulgee County',
 'CA-San Ysidro',
 'MI-Portage',
 'AR-Little Rock',
 'NC-Rutherfordton',
 'AZ-Florence',
 'KS-Gardner',
 'SC-Moncks Corner',
 'ID-Rexburg',
 'OH-Richmond Heights',
 'GA-Cobb County',
 'CA-Bakersfield',
 'TN-Morristown',
 'FL-Cape Canaveral',
 'NC-Hudson',
 'KS-Leavenworth',
 'TX-Saginaw',
 'CA-Hollywood Hills',
 'OK-Guthrie',
 'TX-Baytown',
 'MN-Hutchinson',
 'FL-Fort Lauderdale',
 'OH-Vandalia',
 'CA-Gardena',
 'IA-North English',
 'AZ-Avondale',
 'MT-Malta',
 'AL-Clay',
 'VA-Suffolk',
 'MT-Three Forks',
 'TN-Oneida',
 'ME-Vassalboro',
 'GA-Mableton',
 'CO-Fountain',
 'FL-Palm Beach Gardens',
 'OK-Norwood',
 'AL-Bay Minette',
 'MI-Benton Harbor',
 'MS-St. Martin',
 'CA-Calexico',
 'NC-Gaston County',
 'AL-Millbrook',
 'MO-Springfield',
 'GA-Stone Mountain',
 'OH-Tiffin',
 'FL-Micanopy',
 'TX-Lufkin',
 'CA-Huntington Beach',
 'NY-Edinburg',
 'CO-Eldorado Springs',
 'FL-Fort Walton Beach',
 'CA-Watsonsville',
 'LA-Chalmette',
 'MI-Trenton',
 'KY-Simpsonsville',
 'OR-Colton',
 'VA-Chesapeake',
 'CO-Mountain View',
 'TX-Pharr',
 'AZ-Winslow',
 'NH-Newton',
 'TN-Knoxville',
 'IN-Goshen',
 'NC-Maiden',
 'CA-North Hills',
 'FL-Little Havana',
 'CA-South El Monte',
 'AL-Rainbow City',
 'WI-Geneva',
 'CA-Solvang',
 'CA-Ripon',
 'TX-Winnie',
 'TX-Boerne',
 'GA-Talking Rock',
 'MD-Landover',
 'MN-Mankato',
 'TX-Houston',
 'WA-Yakima',
 'OK-Miami',
 'MO-Neosho',
 'TN-Raleigh',
 'IL-Clinton',
 'TX-Fritch',
 'OH-Parma',
 'MN-Columbia Heights',
 'TX-Myra',
 'GA-Rossville',
 'OK-Bartlesville',
 'CA-Beaumont',
 'WA-East Wenatchee',
 'GA-Brooklet',
 'PA-Reading',
 'CA-Santa Clarita',
 'KY-Daviess County',
 'FL-Lealman',
 'TX-Clute',
 'TN-Soddy-Daisy',
 'GA-Sylvester',
 'AL-Lawrence County',
 'VT-Winooski',
 'WA-Kennewick',
 'CA-Sand City',
 'CA-South Lake Tahoe',
 'NE-York',
 'AZ-Chandler',
 'GA-East Point',
 'IL-Zion',
 'UT-Centerville',
 'TN-Lewisburg',
 'CA-University City',
 'CA-Fullerton',
 'MI-Detroit',
 'CO-Englewood',
 'KY-Fulton',
 'MI-Manistee',
 'OH-Ashtabula',
 'KS-Lehigh',
 'WI-Wausau',
 'ND-Grand Forks',
 'CA-La Quinta',
 'MI-Warren',
 'NJ-Newark',
 'AK-Spenard',
 'MI-Cato Township',
 'AL-Macon County',
 'CA-Bell',
 'NJ-Byram',
 'ME-Naples',
 'IL-Jerseyville',
 'MI-Wyoming',
 'MD-Mt Airy',
 'NC-Cary',
 'ME-Madison',
 'MD-Essex',
 'TX-Weatherford',
 'LA-Cade',
 'CA-Escondido',
 'VA-Falls Church',
 'ID-Hammett',
 'OR-Oregon City',
 'NC-Newton Grove',
 'GA-Acworth',
 'FL-Hog Valley',
 'MO-Lampe',
 'OK-Logan County',
 'CT-Old Saybrook',
 'MA-West Springfield',
 'TN-Arlington',
 'HI-Keaau',
 'TN-Estill Springs',
 'VA-Herndon',
 'MI-Brighton Township',
 'CA-Sunnyvale',
 'CA-Moreno Valley',
 'MS-Smithville',
 'NC-Greensboro',
 'OH-Mansfield',
 'MI-Bloomfield Township',
 'TN-Decatur County',
 'NJ-Lyndhurst',
 'AL-Meridianville',
 'FL-Fort Pierce',
 'WV-Braxton County',
 'GA-Tyrone',
 'IL-East St. Louis',
 'GA-Jackson',
 'WY-Cheyenne',
 'AZ-Glendale',
 'TX-Kerrville',
 'PA-Lancaster City',
 'TX-Tomball',
 'KY-Lawrenceburg',
 'OH-Uniontown',
 'WV-Bluefield',
 'CA-Porterville',
 'CA-Chatsworth',
 'CA-Smartsville',
 'MO-Republic',
 'OH-Columbus',
 'TX-Wichita Falls',
 'PA-Lower Mount Bethel',
 'FL-Delray Beach',
 'PA-South Greensburg',
 'LA-East Baton Rouge',
 'NE-Lincoln',
 'TX-Kingsbury',
 'TN-Alamo',
 'WA-Grapeview',
 'CO-Pueblo',
 'TX-Killeen',
 'FL-Orange County',
 'NY-Malone',
 'VA-Stafford',
 'MI-Algoma Township',
 'OH-Beverly',
 'IN-Muncie',
 'CA-Santa Cruz',
 'CA-Cottonwood',
 'GA-Commerce',
 'CA-San Francisco',
 'MT-Superior',
 'CA-Lakewood',
 'UT-Logan Canyon',
 'OK-Byars',
 'LA-Lakes Charles',
 'CA-Windsor',
 'MD-Montgomery Village',
 'CA-Boulder Creek',
 'TX-DeSoto',
 'IA-Urbandale',
 'OR-Josephine County',
 'UT-Roosevelt',
 'IN-Gary',
 'CO-Lakewood',
 'KS-Hays',
 'MO-Cape Girardeau',
 'CA-Pomona',
 'CA-Poway',
 'NY-Clarendon',
 'ME-Presque Isle',
 'MD-North East',
 'CT-Fairfield',
 'MD-Elkridge',
 'WI-Oshkosh',
 'CA-Winchester',
 'CA-Lemoore',
 'FL-Immokalee',
 'MN-St. Paul',
 'AZ-Phoenix',
 'OK-Rush Springs',
 'KY-Bowling Green',
 'OK-Bunch',
 'WA-Lake Stevens',
 'GA-Elberton',
 'CA-Lynwood',
 'WA-Spokane',
 'GA-Jesup',
 'MS-Tupelo',
 'TX-Odessa',
 'MD-Chestertown',
 'PA-Straban Township',
 'MI-Holland Township',
 'PA-Upper Darby',
 'WI-Ashwaubenon',
 'NC-Spring Lake',
 'AZ-Bullhead City',
 'CA-Cabazon',
 'TN-Reagan',
 'GA-Savannah',
 'IL-Antioch',
 'TX-Fort Stockton',
 'NY-Beacon',
 'WV-Mount Hope',
 'TX-Bellville',
 'MO-Ozark',
 'IL-Chicago',
 'TX-Gladewater',
 'AL-Montgomery',
 'IL-Forest Park',
 'ME-Smyrna',
 'WA-Hunters',
 'GA-Covington',
 'IA-Boone',
 'OH-Englewood',
 'LA-Covington',
 'CA-Barstow',
 'IL-Rockford',
 'KS-Kansas City',
 'AL-Sylacauga',
 'MA-Everett',
 'OK-Cache',
 'IL-Rock Island',
 'KS-Assaria',
 'SC-Cayce',
 'TX-Garland',
 'CA-Norwalk',
 'TX-Longview',
 'LA-Slidell',
 'AK-Anchorage',
 'NV-Sparks',
 'NJ-Cranbury Township',
 'NM-Pueblo of Laguna',
 'RI-Pawtucket',
 'TX-Beckville',
 'TX-Chapeno',
 'DE-Frederica',
 'PA-Chambersburg',
 'HI-Papaaloa',
 'NH-Derry',
 'MA-Weymouth',
 'OK-Eufaula',
 'LA-Harvey',
 'OK-Kellyville',
 'AZ-Flagstaff',
 'NC-Fayetteville',
 'CA-Needles',
 'TN-Nashville',
 'NC-Union Grove',
 'OH-Green',
 'PA-York',
 'TN-Gallatin',
 'CA-McKinneyville',
 'CA-East Hollywood',
 'CA-Inyokern',
 'UT-Roy',
 'KY-Wilmore',
 'TX-Victoria',
 'NJ-Hamilton',
 'FL-Panama City',
 'NC-Lenoir',
 'FL-Oakland Park',
 'ND-Wood Lake',
 'CO-Northglenn',
 'WA-Beaver',
 'GA-Decatur',
 'MO-Sedalia',
 'OK-Midwest City',
 'NV-Boulder City',
 'CA-Palmdale',
 'CA-Hacienda Heights',
 'CA-Santa Barbara',
 'KY-Pine Top',
 'OH-Northwood',
 'NM-Las Cruces',
 'FL-Gifford',
 'WI-New London',
 'WI-Weston',
 'WA-Tacoma',
 'CA-South Los Angeles',
 'KY-Ludlow',
 'CA-Vacaville',
 'AR-Benton',
 'CO-Parker',
 'IL-Markham',
 'MN-Fridley',
 'AR-Desha',
 'KS-Olathe',
 'MO-McDowell',
 'NY-Potsdam',
 'GA-Lumpkin',
 'NY-Brooklyn',
 'WA-Bellingham',
 'MO-Franklin County',
 'VA-Winchester',
 'IN-Evansville',
 'IN-Greenwood',
 'MD-Frederick',
 'CA-Newman',
 'CA-Ladera Heights',
 'OK-Schulter',
 'LA-Marksville',
 'CA-Oxnard',
 'MT-Dillon',
 'MD-District Heights',
 'CO-Strasburg',
 'NM-Albuquerque',
 'TX-Denton',
 'TX-Lockhart',
 'TX-Spring',
 'AR-Strong',
 'CA-Bellflower',
 'TN-West Knox',
 'IL-Lawndale',
 'MD-Rising Sun',
 'NM-Crownpoint',
 'CA-Dunsmuir',
 'TX-Harker Heights',
 'TX-Arlington',
 'GA-Fort Valley',
 'OK-Tulsa',
 'ME-Portland',
 'MS-Hattiesburg',
 'TX-McKinney',
 'CA-Lincoln',
 'NH-Hampton',
 'NV-Reno',
 'NC-Greenville',
 'CT-Thomaston',
 'FL-Pinellas Park',
 'IN-Vincennes',
 'CA-Madera',
 'FL-Ocala',
 'MI-Ishpeming Township',
 'CO-Fort Collins',
 'AL-Selma',
 'SC-Pendleton',
 'SD-Kyle',
 'CA-Encinitas',
 'OK-Stillwater',
 'KY-Phelps',
 'AR-Marion',
 'FL-Middleburg',
 'MS-Brookhaven',
 'NC-Gastonia',
 'OH-Euclid',
 'LA-Breaux Bridge',
 'OH-St. Clair Township',
 'FL-Belle Glade',
 'PA-Huntingdon County',
 'MO-Independence',
 'AL-Huntsville',
 'SD-Mitchell',
 'NJ-Paterson',
 'AZ-Kearny',
 'CA-Eureka',
 'WI-Jackson',
 'OH-Canton',
 'OK-Pryor',
 'OK-Pottawatomie County',
 'IN-Portage',
 'CA-Valinda',
 'NJ-Maurice River',
 'WI-Pine River',
 'NJ-Bridgeton',
 'NM-Gallup',
 'KY-Hiseville',
 'CA-Barona Indian Reservation',
 'VA-York County',
 'GA-Gainesville',
 'GA-Cedartown',
 'OR-Tualatin',
 'FL-Yulee',
 'FL-Titusville',
 'CA-Santa Paula',
 'TX-Jourdanton',
 'OR-Burns',
 'AZ-Golden Shores',
 'AZ-Lake Havasu City',
 'NC-Wadesboro',
 'AR-Perryville',
 'PA-Chester',
 'SC-Lake City',
 'KY-Trosper',
 'FL-Manatee',
 'CA-San Diego County',
 'WA-Kirkland',
 'OR-Dallas',
 'FL-Englewood',
 'VA-Culpeper',
 'OK-Healdton',
 'CA-Apple Valley',
 'IL-Joilet',
 'MI-Eaton Rapids Township',
 'GA-Paulding County',
 'WV-Spencer',
 'IL-Dolton',
 'CA-Santee',
 'MD-Reisterstown',
 'CO-Evans',
 'SC-Lexington',
 'VA-Portsmouth',
 'TX-Fort Worth',
 'MO-North St. Louis',
 'WA-Lynnwood',
 'DE-New Castle',
 'KS-Colby',
 'ID-Sandpoint',
 'CA-Carson',
 'WV-Brandywine',
 'CA-Atwater',
 'KY-East Berstadt',
 'KS-Rosalia',
 'AR-Farmington',
 'PA-Campbelltown',
 'WA-Richland',
 'NY-New York',
 'WY-Rawlins',
 'AL-Phenix City',
 'NH-Bath',
 'MD-Owings Mills',
 'GA-Loganville',
 'NM-Roswell',
 'MT-Livingston',
 'TX-Rosenberg',
 'PA-Fort Littleton',
 'SD-Rapid Valley',
 'PA-York County',
 'NJ-Manchester',
 'CA-Salinas',
 'WI-Madison',
 'IA-Sioux City',
 'WV-Fairmont',
 'CA-Chino',
 'WV-Follansbee',
 'NC-Dallas',
 'VA-Grayson County',
 'CA-Jurupa Valley',
 'CA-Wilmington',
 'KS-Medicine Lodge',
 'TX-Sierra Blanca',
 'OR-Portland',
 'CA-Monterey',
 'CA-Cerritos',
 'NC-Dublin',
 'CA-Maywood',
 'NM-Rowe',
 'GA-Cochran',
 'UT-Syracuse',
 'VA-Emporia',
 'UT-West Jordan',
 'WI-Green Bay',
 'CA-Seaside',
 'OK-Byng',
 'FL-Niceville',
 'MI-Columbia Township',
 'IL-Belleville',
 'PA-Philadelphia',
 'OR-Bend',
 'FL-Tallahassee',
 'LA-Raceland',
 'IL-Alton',
 'CT-Suffield',
 'TX-Beaumont',
 'ME-Arundel',
 'FL-DeLand',
 'WA-Sumas',
 'NM-Laguna Pueblo',
 'AZ-Morenci',
 'TN-Antioch',
 'FL-Thonotosassa',
 'KY-Gunlock',
 'CO-Park County',
 'NC-Hickory',
 'AZ-Scottsdale',
 'NM-Hobbs',
 'MD-Overlea',
 'AZ-San Manuel',
 'WA-Lakewood',
 'CA-Alpine',
 'GA-Bonaire',
 'PA-Penn Township',
 'OH-Hamilton',
 'FL-Pompano Beach',
 'CO-Boulder',
 'TX-Gilmer',
 'LA-Bossier City',
 'TX-Henderson County',
 'NY-Staten Island',
 'OH-Findlay',
 'MI-Kentwood',
 'NM-Carrizozo',
 'NM-Artesia',
 'SC-Landrum',
 'TX-Mission',
 'WA-Graham',
 'GA-Port Wentworth',
 'FL-Palm Bay',
 'OK-Leedey',
 'OK-Fairland',
 'ND-Bismarck',
 'PA-Pittsburgh',
 'WA-Kelso',
 'FL-St. Augustine',
 'CO-Grand Junction',
 'ME-Waldoboro',
 'FL-Orange Park',
 'NY-Glenville',
 'NJ-New Brunswick',
 'CA-Lodi',
 'CA-Grover Beach',
 'MN-Plymouth',
 'MI-Belleville',
 'TN-McLemoresville',
 'NE-Omaha',
 'KS-McPherson',
 'ID-Garden City',
 'MI-Roxand Township',
 'OR-Springfield',
 'NM-Santa Fe',
 'TN-Columbia',
 'CO-Centennial',
 'KY-Richmond',
 'OH-Colebrook Township',
 'CA-Olympic Valley',
 'CO-Westminster',
 'AL-Westover',
 'TX-Onalaska',
 'MD-Randallstown',
 'MD-Abingdon',
 'OK-Rufe',
 'NC-Raleigh',
 'WV-Petroleum',
 'MN-Morris',
 'WA-Cle Elum',
 'VA-Woodford',
 'OK-Wetumka',
 'KY-Booneville',
 'CO-Montrose County',
 'WV-Beckley',
 'LA-Baton Rouge',
 'WA-Wapato',
 'AZ-Goodyear',
 'HI-Honolulu',
 'OH-Mt. Auburn',
 'TX-Amarillo',
 'ME-Orrington',
 'AL-Clanton',
 'AL-Jackson County',
 'FL-Deltona',
 'FL-Hallandale Beach',
 'SC-Lake View',
 'CA-Hesperia',
 'CA-Colton',
 'NH-Merrimack',
 'FL-Clermont',
 'WI-Neenah',
 'NC-Stoneville',
 'OK-Okemah',
 'MI-Romulus',
 'WA-Tukwila',
 'GA-Marietta',
 'OK-Roland',
 'DE-Smyrna',
 'CA-Brawley',
 'CA-San Jose',
 'WI-Pembine',
 'GA-Atlanta',
 'WY-Douglas',
 'AZ-Parker',
 'TX-Bexar County',
 'CA-Olivehurst',
 'CO-Colorado Springs',
 'AZ-Casa Grande',
 'LA-Alexandria',
 'UT-Eagle Mountain',
 'TX-Campbellton',
 'TN-Spring Hill',
 'GA-Carrollton',
 'CA-Santa Maria',
 'MS-Biloxi',
 'VA-Pearisburg',
 'AZ-Red Valley',
 'OK-Burns Flat',
 'CA-Sylmar',
 'OK-Ponca City',
 'KY-Edmonton',
 'CA-West Goshen',
 'FL-Orlando',
 'TX-Maryneal',
 'CA-Happy Valley',
 'NE-Big Springs',
 'CA-Ontario',
 'GA-Austell',
 'OK-Sallisaw',
 'OK-Tom',
 'SC-Campobello',
 'MA-Lynn',
 'MS-Columbus',
 'AL-Oxford',
 'VA-Powhatan County',
 'FL-Floral City',
 'SC-Spartanburg',
 'AR-England',
 'GA-Ludowici',
 'GA-Valdosta',
 'IN-Shelbyville',
 'FL-Largo',
 'NV-Carson City',
 'MD-Middle River',
 'AL-Killeen',
 'OK-Colbert',
 'IL-Harvey',
 'NM-Eldorado',
 'MN-Vineland',
 'MD-Pikesville',
 'ND-Mandan',
 'NE-Sidney',
 'LA-Port Barre',
 'CA-Fair Oaks',
 'CA-Fresno',
 'IL-Rantoul',
 'CA-Visalia',
 'TX-Allen',
 'CA-Newport Beach',
 'MI-Beaverton',
 'TX-Midlothian',
 'CA-Redlands',
 'HI-Hilo',
 'SC-Piedmont',
 'CA-San Mateo',
 'CA-Newark',
 'TX-Webster',
 'CA-Coalinga',
 'VA-Richmond',
 'CA-Santa Nella',
 'PA-Allentown',
 'OK-Coal County',
 'KS-Wichita',
 'ID-Melba',
 'CA-Concord',
 'SC-North Charleston',
 'TN-Mt. Pleasant',
 'IN-Fishers',
 'NH-Claremont',
 'CA-Anderson',
 'GA-Clarkesville',
 'TX-Hutchins',
 'MO-Harrisonville',
 'IN-Lafayette',
 'WV-Hensley',
 'CA-Carmichael',
 'CA-Cathedral City',
 'CA-Rialto',
 'TX-Ponder',
 'AR-Springdale',
 'GA-Arlington',
 'MO-Nevada',
 'OH-Perry Township',
 'CA-San Marcos',
 'NC-Peachland',
 'CA-Marina',
 'CA-Clearlake Park',
 'MS-Gautier',
 'CA-San Diego',
 'CA-Long Beach',
 'TX-Palestine',
 'CA-Rocklin',
 'CO-Ca\x96on City',
 'TX-Splendora',
 'AL-Mobile',
 'OH-Twinsburg',
 'MI-Bay City',
 'AL-Baldwin County',
 'KY-Elizabethtown',
 'NC-Kinston',
 'CA-Gilroy',
 'LA-Converse',
 'FL-Plantation',
 'TX-Tahoka',
 'SC-Myrtle Beach',
 'WV-Nitro',
 'OH-Toledo',
 'NC-East Flat Rock',
 'FL-Mascotte',
 'AL-Eufaula',
 'MO-St. Louis',
 'OK-Edmond',
 'WA-Auburn',
 'NC-Shelby',
 'NY-Islip',
 'MO-Buffalo',
 'PA-Harrisburg',
 'NY-Cheektowaga',
 'NC-Wilkesboro',
 'LA-Mamou',
 'MA-Taunton',
 'NM-Socorro',
 'AL-Dadeville',
 'KY-Morehead',
 'CA-Glendale',
 'MI-St. Joseph',
 'CA-City Terrace',
 'CA-Tehachapi',
 'AK-Wasilla',
 'MS-Water Valley',
 'VA-Arlington',
 'AR-Sims',
 'TX-Temple',
 'TN-Dickson',
 'CA-Pacific Beach',
 'VT-Burlington',
 'TN-Elizabethton',
 'NC-Efland',
 'NC-Tarboro',
 'NJ-Atlantic City',
 'CA-Panorama City',
 'UT-Draper',
 'AL-Washington County',
 'SC-Hardeeville',
 'WV-Buckhannon',
 'KS-Topeka',
 'CA-Hemet',
 'OR-Eugene',
 'MA-Beverly',
 'NJ-Trenton',
 'FL-Putnam Hall',
 'AL-Monroeville',
 'KY-Russellville',
 'NV-Las Vegas',
 'FL-Milton',
 'WI-West Allis',
 'IN-Kokomo',
 'LA-New Iberia',
 'VA-Newport News',
 'NJ-Little Egg Harbor',
 'AZ-Buckeye',
 'IN-Harmony',
 'AL-Saraland',
 'TN-Bristol',
 'IL-Maeystown',
 ...]

In [265]:
"""
First lets merge each of the supporting datasets into df_temp.
We noticed that the missing values aren't consistent in the supporting datasets. So we need to change all types of
missing values to NAN such that we can impute using fillna().
"""
print(df_race_city.info())
df_temp = pd.merge(df_race_city, df_income, on='city', how='outer', sort=True)
df_temp = pd.merge(df_temp, df_poverty, on='city', how='outer', sort=True)
df_temp = pd.merge(df_temp, df_education, on='city', how='outer', sort=True)
columns_supp = df_temp.columns.values.tolist()
for i in columns_supp:
    df_temp[i] = df_temp[i].replace('-', '(X)')
    df_temp[i] = df_temp[i].replace('(X)', numpy.NAN)
print(df_temp.info())
df_temp

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29268 entries, 0 to 29267
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Geographic area        29268 non-null  object
 1   City                   29268 non-null  object
 2   share_white            29268 non-null  object
 3   share_black            29268 non-null  object
 4   share_native_american  29268 non-null  object
 5   share_asian            29268 non-null  object
 6   share_hispanic         29268 non-null  object
 7   city                   29268 non-null  object
dtypes: object(8)
memory usage: 1.8+ MB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 29477 entries, 0 to 29476
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Geographic area        29268 non-null  object
 1   City                   29268 non-null  object
 2   share_white            29248 non-null  object
 3   share_black            29248 non-null  object
 4   share_native_american  29248 non-null  object
 5   share_asian            29248 non-null  object
 6   share_hispanic         29248 non-null  object
 7   city                   29477 non-null  object
 8   Median Income          27418 non-null  object
 9   poverty_rate           29128 non-null  object
 10  percent_completed_hs   29132 non-null  object
dtypes: object(11)
memory usage: 2.7+ MB
None

,Geographic area,City,share_white,share_black,share_native_american,share_asian,share_hispanic,city,Median Income,poverty_rate,percent_completed_hs
0,AK,Adak city,19.6,4,5.5,52.5,8.9,AK-Adak city,78500,39.3,93.4
1,AK,Akhiok city,8.5,1.4,50.7,1.4,11.3,AK-Akhiok city,26250,40.5,62.5
2,AK,Akiachak CDP,3.5,0.2,95.1,0.2,0.2,AK-Akiachak CDP,38750,26.1,76.7
3,AK,Akiak city,5.2,0,92.8,0,0.3,AK-Akiak city,42000,31.3,81.3
4,AK,Akutan city,23.3,17.9,5.5,43.3,20.8,AK-Akutan city,24750,16.1,73
...,...,...,...,...,...,...,...,...,...,...,...
29472,WY,Woods Landing-Jelm CDP,95.9,0,0,2.1,0,WY-Woods Landing-Jelm CDP,NaN,18.6,100
29473,WY,Worland city,89.9,0.3,1.3,0.6,16.6,WY-Worland city,41523,15.3,85.6
29474,WY,Wright town,94.5,0.1,1.4,0.2,6.2,WY-Wright town,77114,5.9,89.2
29475,WY,Y-O Ranch CDP,92.8,1.5,2.6,0,11.8,WY-Y-O Ranch CDP,NaN,0,100
29476,WY,Yoder town,97.4,0,0,0,4,WY-Yoder town,37500,5.4,79.4

In [266]:
"""
Let's try cleaning the the race of city dataset now viewing the missing datapoints which are denoted at (X).
"""
# df_temp['city'] = df_temp[['Geographic area', 'City']].apply("-".join,axis=1)
# list_race_df = df_temp.values.tolist()
# j = 0
# list_bad_cities = []
# for i in list_race_df:
#     #we can see it is only null when all races are missing
#     if(i.count('(X)') > 0):
#         j+=1
#         list_bad_cities.append(i[1])
#         print(i.count('(X)') )
# print("total cities with bad points = ", j)

"\nLet's try cleaning the the race of city dataset now viewing the missing datapoints which are denoted at (X).\n"

In [267]:
"""With only 20/29260 holding a row of null values, we shall drop these cities"""
# tempDf_race = df_temp[df_race_city.share_white != '(X)'].copy()
# print(tempDf_race.info())
# df_race_city.info()

'With only 20/29260 holding a row of null values, we shall drop these cities'

In [268]:
"""
We want to make sure all the cities that are in our mandatory dataset is accounted for in the supporting.
We shall add those cities if they aren't and impute them as nulls
"""
#we can check that all the cities in the total data set is still in the race_city dataset
cities2 = df_temp['city'].tolist()
cities2 =list(set(cities2))
j = 0
missing = 0
cities.sort()
cities2.sort()
rep_val = 0
for i in cities:
    # print(i in cities2)
    # print(i)
    # print(cities2.index(i[0::1]))
    if(i in cities2):
        j+=1
    elif(any(i in string for string in cities2)):
        if len(df_temp[df_temp['city'].str.contains(i) ]) == 1 and sum(i in string for string in cities) == 1:
            print(i)
            df_temp['city'].loc[df_temp['city'].str.contains(i)] = i
            rep_val+=1

        else:
            newDF = {}
            #print(i)
            newDF['Geographic area'] = i[0:2]
            newDF['City'] = i[3:]
            newDF['city'] = i
            ind = 0
            df_temp = df_temp.append(newDF, ignore_index=True)
            cities2 = df_temp['city'].tolist()
            cities2 =list(set(cities2))
            missing+=1

    else:
        newDF = {}
        #print(i)
        newDF['Geographic area'] = i[0:2]
        newDF['City'] = i[3:]
        newDF['city'] = i
        ind = 0
        df_temp = df_temp.append(newDF, ignore_index=True)
        cities2 = df_temp['city'].tolist()
        cities2 =list(set(cities2))
        missing+=1


print(j)
print("Replaced cities ", rep_val)
print(" Was Missing ", missing)
df_temp.drop_duplicates(subset='city', inplace=True)
df_temp.reset_index(inplace=True)
df_temp

NH-Claremont
NH-Derry
NH-Peterborough
NJ-Atlantic City
NJ-Bridgeton
NJ-Byram
NJ-Camden
NJ-Hackensack
NJ-Hamilton
NJ-New Brunswick
NJ-Newark
NJ-Old Bridge
NJ-Paterson
NJ-Toms River
NJ-Trenton
NJ-Ventnor
NJ-Vineland
NJ-Woodbridge
NM-Alamogordo
NM-Albuquerque
NM-Artesia
NM-Carlsbad
NM-Carrizozo
NM-Crownpoint
NM-Deming
NM-Edgewood
NM-Eldorado
NM-Gallup
NM-Hanover
NM-Hobbs
NM-Jal
NM-Las Cruces
NM-Los Lunas
NM-Lovington
NM-Roswell
NM-Rowe
NM-San Rafael
NM-Santa Fe
NM-Socorro
NM-Truth or Consequences
NV-Boulder City
NV-Gardnerville Ranchos
NV-Henderson
NV-Las Vegas
NV-North Las Vegas
NV-Pahrump
NV-Reno
NV-Silver Springs
NV-Sparks
NY-Beacon
NY-Bronx
NY-Buffalo
NY-Cheektowaga
NY-Constantia
NY-Greece
NY-Malone
NY-Middletown
NY-Mount Vernon
NY-New City
NY-New Paltz
NY-Potsdam
NY-Rochester
NY-Rotterdam
NY-Schenectady
NY-Syracuse
NY-Troy
NY-Yonkers
OH-Akron
OH-Ashtabula
OH-Beverly
OH-Brookville
OH-Canton
OH-Celina
OH-Cincinnati
OH-Circleville
OH-Dayton
OH-Englewood
OH-Euclid
OH-Fairborn
OH-Findlay
OH-Hamilton
OH-Hudson
OH-Mansfield
OH-Medina
OH-Montpelier
OH-North Royalton
OH-Northwood
OH-Oak Hill
OH-Richmond Heights
OH-Rome
OH-Springfield
OH-Tiffin
OH-Toledo
OH-Uniontown
OH-Vandalia
OH-Westerville
OH-Westlake
OH-Zanesville
OK-Anadarko
OK-Ardmore
OK-Bartlesville
OK-Bethany
OK-Broken Bow
OK-Burns Flat
OK-Byars
OK-Byng
OK-Cache
OK-Chickasha
OK-Colbert
OK-Cushing
OK-Edmond
OK-Eufaula
OK-Fairfax
OK-Fairland
OK-Guthrie
OK-Healdton
OK-Hominy
OK-Kellyville
OK-Kiowa
OK-Lawton
OK-Leedey
OK-McAlester
OK-Miami
OK-Midwest City
OK-Millerton
OK-Muskogee
OK-Okemah
OK-Oklahoma City
OK-Ponca City
OK-Pryor
OK-Roland
OK-Rush Springs
OK-Sallisaw
OK-Sand Springs
OK-Schulter
OK-Stillwater
OK-Tahlequah
OK-Tulsa
OK-Wagoner
OK-Watts
OK-Wetumka
OK-Wewoka
OR-Aloha
OR-Beaverton
OR-Bend
OR-Burns
OR-Dallas
OR-Eugene
OR-Florence
OR-Grants Pass
OR-Gresham
OR-King City
OR-McMinnville
OR-Medford
OR-Oregon City
OR-Portland
OR-Salem
OR-Seaside
OR-Springfield
OR-Tualatin
OR-West Linn
PA-Allentown
PA-Avella
PA-Bloomsburg
PA-Campbelltown
PA-Chambersburg
PA-East Stroudsburg
PA-Harrisburg
PA-Hummelstown
PA-Johnstown
PA-Knoxville
PA-Lewistown
PA-Philadelphia
PA-Pittsburgh
PA-Pittston
PA-Reading
PA-Somerset
PA-South Greensburg
PA-Stewartstown
PA-West Chester
PA-Wilkinsburg
RI-Pawtucket
RI-Tiverton
SC-Aiken
SC-Boiling Springs
SC-Campobello
SC-Cayce
SC-Charleston
SC-Fountain Inn
SC-Goose Creek
SC-Greenville
SC-Hardeeville
SC-Irmo
SC-Iva
SC-Johnsonville
SC-Lake City
SC-Lake View
SC-Lancaster
SC-Landrum
SC-Latta
SC-Lexington
SC-Little Mountain
SC-Moncks Corner
SC-Myrtle Beach
SC-North Charleston
SC-Pelzer
SC-Pendleton
SC-Piedmont
SC-Seneca
SC-Spartanburg
SC-Summerville
SC-Sumter
SC-Taylors
SD-Kyle
SD-Lead
SD-Mitchell
SD-Rapid City
SD-Rapid Valley
SD-Rosebud
SD-Sioux Falls
TN-Alamo
TN-Arlington
TN-Bristol
TN-Chattanooga
TN-Clarksville
TN-Columbia
TN-Dickson
TN-East Ridge
TN-Elizabethton
TN-Estill Springs
TN-Franklin
TN-Gallatin
TN-Hendersonville
TN-Hohenwald
TN-Humboldt
TN-Jackson
TN-Johnson City
TN-Knoxville
TN-Lakeland
TN-Lenoir City
TN-Lewisburg
TN-McLemoresville
TN-Memphis
TN-Monteagle
TN-Morristown
TN-Oneida
TN-Sevierville
TN-Shelbyville
TN-Soddy-Daisy
TN-Somerville
TN-Sparta
TN-Spring Hill
TX-Abilene
TX-Addison
TX-Allen
TX-Amarillo
TX-Arlington
TX-Austin
TX-Azle
TX-Balch Springs
TX-Baytown
TX-Beaumont
TX-Beckville
TX-Bellville
TX-Boerne
TX-Brookshire
TX-Brownsville
TX-Carrollton
TX-Chapeno
TX-Cisco
TX-Clute
TX-Conroe
TX-Corpus Christi
TX-Dallas
TX-DeSoto
TX-Del Rio
TX-Denton
TX-Edinburg
TX-El Paso
TX-Euless
TX-Fort Stockton
TX-Fort Worth
TX-Freeport
TX-Friendswood
TX-Fritch
TX-Fulshear
TX-Garland
TX-Gilmer
TX-Gladewater
TX-Groveton
TX-Harker Heights
TX-Houston
TX-Hurst
TX-Hutchins
TX-Irving
TX-Jourdanton
TX-Katy
TX-Kerrville
TX-Killeen
TX-Kingsbury
TX-Lake Jackson
TX-Levelland
TX-Lockhart
TX-Longview
TX-Lorena
TX-Lufkin
TX-Mabank
TX-Mansfield
TX-Midland
TX-Midlothian
TX-Nacogdoches
TX-Odessa
TX-Onalaska
TX-Palestine
TX-Panhandle
TX-Paris
TX-Pearland
TX-Pharr
TX-Plano
TX-Ponder
TX-Port Arthur
TX-Rosenberg
TX-Rosser
TX-Saginaw
TX-San Angelo
TX-San Antonio
TX-Seagoville
TX-Sierra Blanca
TX-Splendora
TX-Springtown
TX-Tahoka
TX-Temple
TX-Tomball
TX-Waco
TX-Weatherford
TX-Webster
TX-West Odessa
TX-Whitewright
TX-Wichita Falls
TX-Wink
TX-Winnie
UT-Centerville
UT-Clearfield
UT-Draper
UT-Eagle Mountain
UT-Ogden
UT-Parowan
UT-Provo
UT-Roosevelt
UT-Roy
UT-Salt Lake City
UT-Spanish Fork
UT-Syracuse
UT-West Jordan
VA-Alexandria
VA-Arlington
VA-Chesapeake
VA-Concord
VA-Culpeper
VA-Emporia
VA-Falls Church
VA-Fredericksburg
VA-Grundy
VA-Harrisonburg
VA-Herndon
VA-Hopewell
VA-King George
VA-Newport News
VA-Norfolk
VA-Pearisburg
VA-Portsmouth
VA-Pulaski
VA-Richmond
VA-Roanoke
VA-Stafford
VA-Suffolk
VA-Virginia Beach
VA-Winchester
VT-Burlington
VT-Winooski
WA-Auburn
WA-Bainbridge Island
WA-Bellingham
WA-Burien
WA-Cle Elum
WA-Des Moines
WA-East Wenatchee
WA-Everett
WA-Federal Way
WA-Graham
WA-Grapeview
WA-Kelso
WA-Kennewick
WA-Kent
WA-Kirkland
WA-Lacey
WA-Lake Stevens
WA-Lakewood
WA-Lynnwood
WA-Olympia
WA-Pasco
WA-Richland
WA-Ridgefield
WA-Seattle
WA-Shelton
WA-Snohomish
WA-Spanaway
WA-Sumas
WA-Tacoma
WA-Tukwila
WA-Vancouver
WA-Wapato
WA-Wenatchee
WA-Woodland
WA-Yakima
WI-Antigo
WI-Appleton
WI-Ashwaubenon
WI-Beaver Dam
WI-East Troy
WI-Eau Claire
WI-Fond du Lac
WI-Green Bay
WI-Greenfield
WI-Jackson
WI-Kenosha
WI-Lake Hallie
WI-Madison
WI-Millston
WI-Milwaukee
WI-Monroe
WI-Neenah
WI-New London
WI-Oshkosh
WI-Paddock Lake
WI-Pembine
WI-Pine River
WI-Rib Mountain
WI-Waukesha
WI-Wauwatosa
WI-West Allis
WI-Weston
WV-Beckley
WV-Bluefield
WV-Brandywine
WV-Buckhannon
WV-Clendenin
WV-Elkins
WV-Fairmont
WV-Follansbee
WV-Fort Ashby
WV-Grafton
WV-Hometown
WV-Meadow Bridge
WV-Montcalm
WV-Morgantown
WV-Mount Hope
WV-Nitro
WV-Princeton
WV-Spencer
WV-Weirton
WY-Cheyenne
WY-Douglas
WY-Gillette
WY-Laramie
WY-Rawlins
1
Replaced cities  1189
 Was Missing  344

,index,Geographic area,City,share_white,share_black,share_native_american,share_asian,share_hispanic,city,Median Income,poverty_rate,percent_completed_hs
0,0,AK,Adak city,19.6,4,5.5,52.5,8.9,AK-Adak city,78500,39.3,93.4
1,1,AK,Akhiok city,8.5,1.4,50.7,1.4,11.3,AK-Akhiok city,26250,40.5,62.5
2,2,AK,Akiachak CDP,3.5,0.2,95.1,0.2,0.2,AK-Akiachak CDP,38750,26.1,76.7
3,3,AK,Akiak city,5.2,0,92.8,0,0.3,AK-Akiak city,42000,31.3,81.3
4,4,AK,Akutan city,23.3,17.9,5.5,43.3,20.8,AK-Akutan city,24750,16.1,73
...,...,...,...,...,...,...,...,...,...,...,...,...
29816,29816,WV,Braxton County,NaN,NaN,NaN,NaN,NaN,WV-Braxton County,NaN,NaN,NaN
29817,29817,WV,Gerrardstown,NaN,NaN,NaN,NaN,NaN,WV-Gerrardstown,NaN,NaN,NaN
29818,29818,WV,Hensley,NaN,NaN,NaN,NaN,NaN,WV-Hensley,NaN,NaN,NaN
29819,29819,WV,Petroleum,NaN,NaN,NaN,NaN,NaN,WV-Petroleum,NaN,NaN,NaN
29820,29820,WY,Casper,NaN,NaN,NaN,NaN,NaN,WY-Casper,NaN,NaN,NaN

AK-Anchorage
AK-Barrow
AK-Big Lake
AK-Fairbanks
AK-Houston
AK-Wasilla
AL-Abbeville
AL-Arab
AL-Ashville
AL-Bay Minette
AL-Birmingham
AL-Clanton
AL-Dadeville
AL-Deer Park
AL-Eufaula
AL-Gadsden
AL-Homewood
AL-Hoover
AL-Huntsville
AL-Meridianville
AL-Millbrook
AL-Mobile
AL-Monroeville
AL-Montgomery
AL-Muscle Shoals
AL-Opelika
AL-Opp
AL-Oxford
AL-Phenix City
AL-Piedmont
AL-Rainbow City
AL-Saraland
AL-Selma
AL-Sylacauga
AL-Tuscaloosa
AL-Tuscumbia
AL-Westover
AR-Austin
AR-Bull Shoals
AR-Cabot
AR-Dover
AR-England
AR-Farmington
AR-Fayetteville
AR-Jonesboro
AR-Little Rock
AR-Manila
AR-Marion
AR-Mena
AR-Mountain Pine
AR-Perryville
AR-Sheridan
AR-Springdale
AR-Strong
AR-West Memphis
AZ-Apache Junction
AZ-Avondale
AZ-Bisbee
AZ-Buckeye
AZ-Bullhead City
AZ-Casa Grande
AZ-Chandler
AZ-Eagar
AZ-Flagstaff
AZ-Florence
AZ-Gilbert
AZ-Glendale
AZ-Golden Shores
AZ-Golden Valley
AZ-Kearny
AZ-Kingman
AZ-Lake Havasu City
AZ-Marana
AZ-Morenci
AZ-Phoenix
AZ-San Manuel
AZ-Scottsdale
AZ-Show Low
AZ-Somerton
AZ-Surprise
AZ-Tempe
AZ-Wilhoit
AZ-Yuma
CA-Aguanga
CA-Anaheim
CA-Anderson
CA-Antelope
CA-Antioch
CA-Apple Valley
CA-Atascadero
CA-Atwater
CA-Avenal
CA-Azusa
CA-Bakersfield
CA-Barstow
CA-Beaumont
CA-Bellflower
CA-Boulder Creek
CA-Brawley
CA-Byron
CA-Cabazon
CA-Calexico
CA-Calimesa
CA-Camarillo
CA-Campo
CA-Carmichael
CA-Carson
CA-Castaic
CA-Cathedral City
CA-Ceres
CA-Cerritos
CA-Chico
CA-Chowchilla
CA-Chula Vista
CA-Citrus Heights
CA-Clovis
CA-Coalinga
CA-Colton
CA-Compton
CA-Concord
CA-Corning
CA-Cottonwood
CA-Del Mar
CA-Delano
CA-Delhi
CA-Desert Edge
CA-Dinuba
CA-Douglas City
CA-Downey
CA-Dunsmuir
CA-El Cajon
CA-El Monte
CA-Elk Grove
CA-Emeryville
CA-Encinitas
CA-Escondido
CA-Eureka
CA-Fair Oaks
CA-Fairfield
CA-Florence
CA-Fontana
CA-Fountain Valley
CA-Fremont
CA-Fresno
CA-Fullerton
CA-Gardena
CA-Gilroy
CA-Glendale
CA-Grass Valley
CA-Grover Beach
CA-Hacienda Heights
CA-Hawaiian Gardens
CA-Hawthorne
CA-Hayward
CA-Hemet
CA-Hesperia
CA-Highgrove
CA-Huntington Beach
CA-Huntington Park
CA-Inglewood
CA-Inyokern
CA-Irvine
CA-Jurupa Valley
CA-La Mirada
CA-La Quinta
CA-Ladera Heights
CA-Lake Elsinore
CA-Lakewood
CA-Lancaster
CA-Lodi
CA-Lompoc
CA-Long Beach
CA-Los Angeles
CA-Lynwood
CA-Maywood
CA-Meadow Vista
CA-Merced
CA-Modesto
CA-Montclair
CA-Montebello
CA-Moreno Valley
CA-Napa
CA-Needles
CA-Newark
CA-Newman
CA-Newport Beach
CA-Norwalk
CA-Oakland
CA-Olivehurst
CA-Ontario
CA-Oxnard
CA-Palm Springs
CA-Palmdale
CA-Palo Alto
CA-Pico Rivera
CA-Pleasanton
CA-Pomona
CA-Porterville
CA-Poway
CA-Rancho Cordova
CA-Rancho Santa Margarita
CA-Redding
CA-Redlands
CA-Rialto
CA-Ripon
CA-Riverside
CA-Rocklin
CA-Rosemead
CA-Sacramento
CA-Salinas
CA-San Bernardino
CA-San Fernando
CA-San Francisco
CA-San Jose
CA-San Marcos
CA-San Mateo
CA-Sand City
CA-Santa Ana
CA-Santa Barbara
CA-Santa Clara
CA-Santa Clarita
CA-Santa Cruz
CA-Santa Maria
CA-Santa Monica
CA-Santa Nella
CA-Santa Paula
CA-Santee
CA-Saratoga
CA-Seaside
CA-Selma
CA-Shafter
CA-Smartsville
CA-Solvang
CA-South El Monte
CA-South Gate
CA-South Lake Tahoe
CA-Stockton
CA-Sunnyvale
CA-Tehachapi
CA-Temecula
CA-Torrance
CA-Turlock
CA-Tustin
CA-Twentynine Palms
CA-Union City
CA-Vacaville
CA-Valinda
CA-Vallejo
CA-Visalia
CA-Walnut Creek
CA-Wasco
CA-Watsonville
CA-West Covina
CA-West Goshen
CA-Whittier
CA-Winchester
CA-Windsor
CA-Yorba Linda
CA-Yreka
CA-Yuba City
CO-Aurora
CO-Boulder
CO-Brighton
CO-Broomfield
CO-Centennial
CO-Colorado City
CO-Colorado Springs
CO-Commerce City
CO-Denver
CO-Dinosaur
CO-Eldorado Springs
CO-Englewood
CO-Evans
CO-Federal Heights
CO-Fort Collins
CO-Fountain
CO-Grand Junction
CO-Greeley
CO-Lakewood
CO-Loveland
CO-Mountain View
CO-New Castle
CO-Northglenn
CO-Parker
CO-Strasburg
CO-Thornton
CO-Trinidad
CO-Westminster
CT-Bridgeport
CT-Mashantucket
CT-Old Saybrook
CT-Stamford
CT-Suffield
CT-Thomaston
DC-Washington
DE-Claymont
DE-Frederica
DE-Middletown
DE-New Castle
DE-Smyrna
FL-Auburndale
FL-Belle Glade
FL-Brooksville
FL-Callahan
FL-Cape Canaveral
FL-Cape Coral
FL-Clermont
FL-Crescent City
FL-Crystal Springs
FL-Delray Beach
FL-Deltona
FL-Englewood
FL-Floral City
FL-Fort Lauderdale
FL-Fort Walton Beach
FL-Fruitland Park
FL-Gainesville
FL-Gifford
FL-Hallandale Beach
FL-Holiday
FL-Immokalee
FL-Lake Wales
FL-Largo
FL-Lealman
FL-Loxahatchee
FL-Manatee
FL-Mascotte
FL-Miami Beach
FL-Miami Gardens
FL-Micanopy
FL-Middleburg
FL-Milton
FL-Niceville
FL-Noma
FL-North Port
FL-Oakland Park
FL-Ocala
FL-Orange City
FL-Orange Park
FL-Orlando
FL-Palm Bay
FL-Palm Beach Gardens
FL-Palm Harbor
FL-Panama City Beach
FL-Pensacola
FL-Pinellas Park
FL-Plant City
FL-Pompano Beach
FL-Port St. Lucie
FL-Riverview
FL-Sneads
FL-St. Petersburg
FL-Tallahassee
FL-Tampa
FL-Thonotosassa
FL-Titusville
FL-Wellington
FL-West Palm Beach
FL-Yulee
GA-Acworth
GA-Albany
GA-Arlington
GA-Atlanta
GA-Austell
GA-Brooklet
GA-Carrollton
GA-Cartersville
GA-Cedartown
GA-Clarkesville
GA-Cochran
GA-Commerce
GA-Covington
GA-Cumming
GA-Decatur
GA-Douglasville
GA-East Point
GA-Elberton
GA-Fort Valley
GA-Gainesville
GA-Hampton
GA-Jesup
GA-Lawrenceville
GA-Loganville
GA-Ludowici
GA-Lumpkin
GA-Mableton
GA-Marietta
GA-Moultrie
GA-Newnan
GA-Peachtree City
GA-Port Wentworth
GA-Powder Springs
GA-Riverdale
GA-Rossville
GA-Savannah
GA-Smyrna
GA-Stockbridge
GA-Stone Mountain
GA-Sylvester
GA-Talking Rock
GA-Tyrone
GA-Valdosta
GA-Woodstock
HI-Aiea
HI-Hilo
HI-Kahuku
HI-Keaau
IA-Boone
IA-Burlington
IA-Cedar Rapids
IA-Des Moines
IA-Fort Madison
IA-North English
IA-Sioux City
IA-Urbandale
IA-Wellman
ID-Boise
ID-Council
ID-Garden City
ID-Homedale
ID-Idaho Falls
ID-Kuna
ID-Melba
ID-Middleton
ID-Rexburg
ID-Sandpoint
IL-Antioch
IL-Arcola
IL-Belleville
IL-Benton
IL-Clinton
IL-Deerfield
IL-Dolton
IL-East St. Louis
IL-Forest Park
IL-Harvey
IL-Hurst
IL-Jerseyville
IL-Lansing
IL-Lisle
IL-Lyons
IL-Maeystown
IL-Marion
IL-Markham
IL-Metropolis
IL-North Riverside
IL-Rantoul
IL-River Forest
IL-Rockford
IL-Springfield
IL-Stockton
IL-Villa Park
IL-Washington Park
IL-Zion
IN-Avon
IN-Beech Grove
IN-Brookville
IN-Elkhart
IN-English
IN-Evansville
IN-Fishers
IN-Fort Wayne
IN-French Lick
IN-Gary
IN-Goshen
IN-Greenwood
IN-Hanover
IN-Harmony
IN-Knox
IN-Kokomo
IN-Lafayette
IN-Monon
IN-Muncie
IN-Portage
IN-Shelbyville
IN-Terre Haute
IN-Vincennes
KS-Assaria
KS-Colby
KS-Gardner
KS-Hesston
KS-Hutchinson
KS-Kansas City
KS-Leavenworth
KS-Lehigh
KS-McPherson
KS-Medicine Lodge
KS-Newton
KS-Olathe
KS-Rosalia
KS-Topeka
KS-Udall
KS-Wichita
KY-Barbourville
KY-Bardstown
KY-Berea
KY-Booneville
KY-Bowling Green
KY-Brodhead
KY-Burkesville
KY-Edmonton
KY-Elizabethtown
KY-Elsmere
KY-Fulton
KY-Georgetown
KY-Hiseville
KY-Lancaster
KY-Lawrenceburg
KY-Leitchfield
KY-London
KY-Ludlow
KY-Morehead
KY-Owensboro
KY-Paris
KY-Phelps
KY-Princeton
KY-Richmond
KY-Russellville
KY-White Plains
KY-Wilmore
LA-Alexandria
LA-Baton Rouge
LA-Bossier City
LA-Breaux Bridge
LA-Cade
LA-Chalmette
LA-Converse
LA-Covington
LA-Crowley
LA-Denham Springs
LA-Gretna
LA-Harvey
LA-Homer
LA-Houma
LA-Kenner
LA-Mamou
LA-Mandeville
LA-Marksville
LA-Metairie
LA-New Iberia
LA-New Orleans
LA-Pineville
LA-Plaquemine
LA-Port Barre
LA-Raceland
LA-Shreveport
LA-Slidell
LA-Winnsboro
MA-Beverly
MA-Boston
MA-Braintree
MA-Brockton
MA-Everett
MA-Lowell
MA-Oxford
MA-Spencer
MA-Taunton
MA-Webster
MA-West Springfield
MA-Weymouth
MD-Capitol Heights
MD-Chestertown
MD-Columbia
MD-District Heights
MD-Dundalk
MD-Elkridge
MD-Elkton
MD-Essex
MD-Fort Meade
MD-Frederick
MD-Greenbelt
MD-Middle River
MD-Montgomery Village
MD-North East
MD-Overlea
MD-Owings Mills
MD-Pikesville
MD-Randallstown
MD-Reisterstown
MD-Rising Sun
MD-Salisbury
ME-Bangor
ME-Madison
ME-Naples
ME-Portland
ME-Presque Isle
ME-Waldoboro
MI-Bay City
MI-Beaverton
MI-Belleville
MI-Benton Harbor
MI-Grand Rapids
MI-Kentwood
MI-Lansing
MI-Marion
MI-Portage
MI-Romulus
MI-Saginaw
MI-Southfield
MI-St. Joseph
MI-Trenton
MI-Warren
MI-Wyoming
MN-Aitkin
MN-Alexandria
MN-Austin
MN-Bloomington
MN-Burnsville
MN-Cohasset
MN-Columbia Heights
MN-Eagan
MN-Falcon Heights
MN-Fridley
MN-Hutchinson
MN-Mankato
MN-Minneapolis
MN-Mora
MN-New Hope
MN-North Branch
MN-Peterson
MN-Plymouth
MN-Roseville
MN-St. Cloud
MN-Vadnais Heights
MN-Vineland
MO-Affton
MO-Blue Springs
MO-Buffalo
MO-Cape Girardeau
MO-Columbia
MO-Florissant
MO-Harrisonville
MO-Independence
MO-Jennings
MO-Kansas City
MO-Lakeshire
MO-Lee's Summit
MO-Maysville
MO-Neosho
MO-Nevada
MO-Odessa
MO-Ozark
MO-Poplar Bluff
MO-Republic
MO-Sedalia
MO-Springfield
MO-St. Joseph
MO-St. Louis
MO-Sugar Creek
MO-Sullivan
MS-Biloxi
MS-Brookhaven
MS-Gautier
MS-Greenville
MS-Gulfport
MS-Hattiesburg
MS-Iuka
MS-Lucedale
MS-Petal
MS-Smithville
MS-Southaven
MS-St. Martin
MS-Tupelo
MS-Walls
MS-Water Valley
MT-Billings
MT-Dillon
MT-Huntley
MT-Livingston
MT-Malta
MT-Superior
MT-Three Forks
NC-Archdale
NC-Asheville
NC-Brevard
NC-Canton
NC-Cary
NC-Charlotte
NC-Clinton
NC-Dallas
NC-Dublin
NC-Durham
NC-East Flat Rock
NC-Efland
NC-Fayetteville
NC-Gastonia
NC-Granite Falls
NC-Greensboro
NC-Greenville
NC-Hickory
NC-Hudson
NC-Kinston
NC-Lawndale
NC-Leland
NC-Lenoir
NC-Lumberton
NC-Maiden
NC-Newton Grove
NC-Peachland
NC-Pinnacle
NC-Pleasant Hill
NC-Raleigh
NC-Ronda
NC-Rowland
NC-Rutherfordton
NC-Salemburg
NC-Salisbury
NC-Shelby
NC-Spring Lake
NC-Statesville
NC-Stoneville
NC-Tarboro
NC-Wadesboro
NC-Wake Forest
NC-Wilkesboro
ND-Bismarck
ND-Mandan
NE-Big Springs
NE-Lincoln
NE-Louisville
NE-Omaha
NE-Sidney
NE-York
NH-Claremont
NH-Derry
NH-Peterborough
NJ-Atlantic City
NJ-Bridgeton
NJ-Byram
NJ-Camden
NJ-Hackensack
NJ-Hamilton
NJ-New Brunswick
NJ-Newark
NJ-Old Bridge
NJ-Paterson
NJ-Toms River
NJ-Trenton
NJ-Ventnor
NJ-Vineland
NJ-Woodbridge
NM-Alamogordo
NM-Albuquerque
NM-Artesia
NM-Carlsbad
NM-Carrizozo
NM-Crownpoint
NM-Deming
NM-Edgewood
NM-Eldorado
NM-Gallup
NM-Hanover
NM-Hobbs
NM-Jal
NM-Las Cruces
NM-Los Lunas
NM-Lovington
NM-Roswell
NM-Rowe
NM-San Rafael
NM-Santa Fe
NM-Socorro
NM-Truth or Consequences
NV-Boulder City
NV-Gardnerville Ranchos
NV-Henderson
NV-Las Vegas
NV-North Las Vegas
NV-Pahrump
NV-Reno
NV-Silver Springs
NV-Sparks
NY-Beacon
NY-Bronx
NY-Buffalo
NY-Cheektowaga
NY-Constantia
NY-Greece
NY-Malone
NY-Middletown
NY-Mount Vernon
NY-New City
NY-New Paltz
NY-Potsdam
NY-Rochester
NY-Rotterdam
NY-Schenectady
NY-Syracuse
NY-Troy
NY-Yonkers
OH-Akron
OH-Ashtabula
OH-Beverly
OH-Brookville
OH-Canton
OH-Celina
OH-Cincinnati
OH-Circleville
OH-Dayton
OH-Englewood
OH-Euclid
OH-Fairborn
OH-Findlay
OH-Hamilton
OH-Hudson
OH-Mansfield
OH-Medina
OH-Montpelier
OH-North Royalton
OH-Northwood
OH-Oak Hill
OH-Richmond Heights
OH-Rome
OH-Springfield
OH-Tiffin
OH-Toledo
OH-Uniontown
OH-Vandalia
OH-Westerville
OH-Westlake
OH-Zanesville
OK-Anadarko
OK-Ardmore
OK-Bartlesville
OK-Bethany
OK-Broken Bow
OK-Burns Flat
OK-Byars
OK-Byng
OK-Cache
OK-Chickasha
OK-Colbert
OK-Cushing
OK-Edmond
OK-Eufaula
OK-Fairfax
OK-Fairland
OK-Guthrie
OK-Healdton
OK-Hominy
OK-Kellyville
OK-Kiowa
OK-Lawton
OK-Leedey
OK-McAlester
OK-Miami
OK-Midwest City
OK-Millerton
OK-Muskogee
OK-Okemah
OK-Oklahoma City
OK-Ponca City
OK-Pryor
OK-Roland
OK-Rush Springs
OK-Sallisaw
OK-Sand Springs
OK-Schulter
OK-Stillwater
OK-Tahlequah
OK-Tulsa
OK-Wagoner
OK-Watts
OK-Wetumka
OK-Wewoka
OR-Aloha
OR-Beaverton
OR-Bend
OR-Burns
OR-Dallas
OR-Eugene
OR-Florence
OR-Grants Pass
OR-Gresham
OR-King City
OR-McMinnville
OR-Medford
OR-Oregon City
OR-Portland
OR-Salem
OR-Seaside
OR-Springfield
OR-Tualatin
OR-West Linn
PA-Allentown
PA-Avella
PA-Bloomsburg
PA-Campbelltown
PA-Chambersburg
PA-East Stroudsburg
PA-Harrisburg
PA-Hummelstown
PA-Johnstown
PA-Knoxville
PA-Lewistown
PA-Philadelphia
PA-Pittsburgh
PA-Pittston
PA-Reading
PA-Somerset
PA-South Greensburg
PA-Stewartstown
PA-West Chester
PA-Wilkinsburg
RI-Pawtucket
RI-Tiverton
SC-Aiken
SC-Boiling Springs
SC-Campobello
SC-Cayce
SC-Charleston
SC-Fountain Inn
SC-Goose Creek
SC-Greenville
SC-Hardeeville
SC-Irmo
SC-Iva
SC-Johnsonville
SC-Lake City
SC-Lake View
SC-Lancaster
SC-Landrum
SC-Latta
SC-Lexington
SC-Little Mountain
SC-Moncks Corner
SC-Myrtle Beach
SC-North Charleston
SC-Pelzer
SC-Pendleton
SC-Piedmont
SC-Seneca
SC-Spartanburg
SC-Summerville
SC-Sumter
SC-Taylors
SD-Kyle
SD-Lead
SD-Mitchell
SD-Rapid City
SD-Rapid Valley
SD-Rosebud
SD-Sioux Falls
TN-Alamo
TN-Arlington
TN-Bristol
TN-Chattanooga
TN-Clarksville
TN-Columbia
TN-Dickson
TN-East Ridge
TN-Elizabethton
TN-Estill Springs
TN-Franklin
TN-Gallatin
TN-Hendersonville
TN-Hohenwald
TN-Humboldt
TN-Jackson
TN-Johnson City
TN-Knoxville
TN-Lakeland
TN-Lenoir City
TN-Lewisburg
TN-McLemoresville
TN-Memphis
TN-Monteagle
TN-Morristown
TN-Oneida
TN-Sevierville
TN-Shelbyville
TN-Soddy-Daisy
TN-Somerville
TN-Sparta
TN-Spring Hill
TX-Abilene
TX-Addison
TX-Allen
TX-Amarillo
TX-Arlington
TX-Austin
TX-Azle
TX-Balch Springs
TX-Baytown
TX-Beaumont
TX-Beckville
TX-Bellville
TX-Boerne
TX-Brookshire
TX-Brownsville
TX-Carrollton
TX-Chapeno
TX-Cisco
TX-Clute
TX-Conroe
TX-Corpus Christi
TX-Dallas
TX-DeSoto
TX-Del Rio
TX-Denton
TX-Edinburg
TX-El Paso
TX-Euless
TX-Fort Stockton
TX-Fort Worth
TX-Freeport
TX-Friendswood
TX-Fritch
TX-Fulshear
TX-Garland
TX-Gilmer
TX-Gladewater
TX-Groveton
TX-Harker Heights
TX-Houston
TX-Hurst
TX-Hutchins
TX-Irving
TX-Jourdanton
TX-Katy
TX-Kerrville
TX-Killeen
TX-Kingsbury
TX-Lake Jackson
TX-Levelland
TX-Lockhart
TX-Longview
TX-Lorena
TX-Lufkin
TX-Mabank
TX-Mansfield
TX-Midland
TX-Midlothian
TX-Nacogdoches
TX-Odessa
TX-Onalaska
TX-Palestine
TX-Panhandle
TX-Paris
TX-Pearland
TX-Pharr
TX-Plano
TX-Ponder
TX-Port Arthur
TX-Rosenberg
TX-Rosser
TX-Saginaw
TX-San Angelo
TX-San Antonio
TX-Seagoville
TX-Sierra Blanca
TX-Splendora
TX-Springtown
TX-Tahoka
TX-Temple
TX-Tomball
TX-Waco
TX-Weatherford
TX-Webster
TX-West Odessa
TX-Whitewright
TX-Wichita Falls
TX-Wink
TX-Winnie
UT-Centerville
UT-Clearfield
UT-Draper
UT-Eagle Mountain
UT-Ogden
UT-Parowan
UT-Provo
UT-Roosevelt
UT-Roy
UT-Salt Lake City
UT-Spanish Fork
UT-Syracuse
UT-West Jordan
VA-Alexandria
VA-Arlington
VA-Chesapeake
VA-Concord
VA-Culpeper
VA-Emporia
VA-Falls Church
VA-Fredericksburg
VA-Grundy
VA-Harrisonburg
VA-Herndon
VA-Hopewell
VA-King George
VA-Newport News
VA-Norfolk
VA-Pearisburg
VA-Portsmouth
VA-Pulaski
VA-Richmond
VA-Roanoke
VA-Stafford
VA-Suffolk
VA-Virginia Beach
VA-Winchester
VT-Burlington
VT-Winooski
WA-Auburn
WA-Bainbridge Island
WA-Bellingham
WA-Burien
WA-Cle Elum
WA-Des Moines
WA-East Wenatchee
WA-Everett
WA-Federal Way
WA-Graham
WA-Grapeview
WA-Kelso
WA-Kennewick
WA-Kent
WA-Kirkland
WA-Lacey
WA-Lake Stevens
WA-Lakewood
WA-Lynnwood
WA-Olympia
WA-Pasco
WA-Richland
WA-Ridgefield
WA-Seattle
WA-Shelton
WA-Snohomish
WA-Spanaway
WA-Sumas
WA-Tacoma
WA-Tukwila
WA-Vancouver
WA-Wapato
WA-Wenatchee
WA-Woodland
WA-Yakima
WI-Antigo
WI-Appleton
WI-Ashwaubenon
WI-Beaver Dam
WI-East Troy
WI-Eau Claire
WI-Fond du Lac
WI-Green Bay
WI-Greenfield
WI-Jackson
WI-Kenosha
WI-Lake Hallie
WI-Madison
WI-Millston
WI-Milwaukee
WI-Monroe
WI-Neenah
WI-New London
WI-Oshkosh
WI-Paddock Lake
WI-Pembine
WI-Pine River
WI-Rib Mountain
WI-Waukesha
WI-Wauwatosa
WI-West Allis
WI-Weston
WV-Beckley
WV-Bluefield
WV-Brandywine
WV-Buckhannon
WV-Clendenin
WV-Elkins
WV-Fairmont
WV-Follansbee
WV-Fort Ashby
WV-Grafton
WV-Hometown
WV-Meadow Bridge
WV-Montcalm
WV-Morgantown
WV-Mount Hope
WV-Nitro
WV-Princeton
WV-Spencer
WV-Weirton
WY-Cheyenne
WY-Douglas
WY-Gillette
WY-Laramie
WY-Rawlins
1
Replaced cities  1189
 Was Missing  344

,index,Geographic area,City,share_white,share_black,share_native_american,share_asian,share_hispanic,city,Median Income,poverty_rate,percent_completed_hs
0,0,AK,Adak city,19.6,4,5.5,52.5,8.9,AK-Adak city,78500,39.3,93.4
1,1,AK,Akhiok city,8.5,1.4,50.7,1.4,11.3,AK-Akhiok city,26250,40.5,62.5
2,2,AK,Akiachak CDP,3.5,0.2,95.1,0.2,0.2,AK-Akiachak CDP,38750,26.1,76.7
3,3,AK,Akiak city,5.2,0,92.8,0,0.3,AK-Akiak city,42000,31.3,81.3
4,4,AK,Akutan city,23.3,17.9,5.5,43.3,20.8,AK-Akutan city,24750,16.1,73
...,...,...,...,...,...,...,...,...,...,...,...,...
29816,29816,WV,Braxton County,NaN,NaN,NaN,NaN,NaN,WV-Braxton County,NaN,NaN,NaN
29817,29817,WV,Gerrardstown,NaN,NaN,NaN,NaN,NaN,WV-Gerrardstown,NaN,NaN,NaN
29818,29818,WV,Hensley,NaN,NaN,NaN,NaN,NaN,WV-Hensley,NaN,NaN,NaN
29819,29819,WV,Petroleum,NaN,NaN,NaN,NaN,NaN,WV-Petroleum,NaN,NaN,NaN
29820,29820,WY,Casper,NaN,NaN,NaN,NaN,NaN,WY-Casper,NaN,NaN,NaN

In [269]:
cities2 = df_temp['city'].tolist()
cities2 =list(set(cities2))
j = 0
for i in cities:
    # print(i in cities2)
    # print(i)
    # print(cities2.index(i[0::1]))
    if(i in  cities2):
        j+=1
#confirming that all the cities were placed in
print(j)

1534

In [270]:
df_temp.sort_values(by=['city'], inplace=True)
df_temp

,index,Geographic area,City,share_white,share_black,share_native_american,share_asian,share_hispanic,city,Median Income,poverty_rate,percent_completed_hs
0,0,AK,Adak city,19.6,4,5.5,52.5,8.9,AK-Adak city,78500,39.3,93.4
1,1,AK,Akhiok city,8.5,1.4,50.7,1.4,11.3,AK-Akhiok city,26250,40.5,62.5
2,2,AK,Akiachak CDP,3.5,0.2,95.1,0.2,0.2,AK-Akiachak CDP,38750,26.1,76.7
3,3,AK,Akiak city,5.2,0,92.8,0,0.3,AK-Akiak city,42000,31.3,81.3
4,4,AK,Akutan city,23.3,17.9,5.5,43.3,20.8,AK-Akutan city,24750,16.1,73
...,...,...,...,...,...,...,...,...,...,...,...,...
29472,29472,WY,Woods Landing-Jelm CDP,95.9,0,0,2.1,0,WY-Woods Landing-Jelm CDP,NaN,18.6,100
29473,29473,WY,Worland city,89.9,0.3,1.3,0.6,16.6,WY-Worland city,41523,15.3,85.6
29474,29474,WY,Wright town,94.5,0.1,1.4,0.2,6.2,WY-Wright town,77114,5.9,89.2
29475,29475,WY,Y-O Ranch CDP,92.8,1.5,2.6,0,11.8,WY-Y-O Ranch CDP,NaN,0,100
29476,29476,WY,Yoder town,97.4,0,0,0,4,WY-Yoder town,37500,5.4,79.4

In [271]:
"""
We want to impute the city and our state/Geographic area such that we have a full comprehensive list of both
separately after the merge.
Then we want to get a list of race names within the df_race_city.
"""

df_temp['Geographic area'] = [i[0:2] for i in df_temp['city']]
df_temp['City'] = [i[3:] for i in df_temp['city']]
print(df_temp)
list_states = df_temp['Geographic area'].values.tolist()
list_states = list(set(list_states))
#we expect to see 51 including DC as a state
print(len(list_states))
columns_race = df_temp.columns.values.tolist()
s = 'share'
columns_race = [string for string in columns_race if(s in string)]
columns_race

       index Geographic area                    City share_white share_black  \
0          0              AK               Adak city        19.6           4
1          1              AK             Akhiok city         8.5         1.4
2          2              AK            Akiachak CDP         3.5         0.2
3          3              AK              Akiak city         5.2           0
4          4              AK             Akutan city        23.3        17.9
...      ...             ...                     ...         ...         ...
29472  29472              WY  Woods Landing-Jelm CDP        95.9           0
29473  29473              WY            Worland city        89.9         0.3
29474  29474              WY             Wright town        94.5         0.1
29475  29475              WY           Y-O Ranch CDP        92.8         1.5
29476  29476              WY              Yoder town        97.4           0

      share_native_american share_asian share_hispanic  \
0                       5.5        52.5            8.9
1                      50.7         1.4           11.3
2                      95.1         0.2            0.2
3                      92.8           0            0.3
4                       5.5        43.3           20.8
...                     ...         ...            ...
29472                     0         2.1              0
29473                   1.3         0.6           16.6
29474                   1.4         0.2            6.2
29475                   2.6           0           11.8
29476                     0           0              4

                            city Median Income poverty_rate  \
0                   AK-Adak city         78500         39.3
1                 AK-Akhiok city         26250         40.5
2                AK-Akiachak CDP         38750         26.1
3                  AK-Akiak city         42000         31.3
4                 AK-Akutan city         24750         16.1
...                          ...           ...          ...
29472  WY-Woods Landing-Jelm CDP           NaN         18.6
29473            WY-Worland city         41523         15.3
29474             WY-Wright town         77114          5.9
29475           WY-Y-O Ranch CDP           NaN            0
29476              WY-Yoder town         37500          5.4

      percent_completed_hs
0                     93.4
1                     62.5
2                     76.7
3                     81.3
4                       73
...                    ...
29472                  100
29473                 85.6
29474                 89.2
29475                  100
29476                 79.4

[29821 rows x 12 columns]
51

['share_white',
 'share_black',
 'share_native_american',
 'share_asian',
 'share_hispanic']

In [272]:
"""
Now we can impute the porportion of missing cities based on the state's porportions
"""
for state in list_states:
    j=0
    list_total_races = []
    state_df = df_temp.loc[df_temp['Geographic area'] == state]
    for i in columns_race:
        state_df[i] = state_df[i].astype(float)
        list_total_races.append(state_df[i].sum())
        print(list_total_races[j])
        j+=1
    sum_all_races = sum(list_total_races)
    porportional_share = [i/sum_all_races for i in list_total_races]
    #print(porportional_share, " sum= ", sum(porportional_share))
    j=0
    for i in columns_race:
        state_df[i] = state_df[i].fillna(porportional_share[j])
        j+=1
    df_temp.loc[df_temp['Geographic area'] == state] = state_df
print(df_temp.info())
df_temp.sort_values(by=['city'], inplace=True)
df_temp

123518.1
6430.800000000001
357.9
1828.2999999999997
7068.1
24480.399999999998
12969.599999999999
182.8
292.3
1767.8
144370.7
10277.8
1151.6999999999998
1773.8000000000002
68809.79999999999
30657.300000000003
14556.8
452.8
372.0
1407.9
39182.299999999996
19176.600000000002
188.0
933.7
4015.8999999999996
71858.5
724.5
2025.5
611.3
2568.9
21790.300000000003
680.9
64.7
693.4
1201.9
11408.099999999999
91.70000000000002
44.0
108.30000000000003
164.20000000000002
10620.1
202.2
719.4000000000001
258.9
1699.3999999999999
97576.2
568.5999999999999
273.8
404.40000000000003
2844.4
19475.6
15143.9
584.5
197.7
840.5
72378.70000000001
12301.199999999999
419.0
1487.4
15206.8
18659.5
80.69999999999999
625.2
78.7
1215.6
51732.100000000006
895.9000000000001

C:\Users\saads\CSE 351\CSE 351 Proj\venv\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == "__main__":
C:\Users\saads\CSE 351\CSE 351 Proj\venv\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

2355.2
1930.8000000000002
6662.1
83171.0
906.7
3047.0
929.3
2857.4
62744.7
2854.0
745.3
660.3
2446.5
5038.799999999999
161.7
58.60000000000001
3873.9
1564.1
16068.800000000001
199.70000000000002
16144.4
488.7
756.5
33078.9
113.1
4690.400000000001
124.0
794.4000000000001
62377.899999999994
644.5
1256.9
286.1
3403.1
108949.3
4081.1
2612.2000000000003
8441.4
44949.2
37009.799999999996
143.3
2137.3
117.69999999999999
731.0
38109.200000000004
1169.0
80.30000000000001
136.8
362.59999999999997
12534.900000000001
107.39999999999999
71.4
135.2
172.0
105676.29999999999
4765.2
429.6
3233.3
7882.099999999999
29158.5
125.5
1261.7
251.3
2498.2
30833.699999999997
82.7
4332.900000000001
116.4
800.1
9185.4
68.7
27.6
128.9
167.49999999999997
27028.0
430.5
12894.0
327.7
9085.2
37356.299999999996
10082.3
176.6
1543.7
3072.5
52850.7
15077.300000000001
1321.4
684.5
4739.1
5794.700000000001
1169.8999999999999
39.800000000000004
152.0
563.7000000000002
38.5
50.7
0.3
3.5
9.1
12313.100000000002
713.8999999999999
93.9
427.5
1140.5
111736.1
4767.8
258.9
904.8
2565.0
3033.6999999999994
101.60000000000002
22.8
57.4
226.69999999999996
20161.6
67.0
573.1
110.69999999999999
2427.8
53454.6
2474.8
10542.1
312.6
4175.5
44086.9
9757.9
202.3
2168.3999999999996
3636.4
32947.2
199.10000000000002
973.3000000000001
519.8
3676.0999999999995
48419.1
2321.1000000000004
110.30000000000001
373.3
1168.4
54936.2
243.89999999999998
904.7
169.3
2360.7
40197.899999999994
420.30000000000007
744.2
528.9000000000001
8197.6
42441.2
8816.6
411.1
258.1
2311.7
164498.7
5768.7
285.0
1744.6
4820.2
38158.3
3132.9
135.8
273.4
1225.3
64669.899999999994
1151.4
188.10000000000002
400.2
2263.0
93066.8
6049.9
560.0999999999999
565.8
2433.4
28980.4
295.5
6795.799999999999
218.8
20127.5
44084.799999999996
3801.4
140.10000000000002
3239.9
6062.0
41909.200000000004
13480.3
381.09999999999997
277.29999999999995
1722.5
<class 'pandas.core.frame.DataFrame'>
Int64Index: 29821 entries, 0 to 29476
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   index                  29821 non-null  int64
 1   Geographic area        29821 non-null  object
 2   City                   29821 non-null  object
 3   share_white            29821 non-null  object
 4   share_black            29821 non-null  object
 5   share_native_american  29821 non-null  object
 6   share_asian            29821 non-null  object
 7   share_hispanic         29821 non-null  object
 8   city                   29821 non-null  object
 9   Median Income          27418 non-null  object
 10  poverty_rate           29128 non-null  object
 11  percent_completed_hs   29132 non-null  object
dtypes: int64(1), object(11)
memory usage: 3.0+ MB
None

,index,Geographic area,City,share_white,share_black,share_native_american,share_asian,share_hispanic,city,Median Income,poverty_rate,percent_completed_hs
0,0,AK,Adak city,19.6,4.0,5.5,52.5,8.9,AK-Adak city,78500,39.3,93.4
1,1,AK,Akhiok city,8.5,1.4,50.7,1.4,11.3,AK-Akhiok city,26250,40.5,62.5
2,2,AK,Akiachak CDP,3.5,0.2,95.1,0.2,0.2,AK-Akiachak CDP,38750,26.1,76.7
3,3,AK,Akiak city,5.2,0.0,92.8,0.0,0.3,AK-Akiak city,42000,31.3,81.3
4,4,AK,Akutan city,23.3,17.9,5.5,43.3,20.8,AK-Akutan city,24750,16.1,73
...,...,...,...,...,...,...,...,...,...,...,...,...
29472,29472,WY,Woods Landing-Jelm CDP,95.9,0.0,0.0,2.1,0.0,WY-Woods Landing-Jelm CDP,NaN,18.6,100
29473,29473,WY,Worland city,89.9,0.3,1.3,0.6,16.6,WY-Worland city,41523,15.3,85.6
29474,29474,WY,Wright town,94.5,0.1,1.4,0.2,6.2,WY-Wright town,77114,5.9,89.2
29475,29475,WY,Y-O Ranch CDP,92.8,1.5,2.6,0.0,11.8,WY-Y-O Ranch CDP,NaN,0,100
29476,29476,WY,Yoder town,97.4,0.0,0.0,0.0,4.0,WY-Yoder town,37500,5.4,79.4

In [273]:
df_temp['Median Income'] = pd.to_numeric(df_temp['Median Income'], errors='coerce')
df_temp['poverty_rate'] = pd.to_numeric(df_temp['poverty_rate'], errors='coerce')
df_temp['percent_completed_hs'] = pd.to_numeric(df_temp['percent_completed_hs'], errors='coerce')
for state in list_states:
    state_df = df_temp.loc[df_temp['Geographic area'] == state]
    state_df['Median Income'] = state_df['Median Income'].fillna(state_df['Median Income'].mean())
    state_df['poverty_rate'] = state_df['poverty_rate'].fillna(state_df['poverty_rate'].mean())
    state_df['percent_completed_hs'] =state_df['percent_completed_hs'].fillna(state_df['percent_completed_hs'].mean())
    df_temp.loc[df_temp['Geographic area'] == state] = state_df
df_temp.sort_values(by=['city'], inplace=True)
df_temp

C:\Users\saads\CSE 351\CSE 351 Proj\venv\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\saads\CSE 351\CSE 351 Proj\venv\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\saads\CSE 351\CSE 351 Proj\venv\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,index,Geographic area,City,share_white,share_black,share_native_american,share_asian,share_hispanic,city,Median Income,poverty_rate,percent_completed_hs
0,0,AK,Adak city,19.6,4.0,5.5,52.5,8.9,AK-Adak city,78500.000000,39.3,93.4
1,1,AK,Akhiok city,8.5,1.4,50.7,1.4,11.3,AK-Akhiok city,26250.000000,40.5,62.5
2,2,AK,Akiachak CDP,3.5,0.2,95.1,0.2,0.2,AK-Akiachak CDP,38750.000000,26.1,76.7
3,3,AK,Akiak city,5.2,0.0,92.8,0.0,0.3,AK-Akiak city,42000.000000,31.3,81.3
4,4,AK,Akutan city,23.3,17.9,5.5,43.3,20.8,AK-Akutan city,24750.000000,16.1,73.0
...,...,...,...,...,...,...,...,...,...,...,...,...
29472,29472,WY,Woods Landing-Jelm CDP,95.9,0.0,0.0,2.1,0.0,WY-Woods Landing-Jelm CDP,60874.993464,18.6,100.0
29473,29473,WY,Worland city,89.9,0.3,1.3,0.6,16.6,WY-Worland city,41523.000000,15.3,85.6
29474,29474,WY,Wright town,94.5,0.1,1.4,0.2,6.2,WY-Wright town,77114.000000,5.9,89.2
29475,29475,WY,Y-O Ranch CDP,92.8,1.5,2.6,0.0,11.8,WY-Y-O Ranch CDP,60874.993464,0.0,100.0
29476,29476,WY,Yoder town,97.4,0.0,0.0,0.0,4.0,WY-Yoder town,37500.000000,5.4,79.4

In [274]:
#make a list of df fT-oubaor each city
list_df_cities = []
for i in cities:
    list_df_cities.append(df_total.loc[df_total['city'] == i])

In [275]:
#make a list of race
races = df_total['race'].tolist()
races =list(set(races))
races = races[1::]
races

['A', 'H', 'W', 'N', 'O', 'B']

In [276]:
mode_total = df_total['race'].mode(dropna=True).tolist()
print(mode_total)
for i in list_df_cities:
    mode = i['race'].mode(dropna=True)
    if(len(mode) == 0):
        i[['race']] = i[['race']].fillna(mode_total[0])
        if(i['race'].isnull().sum() != 0):
            print("null val")
    elif(isinstance(mode, type(i['race']))):
        mode.dropna()
        mode = mode.tolist()
        #if the mode has more than one value then take a random choice between the values
        i[['race']] = i[['race']].fillna(random.choice(tuple(mode)))



    df_total.loc[df_total['city'] ==  i.at[i.first_valid_index(),'city']] = i
df_total.info()

['W']

C:\Users\saads\CSE 351\CSE 351 Proj\venv\lib\site-packages\pandas\core\frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2535 entries, 0 to 2534
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       2535 non-null   int64
 1   name                     2535 non-null   object
 2   date                     2535 non-null   object
 3   manner_of_death          2535 non-null   object
 4   armed                    2526 non-null   object
 5   age                      2458 non-null   float64
 6   gender                   2535 non-null   object
 7   race                     2535 non-null   object
 8   city                     2535 non-null   object
 9   state                    2535 non-null   object
 10  signs_of_mental_illness  2535 non-null   bool
 11  threat_level             2535 non-null   object
 12  flee                     2470 non-null   object
 13  body_camera              2535 non-null   bool
dtypes: bool(2), float64(1), int64(1), object(10)
memory usage: 242.7+ KB

In [277]:
 # removed all data wiht NaN in race Column...df_training[df_training['race'].isnull()]
df_total

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
0,3,Tim Elliot,02/01/15,shot,gun,53.0,M,A,WA-Shelton,WA,True,attack,Not fleeing,False
1,4,Lewis Lee Lembke,02/01/15,shot,gun,47.0,M,W,OR-Aloha,OR,False,attack,Not fleeing,False
2,5,John Paul Quintero,03/01/15,shot and Tasered,unarmed,23.0,M,H,KS-Wichita,KS,False,other,Not fleeing,False
3,8,Matthew Hoffman,04/01/15,shot,toy weapon,32.0,M,W,CA-San Francisco,CA,True,attack,Not fleeing,False
4,9,Michael Rodriguez,04/01/15,shot,nail gun,39.0,M,H,CO-Evans,CO,False,attack,Not fleeing,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2530,2822,Rodney E. Jacobs,28/07/17,shot,gun,31.0,M,B,MO-Kansas City,MO,False,attack,Not fleeing,False
2531,2813,TK TK,28/07/17,shot,vehicle,NaN,M,H,NM-Albuquerque,NM,False,attack,Car,False
2532,2818,Dennis W. Robinson,29/07/17,shot,gun,48.0,M,W,ID-Melba,ID,False,attack,Car,False
2533,2817,Isaiah Tucker,31/07/17,shot,vehicle,28.0,M,B,WI-Oshkosh,WI,False,attack,Car,True
2534,2815,Dwayne Jeune,31/07/17,shot,knife,32.0,M,B,NY-Brooklyn,NY,True,attack,Not fleeing,False

In [278]:
"""
We noticed that some of the 'age' data is missing.
So we imputed the average age of the people in each city and imputed the average age for the missing ages based on their city.
1. We calculate the total mean age of our total data sample.
2. We group by city, then calculate the mean Age at each city.
3. For each NaN age, we impute the mean age of that city. If that city was not calcuated (meaning this data is the only one from that city), we will use the total mean age.
"""
age_fix = df_total[['id','age','city']].copy()
age_fix = age_fix[age_fix['age'].isnull()].copy()
# 1. Calculate Total Mean Age
total_mean_age = df_total['age'].mean()

# 2. Calculate Mean of Each City
city_mean_ages = df_total.groupby('city')['age'].mean()

#3. Impute Age by the city. If City data does not exist, use Total Mean Age.
for i in age_fix.index:
    city = age_fix['city'][i]
    if city in city_mean_ages and not np.isnan(city_mean_ages[city]):
        age_fix['age'][i] = city_mean_ages[city]
    else:
        age_fix['age'][i] = total_mean_age


# update total list
df_total.update(age_fix)

df_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2535 entries, 0 to 2534
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       2535 non-null   float64
 1   name                     2535 non-null   object
 2   date                     2535 non-null   object
 3   manner_of_death          2535 non-null   object
 4   armed                    2526 non-null   object
 5   age                      2535 non-null   float64
 6   gender                   2535 non-null   object
 7   race                     2535 non-null   object
 8   city                     2535 non-null   object
 9   state                    2535 non-null   object
 10  signs_of_mental_illness  2535 non-null   bool
 11  threat_level             2535 non-null   object
 12  flee                     2470 non-null   object
 13  body_camera              2535 non-null   bool
dtypes: bool(2), float64(2), object(10)
memory usage: 242.7+ KB

C:\Users\saads\CSE 351\CSE 351 Proj\venv\lib\site-packages\ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\saads\CSE 351\CSE 351 Proj\venv\lib\site-packages\ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [279]:
"""
We noticed there were missing values for 'armed' and 'flee'. For these, we imputed the most frequent data that appeared.
These are listed in the variables flee_mode and armed_mode
"""
flee_mode = df_total['flee'].agg(pd.Series.mode).values.tolist()[0]
armed_mode = df_total['armed'].agg(pd.Series.mode).values.tolist()[0]
df_total['flee'].fillna(flee_mode, inplace=True)
df_total['armed'].fillna(armed_mode, inplace=True)
df_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2535 entries, 0 to 2534
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       2535 non-null   float64
 1   name                     2535 non-null   object
 2   date                     2535 non-null   object
 3   manner_of_death          2535 non-null   object
 4   armed                    2535 non-null   object
 5   age                      2535 non-null   float64
 6   gender                   2535 non-null   object
 7   race                     2535 non-null   object
 8   city                     2535 non-null   object
 9   state                    2535 non-null   object
 10  signs_of_mental_illness  2535 non-null   bool
 11  threat_level             2535 non-null   object
 12  flee                     2535 non-null   object
 13  body_camera              2535 non-null   bool
dtypes: bool(2), float64(2), object(10)
memory usage: 242.7+ KB

In [280]:
"""
****GIVE EXPLANATION OF OUR ENTIRE PROCESS
########################### END OF DATA MUNGING##########################
"""

'\n****GIVE EXPLANATION OF OUR ENTIRE PROCESS\n########################### END OF DATA MUNGING##########################\n'

In [281]:
"""
Now that we have the most accurate imputation using all of the support data. We want to hold a dataframe that contains cities that are also in the main data frame.
"""
j=0
df_support = pd.DataFrame(columns=columns_supp)
for i in cities:
    newDf= df_temp[df_temp['city'] == i].copy()
    if(len(newDf) > 1):
        print(i)
        print(newDf.info())
        print(newDf)
    df_support = df_support.append(newDf, ignore_index=True)
    df_support.drop_duplicates(inplace=True)
    j+=1
print(j)
print(df_support.info())
print(len(cities))
df_support

1534
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1534 entries, 0 to 1533
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Geographic area        1534 non-null   object
 1   City                   1534 non-null   object
 2   share_white            1534 non-null   object
 3   share_black            1534 non-null   object
 4   share_native_american  1534 non-null   object
 5   share_asian            1534 non-null   object
 6   share_hispanic         1534 non-null   object
 7   city                   1534 non-null   object
 8   Median Income          1534 non-null   float64
 9   poverty_rate           1534 non-null   float64
 10  percent_completed_hs   1534 non-null   float64
 11  index                  1534 non-null   float64
dtypes: float64(4), object(8)
memory usage: 155.8+ KB
None
1534

,Geographic area,City,share_white,share_black,share_native_american,share_asian,share_hispanic,city,Median Income,poverty_rate,percent_completed_hs,index
0,AK,Anchorage,66.0,5.6,7.9,8.1,7.6,AK-Anchorage,78326.0,8.2,93.0,14.0
1,AK,Barrow,16.9,1.0,61.2,9.1,3.1,AK-Barrow,76902.0,11.7,84.6,25.0
2,AK,Big Lake,86.1,0.2,7.0,0.5,3.1,AK-Big Lake,70988.0,9.6,90.4,32.0
3,AK,Fairbanks,66.1,9.0,10.0,3.6,9.0,AK-Fairbanks,55229.0,13.1,91.2,95.0
4,AK,Houston,82.2,0.4,6.7,0.6,3.3,AK-Houston,50438.0,14.8,90.2,135.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1529,WY,Cheyenne,87.4,2.9,1.0,1.2,14.5,WY-Cheyenne,58219.0,11.2,93.4,29312.0
1530,WY,Douglas,94.4,0.3,0.8,0.2,7.6,WY-Douglas,60060.0,9.2,91.2,29327.0
1531,WY,Gillette,92.2,0.4,1.2,0.7,9.5,WY-Gillette,74165.0,9.0,90.4,29350.0
1532,WY,Laramie,89.5,1.3,0.7,3.2,9.2,WY-Laramie,39371.0,30.0,96.7,29383.0
1533,WY,Rawlins,84.7,1.1,1.3,1.0,24.3,WY-Rawlins,56838.0,15.7,88.3,29428.0

In [ ]:
"""
Data Analysis
"""